{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {%
    endblock %} {% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/start.html">Calculate funding</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="../specifications.html">Specifications</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="../specifications.html">DSG SIT</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">Create new data set relationship</li>
            </ol>
            </ol>
        </div>
        <h1 class="govuk-heading-xl">
            Create relationship from SQL
        </h1>
    </div>
</div>

<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h3 class="govuk-heading-m">Select a data set and version</h3>
        </legend>

        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio"
                    value="email" data-aria-controls="conditional-how-contacted-conditional" />
                <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                    APT Adjusted Factors Phase 1 QA
                    <span class="govuk-hint">
                        <strong>Description:</strong> Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Aliquam congue diam sit amet dui
                        posuere
                    </span>
                </label>
            </div>

            <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                id="conditional-how-contacted-conditional">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h4 class="govuk-heading-s">Select data source version</h4>
                        </legend>
                        <div class="govuk-radios govuk-radios--small">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio"
                                    value="month" />
                                <label class="govuk-label govuk-radios__label" for="changed-name">
                                    APT Adjusted Factors Phase 1 QA (version 10)

                                    <div class="govuk-!-margin-top-1">
                                        <details class="govuk-details  summary-margin-removal"
                                            data-module="govuk-details">
                                            <summary class="govuk-details__summary ">
                                                <span class="govuk-details__summary-text">
                                                    Version details
                                                </span>
                                            </summary>
                                            <div class="govuk-details__text summary-margin-removal">
                                                <p class="govuk-body-s">
                                                    <strong>Version notes:</strong> New data
                                                </p>
                                                <p class="govuk-body-s">
                                                    <strong>Last updated:</strong> 13th November 2019
                                                    10:54am
                                                </p>
                                                <p class="govuk-body-s">
                                                    <strong>Last updated by:</strong> Nathan Townsend
                                                </p>
                                            </div>
                                        </details>
                                    </div>
                                </label>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio"
                                    value="month" />
                                <label class="govuk-label govuk-radios__label" for="changed-name">
                                    APT Adjusted Factors Phase 1 QA (version 9)
                                    <div class="govuk-!-margin-top-1">
                                        <details class="govuk-details summary-margin-removal"
                                            data-module="govuk-details">
                                            <summary class="govuk-details__summary">
                                                <span class="govuk-details__summary-text">
                                                    Version details
                                                </span>
                                            </summary>
                                            <div class="govuk-details__text">
                                                <p class="govuk-body-s">
                                                    <strong>Version notes:</strong> New data
                                                </p>
                                                <p class="govuk-body-s">
                                                    <strong>Last updated:</strong> 13th November 2019
                                                    10:54am
                                                </p>
                                                <p class="govuk-body-s">
                                                    <strong>Last updated by:</strong> Nathan Townsend
                                                </p>
                                            </div>
                                        </details>
                                    </div>
                                </label>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio"
                                    value="month" />
                                <label class="govuk-label govuk-radios__label" for="changed-name">
                                    APT Adjusted Factors Phase 1 QA (version 8)
                                    <div class="govuk-!-margin-top-1">
                                        <details class="govuk-details summary-margin-removal"
                                            data-module="govuk-details">
                                            <summary class="govuk-details__summary">
                                                <span class="govuk-details__summary-text">
                                                    Version details
                                                </span>
                                            </summary>
                                            <div class="govuk-details__text">
                                                <p class="govuk-body-s">
                                                    <strong>Version notes:</strong> New data
                                                </p>
                                                <p class="govuk-body-s">
                                                    <strong>Last updated:</strong> 13th November 2019
                                                    10:54am
                                                </p>
                                                <p class="govuk-body-s">
                                                    <strong>Last updated by:</strong> Nathan Townsend
                                                </p>
                                            </div>
                                        </details>
                                    </div>
                                </label>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio"
                                    value="year" />
                                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                    APT Adjusted Factors Phase 1 QA (version 7)
                                    <div class="govuk-!-margin-top-1">
                                        <details class="govuk-details summary-margin-removal"
                                            data-module="govuk-details">
                                            <summary class="govuk-details__summary">
                                                <span class="govuk-details__summary-text">
                                                    Version details
                                                </span>
                                            </summary>
                                            <div class="govuk-details__text">
                                                <p class="govuk-body-s">
                                                    <strong>Version notes:</strong> New data
                                                </p>
                                                <p class="govuk-body-s">
                                                    <strong>Last updated:</strong> 13th November 2019
                                                    10:54am
                                                </p>
                                                <p class="govuk-body-s">
                                                    <strong>Last updated by:</strong> Nathan Townsend
                                                </p>
                                            </div>
                                        </details>
                                    </div>
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio"
                                    value="year" />

                                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                    APT Adjusted Factors Phase 1 QA (version 6)
                                    <div class="govuk-!-margin-top-1">
                                        <details class="govuk-details summary-margin-removal"
                                            data-module="govuk-details">
                                            <summary class="govuk-details__summary">
                                                <span class="govuk-details__summary-text">
                                                    Version details
                                                </span>
                                            </summary>
                                            <div class="govuk-details__text">
                                                <p class="govuk-body-s">
                                                    <strong>Version notes:</strong> New data
                                                </p>
                                                <p class="govuk-body-s">
                                                    <strong>Last updated:</strong> 13th November 2019
                                                    10:54am
                                                </p>
                                                <p class="govuk-body-s">
                                                    <strong>Last updated by:</strong> Nathan Townsend
                                                </p>
                                            </div>
                                        </details>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <p class="govuk-body govuk-!-margin-top-5">
                    <a href="SQLdatasourceversions.html" class="govuk-link">View 5 more versions</a>
                </p>
            </div>
        </div>
    </fieldset>
</div>





<dl class="govuk-summary-list">
    <h3 class="govuk-heading-m govuk-!-margin-top-7">Summary for selected data set version</h3>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Display Name
        </dt>
        <dd class="govuk-summary-list__value">
            APT Adjusted Factors Phase 1 QA (version 10)
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Creation date </dt>
        <dd class="govuk-summary-list__value">
            <p class="govuk-body">13th November 2019 10:54am</p>

        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Description
        </dt>
        <dd class="govuk-summary-list__value">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue diam sit amet dui posuere.
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Number of rows
        </dt>
        <dd class="govuk-summary-list__value">
            112
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Number of columns
        </dt>
        <dd class="govuk-summary-list__value">
            87
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Grouping level </dt>
        <dd class="govuk-summary-list__value">
            ?
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Table name
        </dt>
        <dd class="govuk-summary-list__value">
            ?
        </dd>
    </div>

</dl>

<button class="govuk-button govuk-button" data-module="govuk-button">
    Download full table
</button>

</br>
</br>


<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h3 class="govuk-heading-m govuk-!-margin-top-5">
                Is the provider within scope?
            </h3>
        </legend>
        <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="changed-name">
                    Yes
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                    No
                </label>
            </div>
        </div>
    </fieldset>
</div>
</fieldset>



<a href="" button class="govuk-button" data-module="govuk-button">
    Save and continue</a>
</button>
<a href="createnewdataset.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Cancel
</a>


{% endblock %}