{% extends "layout.html" %}

{% block pageTitle %}
Permissions management
{% endblock %}

{% block content %}

<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.js"></script>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="#" class="govuk-back-link" onclick="goBack()">Back</a>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Set and view user permissions</h1>
    <p class="govuk-body">Assign and view permissions for users of Calculate funding service (<abbr
        title="Manage your education and skills funding">CFS</abbr>).</p>
  </div>
</div>

<form action="permissions-management/user-permissions" method="post" class="form">
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--s" for="user-select">Enter the user you wish to view, assign, or change
          permissions for</label>
      </h1>
      <fieldset class="govuk-fieldset">
        <div class="autocomplete-wrapper">
          <select name="user-select" class="govuk-select" id="user-select">
            <option value="">Select a user</option>
            <option value="Robert Sparks">Robert Sparks</option>
            <option value="Alan Nichols">Alan Nichols</option>
            <option value="Bethan Phillimore">Bethan Phillimore</option>
          </select>
        </div>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          Select funding stream
        </label>
        <select name="funding-stream" class="govuk-select" id="fundingStream">
          <option></option>
          <option value="16 to 19">16 to 19</option>
          <option value="14 to 16">14 to 16</option>
          <option value="General annual grant">General Annual Grant</option>
          <option value="Academy pupil number adjustment">Academy Pupil Number Adjustment</option>
        </select>
      </div>
    </div>
  </div>
  </fieldset>
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <button type="submit" class="govuk-button govuk-!-margin-right-1">Continue</button>
      <button class="govuk-button govuk-button--secondary" onclick="goBack()">Cancel</button>
    </div>
  </div>
</form>


<script type="text/javascript">
  var selectEl = document.querySelector('#user-select')
  accessibleAutocomplete.enhanceSelectElement({
    autoselect: true,
    confirmOnBlur: true,
    defaultValue: "",
    minLength: 2,
    selectElement: selectEl,
  })

  var queryStringParameters = window.location.search
  var previouslySubmitted = queryStringParameters.length > 0
  if (previouslySubmitted) {
    var submittedEl = document.querySelector('.submitted')
    submittedEl.classList.remove('submitted--hidden')
    var params = new URLSearchParams(document.location.search.split('?')[1])
    document.querySelector('.submitted__last-location').innerHTML = params.get('user-select')
  }
</script>



{% endblock %}