{% extends "layout.html" %}

{% block pageTitle %}
Permissions management
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="#" class="govuk-back-link" onclick="goBack()">Back</a>
  </div>
</div>

<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.js"></script>

<div class="govuk-grid-row govuk-!-margin-top-1">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2 govuk-!-margin-top-2">Set and view user permissions</h1>
    <p class="govuk-body">Assign and view permissions for users of Calculate funding service.</p>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-2">
  <div class="govuk-grid-column-two-thirds">
    <form action="user-permissions" method="post" class="form" novalidate data-validate="permissions">
      <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
          <label class="govuk-label" id="user-permissions" for="user-select">Enter the user you wish to view, assign, or
            change permissions for</label>
          <div class="autocomplete-wrapper">
            <select name="user-select" onchange="user()" class="govuk-select" id="user-select">
              <option></option>
              <option value="Robert SPARKS">Robert SPARKS</option>
              <option value="Alan NICHOLS">Alan NICHOLS</option>
              <option value="Bethan PHILLIMORE">Bethan PHILLIMORE</option>
            </select>
          </div>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="fundingStream">
            Select funding stream
          </label>
          <select name="funding-stream" class="govuk-select" id="fundingStream">
            <option></option>
            <option value="16 to 19">16 to 19</option>
            <option value="14 to 16">14 to 16</option>
            <option value="General annual grant">General Annual Grant</option>
            <option value="Academy pupil number adjustment">Academy Pupil Number Adjustment</option>
          </select>
        </div>

        <div class="govuk-button-group">
          <button type="submit" class="govuk-button">Continue
          </button>
          <a class="govuk-link" href="javascript:void(0);" onclick="check()">
            Cancel
          </a>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<script type="text/javascript">
  var selectEl = document.querySelector('#user-select')
  accessibleAutocomplete.enhanceSelectElement({
    autoselect: true,
    confirmOnBlur: true,
    defaultValue: "",
    minLength: 2,
    selectElement: selectEl,
    tNoResults: function () {
      return "No user found, only users who have confirmed skills are available"
    },
  })

  var queryStringParameters = window.location.search
  var previouslySubmitted = queryStringParameters.length > 0
  if (previouslySubmitted) {
    var submittedEl = document.querySelector('.submitted')
    submittedEl.classList.remove('submitted--hidden')
    var params = new URLSearchParams(document.location.search.split('?')[1])
    document.querySelector('.submitted__last-location').innerHTML = params.get('user-select')
  }
</script>

<script type="application/json" id="permissions">
  {
    "user-select": {
      "presence": {
        "message": "^Enter a user you wish to view, assign, or change permissions for"
      }
    },

    "funding-stream": {
      "presence": {
        "message": "^Select a funding stream"
      }
    }

  }
</script>

<script>
  function check() {

    //Array with inputs that evaluate to true or false based on input

    const inputs = [
      Boolean(document.getElementById("user-select").value),
      Boolean(document.getElementById("fundingStream").value),
    ]

    //starts the counter
    let counter = 0

    //increases counter by 1 for every true item in the array
    for (var i = 0; i <= inputs.length; i++) {
      if (inputs[i] === true) {
        document.getElementById('notSaved').style.display = 'block'
        counter++
      }
    }
    if (counter === 0) {
      history.back()
    }

  }
</script>


<div class="govuk-modal-dialogue" id="notSaved" data-module="govuk-modal-dialogue">
  {% include "includes/modal-dialogue.html" %}
</div>



{% endblock %}