{% extends "layout.html" %}

{% block pageTitle %}
Permissions management
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="#" class="govuk-back-link" onclick="goBack()">Back</a>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-notification-banner govuk-visually-hidden govuk-notification-banner--success"
            id="notification-banner" role="alert" aria-labelledby="govuk-notification-banner-title"
            data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Success
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading">
                    Permissions updated for <span id="user">{{ data['user-select'] }}</span> for
                    {{ data['funding-stream'] }}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Set and view user permissions
                    </h1>
                </legend>
                <div id="nationality-hint" class="govuk-hint govuk-!-margin-bottom-7">
                    Assign and view permissions for {{ data['user-select'] }} for
                    {{ data['funding-stream'] }} funding
                    stream.
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="can-administer-funding-streams"
                            name="can-administer-funding-streams" type="checkbox" value="Can administer a funding stream" aria-describedby="can-create-specifications-hint">
                        <label class="govuk-label govuk-checkboxes__label" for="can-administer-funding-streams">
                            Can administer a funding stream
                        </label>
                        <div id="can-administer-funding-streams-hint" class="govuk-hint govuk-checkboxes__hint">
                            Can grant and remove permissions for users of a funding stream
                        </div>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input checked class="govuk-checkboxes__input" id="can-create-specifications"
                            name="can-create-specifications" type="checkbox" value="Can create specifications"
                            aria-describedby="can-create-specifications-hint">
                        <label class="govuk-label govuk-checkboxes__label" for="can-create-specifications">
                            Can create specifications
                        </label>
                        <div id="can-create-specifications-hint" class="govuk-hint govuk-checkboxes__hint">
                            Can create a specification for the funding stream
                        </div>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input checked class="govuk-checkboxes__input" id="can-edit-specifications"
                            name="can-edit-specifications" type="checkbox" value="Can edit specifications"
                            aria-describedby="can-edit-specifications-hint">
                        <label class="govuk-label govuk-checkboxes__label" for="can-edit-specifications">
                            Can edit specifications
                        </label>
                        <div id="can-edit-specifications-hint" class="govuk-hint govuk-checkboxes__hint">
                            Can edit a specification for the funding stream
                        </div>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input checked class="govuk-checkboxes__input" id="can-approve-specifications"
                            name="can-approve-specifications" type="checkbox" value="Can approve specifications"
                            aria-describedby="can-approve-specifications-hint">
                        <label class="govuk-label govuk-checkboxes__label" for="can-approve-specifications">
                            Can approve specifications
                        </label>
                        <div id="can-approve-specifications-hint" class="govuk-hint govuk-checkboxes__hint">
                            Can approve a specification for the funding stream
                        </div>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input checked] class="govuk-checkboxes__input" id="can-edit-calculations"
                            name="can-edit-calculations" type="checkbox" value="Can edit calculations"
                            aria-describedby="can-edit-calculations-hint">
                        <label class="govuk-label govuk-checkboxes__label" for="can-edit-calculations">
                            Can edit calculations
                        </label>
                        <div id="can-edit-calculations-hint" class="govuk-hint govuk-checkboxes__hint">
                            Can edit calculations within a specification for the funding stream
                        </div>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="can-approve-calculations"
                            name="can-approve-calculations" type="checkbox" value="Can approve calculations"
                            aria-describedby="can-approve-calculations-hint">
                        <label checked class="govuk-label govuk-checkboxes__label" for="can-approve-calculations">
                            Can approve calculations
                        </label>
                        <div id="can-approve-calculations-hint" class="govuk-hint govuk-checkboxes__hint">
                            Can approve calculations last edited by another user
                        </div>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="can-approve-any-calculation"
                            name="can-approve-any-calculation" type="checkbox" value="Can approve any calculations">
                        <label class="govuk-label govuk-checkboxes__label" for="can-approve-any-calculation">
                            Can approve any calculations
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="can-map-data-source-files"
                            name="can-map-data-source-files" type="checkbox" value="Can map data source files"
                            aria-describedby="can-map-data-source-files-hint">
                        <label class="govuk-label govuk-checkboxes__label" for="can-map-data-source-files">
                            Can map data source files
                        </label>
                        <div id="can-map-data-source-files-hint" class="govuk-hint govuk-checkboxes__hint">
                            Can map data source files to datasets within a specification for the funding stream
                        </div>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="ccan-choose-funding" name="can-choose-funding"
                            type="checkbox" value="Can choose funding" aria-describedby="can-choose-funding-hint">
                        <label class="govuk-label govuk-checkboxes__label" for="can-choose-funding">
                            Can choose funding
                        </label>
                        <div id="can-choose-funding-hint" class="govuk-hint govuk-checkboxes__hint">
                            Can choose an approved specification for the funding stream so that funding allocation
                            values are generated and can be approved and released
                        </div>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="can-choose-funding" name="can-refresh-funding"
                            type="checkbox" value="Can refresh funding" aria-describedby="can-refresh-funding-hint">
                        <label class="govuk-label govuk-checkboxes__label" for="can-refresh-funding">
                            Can refresh funding
                        </label>
                        <div id="can-refresh-funding-hint" class="govuk-hint govuk-checkboxes__hint">
                            Can refresh the funding allocation values for a specification for the funding stream that
                            has been chosen for funding
                        </div>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="can-approve-funding" name="can-approve-funding"
                            type="checkbox" value="Can approve funding" aria-describedby="can-approve-funding-hint">
                        <label class="govuk-label govuk-checkboxes__label" for="can-approve-funding">
                            Can approve funding
                        </label>
                        <div id="can-approve-funding-hint" class="govuk-hint govuk-checkboxes__hint">
                            Can approve a funding allocation values for a specification for the funding stream that has
                            been chosen for funding
                        </div>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="can-release-funding" name="can-release-funding"
                            type="checkbox" value="Can release funding" aria-describedby="can-release-funding-hint">
                        <label class="govuk-label govuk-checkboxes__label" for="can-release-funding">
                            Can release funding
                        </label>
                        <div id="can-release-funding-hint" class="govuk-hint govuk-checkboxes__hint">
                            Can release funding allocation values to downstream services for a specification for the
                            funding stream that has been chosen for funding
                        </div>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="can-create-profile-pattern"
                            name="can-create-profile-pattern" type="checkbox" value="Can create profile pattern"
                            aria-describedby="can-create-profile-pattern-hint">
                        <label class="govuk-label govuk-checkboxes__label" for="can-create-profile-pattern">
                            Can create profile pattern
                        </label>
                        <div id="can-create-profile-pattern-hint" class="govuk-hint govuk-checkboxes__hint">
                            Can create profile patterns for funding lines within the funding stream
                        </div>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="can-edit-profile-pattern"
                            name="can-edit-profile-pattern" type="checkbox" value="Can edit profile pattern"
                            aria-describedby="can-edit-profile-pattern-hint">
                        <label class="govuk-label govuk-checkboxes__label" for="can-edit-profile-pattern">
                            Can edit profile pattern
                        </label>
                        <div id="can-edit-profile-pattern-hint" class="govuk-hint govuk-checkboxes__hint">
                            Can edit profile patterns for funding lines within the funding stream
                        </div>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="can-edit-profile-pattern"
                            name="can-edit-profile-pattern" type="checkbox" value="Can edit profile pattern"
                            aria-describedby="can-edit-profile-pattern-hint">
                        <label class="govuk-label govuk-checkboxes__label" for="can-edit-profile-pattern">
                            Can edit profile pattern
                        </label>
                        <div id="can-edit-profile-pattern-hint" class="govuk-hint govuk-checkboxes__hint">
                            Can edit profile patterns for funding lines within the funding stream
                        </div>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="can-delete-profile-pattern"
                            name="can-delete-profile-pattern" type="checkbox" value="Can delete profile pattern"
                            aria-describedby="can-delete-profile-pattern-hint">
                        <label class="govuk-label govuk-checkboxes__label" for="can-delete-profile-pattern">
                            Can delete profile pattern
                        </label>
                        <div id="can-delete-profile-pattern-hint" class="govuk-hint govuk-checkboxes__hint">
                            Can delete profile patterns for funding lines within the funding stream
                        </div>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="can-assign-profile-pattern"
                            name="can-assign-profile-pattern" type="checkbox" value="Can assign profile pattern"
                            aria-describedby="can-assign-profile-pattern-hint">
                        <label class="govuk-label govuk-checkboxes__label" for="can-assign-profile-pattern">
                            Can assign profile pattern
                        </label>
                        <div id="can-assign-profile-pattern-hint" class="govuk-hint govuk-checkboxes__hint">
                            Can assign profile patterns for funding lines within the funding stream
                        </div>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="can-apply-custom-profile-pattern"
                            name="can-apply-custom-profile-pattern" type="checkbox"
                            value="Can apply custom profile pattern"
                            aria-describedby="can-apply-custom-profile-pattern-hint">
                        <label class="govuk-label govuk-checkboxes__label" for="can-apply-custom-profile-pattern">
                            Can apply custom profile pattern
                        </label>
                        <div id="can-apply-custom-profile-pattern-hint" class="govuk-hint govuk-checkboxes__hint">
                            Can apply custom profile patterns for funding lines within the funding stream
                        </div>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="can-create-templates" name="can-create-templates"
                            type="checkbox" value="Can create templates" aria-describedby="can-create-templates-hint">
                        <label class="govuk-label govuk-checkboxes__label" for="can-create-templates">
                            Can create templates
                        </label>
                        <div id="can-create-templates-hint" class="govuk-hint govuk-checkboxes__hint">
                            Can create templates for the funding stream
                        </div>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="can-edit-templates" name="can-edit-templates"
                            type="checkbox" value="Can edit templates" aria-describedby="can-edit-templates-hint">
                        <label class="govuk-label govuk-checkboxes__label" for="can-edit-templates">
                            Can edit templates
                        </label>
                        <div id="can-edit-templates-hint" class="govuk-hint govuk-checkboxes__hint">
                            Can edit templates for the funding stream
                        </div>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="can-delete-templates" name="can-delete-templates"
                            type="checkbox" value="Can delete templates" aria-describedby="can-delete-templates-hint">
                        <label class="govuk-label govuk-checkboxes__label" for="can-delete-templates">
                            Can delete templates
                        </label>
                        <div id="can-delete-templates-hint" class="govuk-hint govuk-checkboxes__hint">
                            Can delete templates for the funding stream
                        </div>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="can-approve-templates" name="can-approve-templates"
                            type="checkbox" value="Can approve templates" aria-describedby="can-approve-templates-hint">
                        <label class="govuk-label govuk-checkboxes__label" for="can-approve-templates">
                            Can approve templates
                        </label>
                        <div id="can-approve-templates-hint" class="govuk-hint govuk-checkboxes__hint">
                            Can approve templates for the funding stream
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-columns-two-thirds">
        <button class="govuk-button govuk-!-margin-right-1"
            onclick="document.getElementById('notification-banner').classList.remove('govuk-visually-hidden').scrollTop"
            data-module="govuk-button">
            Save
        </button>
        <button class="govuk-button govuk-button--secondary" onclick="goBack()" data-module="govuk-button">
            Back
        </button>
    </div>
</div>

<script>
    let user = document.getElementById('user').innerText
    let checkboxes = document.querySelectorAll("input[type='checkbox']")
    let adminUsers = 'Robert Sparks'

    window.onload = function userPermissions() {
        console.log(user)
        if (user == adminUsers) {
            fullPermissions();
        } else {
            // Do Nothing
        }
    }


    function fullPermissions() {
        console.log('fullPermissions')
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].type == 'checkbox')
                checkboxes[i].checked = true;
        }
    }
</script>

{% endblock %}