{% extends "layout_nonav.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-l">Access denied</h1>
          <p class="govuk-body">
            You do not have an active account for the Calculate funding service.
          </p>
          <p class="govuk-body">
            <a href="#" class="govuk-link">Contact the helpdesk</a> if you believe this is an error. 
          </p>
          <p class="govuk-body">
            If you do not have an account, and need to gain access to this service speak with your line manager.
          </p>
        </div>
      </div>
    </main>
  </div>


{% endblock %}