{% extends "layout_nonav.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Sorry, you do not have access to this service</h1>
          <p class="govuk-body">
            You do not have access to the <span class="govuk-!-font-weight-bold">pre-production environment</span> of calculate funding service.
          </p>
          <div class="govuk-inset-text">
            Ensure you know which environment you need to access. Calculate funding service operates two environments, production and pre-production.
          </div>
          <p class="govuk-body"> </p>
          <h2 class="govuk-heading-m">I have an account</h2>
          <p class="govuk-body">Please confirm:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>you have an account for this environment</li>
            <li>the status of your request if you have recently requested an account</li>
        </ul>
        <p class="govuk-body">
          <a href="#" class="govuk-link">Contact the helpdesk</a> if you believe this is an error or require further help. 
        </p>
          <h2 class="govuk-heading-m">I do not have an account</h2>
          <p class="govuk-body">
            <a href="#" class="govuk-link">Contact the helpdesk</a> if you do not have an account, and need to gain access to this service. 
          </p>
        </div>
      </div>
    </main>
  </div>


{% endblock %}