{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/start">
        Calculate funding
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="specifications">
        Specifications
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../fundingLineStructure.html">
        DSG SIT
      </a>
    </li>
    
  </ol>
  
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
      data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#calculation-error">Enum value is not valid</a></br>
            <a href="#calculation-error">Missing funding line</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-5" id="saveMessage" style="display: none;">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Calculation saved
        </h1>
        <div class="govuk-panel__body" id="saveTime">
          </strong>
        </div>
      </div>
    </div>

    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <span class="govuk-caption-l">Calculation name</span>
        <h2 class="govuk-heading-l">Provisional Schools Block Funding </br>Excluding Growth</h2>
      </legend>

      <div class="govuk-grid-row govuk-!-margin-bottom-2">
        <div class="govuk-grid-column-full">

          <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Calculation status
              </dt>
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag govuk-tag--red">
                  Error
                </strong>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Value type
              </dt>
              <dd class="govuk-summary-list__value">
                Percentage
              </dd>
            </div>
          </dl>

        </div>
      </div>

      <div class="govuk-form-group govuk-form-group--error">
        <h4 class="govuk-heading-s" for="more-detail">
          Calculation script
        </h4>
        <span id="calculation-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Enum value is not valid </br> Missing funding line
        </span>
        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="20"
          aria-describedby="more-detail-hint">
Dim A as Decimal? A = Datasets.Test1619BCData.BCPproportionsB1

If A.HasValue = False Then

Return 0

Else
Return A
End If
        </textarea>
      </div>

        <div class="right-align maths-icon govuk-!-margin-top-4">
        {% include "includes/full-screen.html" %}
        </div>

      <h4 class="govuk-heading-s" for="more-detail">
        UKPRN

        <span id="event-name-hint" class="govuk-hint">
          Optional: Enter a UKPRN to view calculation results for this provider
        </span>
      </h4>
      <input class="govuk-input govuk-input--width-10" id="width-5" name="width-5" type="text">

      <button data-prevent-double-click="true" onclick="buildOuput()" class="govuk-button" data-module="govuk-button">
        Build calculation
      </button>
      <p class="govuk-body"><a href="view-results/view-specification-results/calculation-providers">View calculation
          results</a></p>

      <div class="govuk-inset-text" id="buildResult" style="display: none;">
        <h4 class="govuk-heading-s">Build output</h4>
        <p class="govuk-body">Code compiled successfully </p>
        <p class="govuk-body">Provider: <strong>Abbeygate Sixth Form College
          </strong></p>
        <p class="govuk-body">Provider result: <strong>£10,836</strong></p>

      </div>


      <div class="govuk-grid-row govuk-!-margin-top-9">
        <div class="govuk-grid-column-two-thirds">
          <button class="govuk-button govuk-!-margin-right-1" onclick="saveCalc()" data-module="govuk-button">
            Save
          </button>
          <button class="govuk-button govuk-!-margin-right-1 btn-approve" id="btn-approve" data-module="govuk-button">
            Approve
          </button>
          <a href="fundingLineStructure.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Cancel
          </a>
        </div>
      </div>

      <p class="govuk-body" id="lastSaved">Last saved 25 March 2020 2:57pm</p>
      <a href="calculation-version-history.html">
        <p class="govuk-body">View calculation history</p>
      </a>
  </div>
</div>

<script>

  function buildOuput() {
    document.getElementById('buildResult').style.display = "block"
  }

  function saveCalc() {
    document.getElementById('saveMessage').style.display = 'block';
    window.scrollTo(0, 0);
    var Timeoptions = { hour: '2-digit', minute: '2-digit' };
    var time = new Date().toLocaleTimeString('en-GB', Timeoptions)
    var ampm = time >= 12 ? 'pm' : 'am';
    var date = new Date()
    var dateOptions = { year: 'numeric', month: 'long', day: 'numeric' }
    var dateFormat = date.toLocaleDateString('en-GB', dateOptions)
    document.getElementById('saveTime').innerHTML = dateFormat + ' ' + time + ampm
    document.getElementById('lastSaved').innerHTML = 'Last saved ' + dateFormat + ' ' + time + ampm

  }

</script>

{% endblock %}