{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/start.html">Calculate funding</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="specifications.html">Specifications</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="fundingLineStructure.html">DSG SIT</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Edit template caluclation specification</li>
      </ol>
    </div>

    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#sort">Calculation can not be approved by calculation writer</a>
          </li>
        </ul>
      </div>
    </div>

    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-5">
        <h1 class="govuk-fieldset__heading">
          Edit template calculation 
        </h1>
      </legend>

      <div class="govuk-grid-row govuk-form-group--error govuk-!-margin-bottom-5">
        <div class="govuk-grid-column-two-thirds">
          <span id="nationality-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>Calculation can not be approved by calculation writer
          </span>
          <span class="govuk-caption-m">Calculation status</span>
          <strong id="calc-status" class="govuk-tag govuk-tag--green govuk-!-margin-top-2 calc-status">Draft </strong>
        </div>
      </div>

      <div class="govuk-grid-row govuk-!-margin-bottom-5">
        <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Name</span>
        <h3 class="govuk-heading-m">DSG SIT</h3>

        <span class="govuk-caption-m">Funding line</span>
        <h3 class="govuk-heading-m">Provisional Schools Block Funding Exclusing Growth</h3>
        
        <span class="govuk-caption-m">Last saved</span>
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">25 March 2020 2:57pm</h3>
        <a href="calculation-version-history.html"><p class="govuk-body-s">View calculation history</p></a>
      </div>
    </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="calculation-script">
            Calculation script
        </label>
        <textarea class="govuk-textarea" id="calculation-script" name="calculation-script" rows="10" 
            aria-describedby="calculation-script">
Dim A as Decimal? A = Datasets.Test1619BCData.BCPoportionsB1

If A.HasValue = False Then

Return 0

Else
Return A
End If
        </textarea>
    </div>
    <button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
      Build calculation
  </button>
  <div class="govuk-inset-text">Your calculation’s build output must be successful before you can save it
  </div>
  <div class="govuk-form-group">
      <label class="govuk-label" for="build-output">
          Build output
      </label>
      <p class="govuk-body">Code complied successfully: <strong>True</strong></p>
  </div>

    <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
      Save and continue
    </button>

    <a href="fundingLineStructure.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Cancel
    </a>
  </div>
</div>

{% endblock %}