{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/start">
        Calculate funding
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="specifications">
        Specifications
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="fundingLineStructure">
        DSG SIT
      </a>
    </li>
    
  </ol>
  
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
      data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#">Calculation can not be deleted as it is referenced by one or more calculations</a>
          </li>

        </ul>
      </div>
    </div>

    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <span class="govuk-caption-l">Calculation name</span>
        <h2 class="govuk-heading-l">{{ data['additionalCalc-name'] }}</h2>
      </legend>

      <div class="govuk-grid-row govuk-!-margin-bottom-2">
        <div class="govuk-grid-column-full">

          <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Calculation status
              </dt>
              <dd class="govuk-summary-list__value">
                <strong id="calc-status" class="govuk-tag govuk-tag--green govuk-!-margin-top-2 calc-status">
                </strong>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Value type
              </dt>
              <dd class="govuk-summary-list__value">
                <div class="govuk-form-group">
                  <select class="govuk-select" id="sort" name="sort">
                    <option value="published">{{ data['value-type'] }}</option>
                    <option value="updated" selected>Percentage</option>
                    <option value="views">Number</option>

                  </select>
                </div>

              </dd>
            </div>
          </dl>

        </div>
      </div>

      <div class="govuk-form-group">
        <h4 class="govuk-heading-s" for="more-detail">
          Calculation script
        </h4>
        <span id="name-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>Calculation can not be deleted as it is referenced by one or
          more calculations
          <textarea class="govuk-textarea text-area-error" id="calculation-script" name="calculation-script" rows="10"
            aria-describedby="calculation-script">
Dim A as Decimal? A = Datasets.Test1619BCData.BCPoportionsB1

If A.HasValue = False Then

Return 0

Else
Return A
End If
        </textarea>

        <div class="right-align maths-icon govuk-!-margin-top-4">
        {% include "includes/full-screen.html" %}
        </div>

          <h4 class="govuk-heading-s" for="more-detail">
            UKPRN

            <span id="event-name-hint" class="govuk-hint">
              Enter a UKPRN to view calculation results for this provider
            </span></h4>
          <input class="govuk-input govuk-input--width-10" id="width-5" name="width-5" type="text">

      </div>
      <button data-prevent-double-click="true" onclick="buildOuput()" class="govuk-button" data-module="govuk-button">
        Build calculation
      </button>
      <p class="govuk-body"><a href="view-results/view-specification-results/calculation-providers">View calculation
          results</a></p>

      <div class="govuk-inset-text" id="buildResult" style="display: none;">
        <h4 class="govuk-heading-s">Build output</h4>
        <p class="govuk-body">Code complied successfully: <strong>True</strong></p>
        <p class="govuk-body">Provider result: <strong>£10,836</strong></p>

      </div>


      <div class="govuk-grid-row govuk-!-margin-top-9">
        <div class="govuk-grid-column-full">

          <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
            Save and continue
          </button>
          <button class="govuk-button govuk-!-margin-right-1 btn-approve" id="btn-approve" data-module="govuk-button">
            Approve
          </button>
          <a href="fundingLineStructure.html" class="govuk-button govuk-!-margin-right-1 govuk-button--secondary"
            data-module="govuk-button">
            Cancel
          </a>
          <a class="govuk-button govuk-button--warning" href="delete-additional-calculation" data-module="govuk-button">
            Delete calculation
          </a>
        </div>
      </div>

      <p class="govuk-body" id="editedDate">Last saved 25 March 2020 2:57pm</p>
      <a href="calculation-version-history.html">
        <p class="govuk-body">View calculation history</p>
      </a>
  </div>
</div>

<script>

  function buildOuput() {
    document.getElementById('buildResult').style.display = "block"
  }

  window.onload = function additionalCalc() {
    var status = sessionStorage.getItem("status");
    var dateTime = sessionStorage.getItem("date");
    document.getElementById('calc-status').innerHTML = status;
    document.getElementById('editedDate').innerHTML = "Last saved " + dateTime;
  }


</script>

{% endblock %}