{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {%
    endblock %} {% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/start.html">Calculate funding</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link"
                        href="../templatebuilder/templatelisting-basic.html">Templates</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="createnewtemplate.html">Create a new
                        template</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="createnewtemplate-build.html">Edit template</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    Publish template
                </li>
            </ol>
        </div>
    </div>
</div>




<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
            data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li>
                        <a href="">You must add a publish note</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-7">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Publish template</h1>
        <span class="govuk-caption-xl">Check the information below carefully before publishing</span>
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Template name</span>
        <h3 class="govuk-heading-m">GAG AC-20-21</h3>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Funding stream</span>
        <h3 class="govuk-heading-m">General annual grant</h3>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Funding period</span>
        <h3 class="govuk-heading-m">Academic year 2020 to 2021</h3>
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Description</span>
        <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt
            ut labore et dolore magna aliqua. tenim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
            ut
            aliquip ex ea commodo consequat. </p>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-1">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Version</span>
        <h3 class="govuk-heading-m">1.0</h3>
    </div>
</div>

<div class="govuk-form-group govuk-form-group--error">
    <label class="govuk-label" for="sort">
        Add publish note
    </label>
    <span id="event-name-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> You must add a publish note
    </span>

    <input class="govuk-input" id="data-schema" name="data-schema" type="text">
</div>







<body>
    <svg width="1350" height="500">
        <rect width="1200" height="500" stroke-width="8" fill="gray" />
    </svg>
</body>

</br>
</br>





<a href="" class="govuk-button govuk-button" data-module="govuk-button">
    Publish
</a>
<a href="createnewtemplate-build.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Back
</a>



{% endblock %}