{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/start">
        Calculate funding
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="specifications">
        Specifications
      </a>
    </li>
    
  </ol>
  
</div>

{% endblock %}

{% block content %}

<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
    data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Permissions
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
            You do not have permissions to create specifications.
            <a class="govuk-notification-banner__link" href="../my-user-permissions">View my user permissions</a>
        </p>
    </div>
</div>

<form action="/v1/specifications" id="createSpec" method="post" novalidate data-validate='create-spec'>
  <fieldset class="govuk-fieldset">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Create specification
        </h1>
        <div class="govuk-form-group" id="specificationName">
          <label class="govuk-label" for="spec-name">
            Specification name
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="spec-name" name="spec-name" type="text">
        </div>

        <div class="govuk-form-group" id="fundingStreamSpecification-error">
          <label class="govuk-label" for="fundingStreamSpecification">
            Funding stream
          </label>

          <select class="govuk-select" id="fundingStreamSpecification" name="fundingStreamSpecification">
            <option value=""></option>
            <option value="fundingLineStructure-chosen">16 to 19</option>
            <option value="fundingLineStructure-1416">14 to 16</option>
            <option value="fundingLineStructure-gag">General Annual Grant</option>
            <option value="fundingLineStructure-pna">Academy Pupil Number Adjustment</option>

          </select>
        </div>

        <div class="govuk-form-group" id="fundingPeriod-error-group">
          <label class="govuk-label" for="fundingPeriod">
            Funding period
          </label>

          <select class="govuk-select" id="fundingPeriod" name="fundingPeriod">
            <option value=""></option>
            <option value="A-SAY2019-2020">Academies and Schools Academic Year 2019 to 2020</option>
            <option value="AC-2019-2020">Academic year 2019 to 2020</option>
          </select>
        </div>

        <div class="govuk-form-group govuk-visually-hidden" id="providerData-error-group">
          <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
            <label class="govuk-label" for="sort">
              Track latest core provider data?
            </label>
            <div id="sign-in-hint" class="govuk-hint">
              Select yes if you wish to use the latest available provider data.
            </div>
            <span class="govuk-error-message govuk-visually-hidden" id="providerData-error">
              <span class="govuk-visually-hidden">Error:</span> Please select an option
            </span>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="provider-data-yes" name="provider-data" type="radio" value="yes"
                  aria-describedby="provider-data-item-hint"
                  onClick="document.getElementById('coreProviderData-group').classList.add('govuk-visually-hidden')">
                <label class="govuk-label govuk-radios__label" for="provider-data-yes">
                  Yes
                </label>
                <div id="provider-data-item-hint" class="govuk-hint govuk-radios__hint">
                  This specification will use the latest available provider data
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="provider-data-no" name="provider-data"
                  onClick="document.getElementById('coreProviderData-group').classList.remove('govuk-visually-hidden')"
                  type="radio" value="no" aria-describedby="sign-in-2-item-hint">
                <label class="govuk-label govuk-radios__label" for="provider-data-no">
                  No
                </label>
                <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
                  I will select which provider data to use
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group govuk-visually-hidden" id="coreProviderData-group">
          <label class="govuk-label" for="coreProviderData">
            Core provider data
          </label>
          <span id="core-provider-data" class="govuk-hint">
            Select a funding stream and funding period before choosing the provider data
          </span>
          <select class="govuk-select" id="coreProviderData" name="core-provider-data" onchange="getProviderData()">
            <option value="null"></option>
            <option name="core-provider-data" value="284,821,882">21 August 2019 - Initial providers</option>
            <option name="core-provider-data" id="providerDataChange" value="0.00">1 September 2019 - Amended
              providers</option>
          </select>
        </div>

        <div class="govuk-form-group" id="template-version-error-group">
          <label class="govuk-label" for="templateVersion">
            Template version
          </label>
          <span id="template-versions-hint" class="govuk-hint">
            Select a funding stream and funding period before choosing a template version
          </span>
          <span id="template-version-error" class="govuk-error-message govuk-visually-hidden">
            <span class="govuk-visually-hidden">Error:</span> Select a template version
          </span>
          <select id="templateVersion" class="govuk-select" id="sort" name="sort">
            <option value=""></option>
            <option value="draft">0.1</option>
            <option value="draft">0.2</option>
            <option value="draft">0.3</option>
          </select>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="more-detail">
            Can you provide more detail?
          </label>
          <textarea class="govuk-textarea" id="more-detail" name="spec-detail" rows="8"></textarea>
        </div>
  </fieldset>
  <button class="govuk-button" data-module="govuk-button">Save and
    continue</button>
  <a href="specifications" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Cancel
  </a>
</form>
</div>
</div>


<script type="application/json" id="create-spec">
{ 		  	
			  	"spec-name": {
			      "presence": {
			        "message": "^Please enter a specification name"
			      }
          },
          "fundingStreamSpecification": {
			      "presence": {
			        "message": "^Please select a funding stream"
			      }
          },
          "fundingPeriod": {
			      "presence": {
			        "message": "^Please select a funding period"
			      }
          },
          "sort": {
			      "presence": {
			        "message": "^Please select a template version"
			      }
          },
          "spec-detail": {
			      "presence": {
			        "message": "^Please enter a description"
			      }
          }
          
}

</script>

<script src="/public/javascripts/form-validation/create-spec.js"></script>

{% endblock %}