<div class="govuk-grid-row" role="navigation" aria-label="Admin and permissions mangement">
  <div class="govuk-grid-column-full">
    <div class="account-details right-align govuk-!-margin-bottom-2">
      <div class="account-features">
        <span class="govuk-body-s govuk-!-margin-right-2"><a class="govuk-link"
            href="/v1/admin/permissions-management">Admin</a></span>
        <span class="govuk-body-s govuk-!-margin-right-2"><a class="govuk-link"
            href="/v1/my-user-permissions">My user permissions</a></span>
      </div>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--visible">
</div>
