          <div class="right-align maths-icon govuk-!-margin-right-3">
    <div class="tooltip">
        <span class="tooltiptext">Full screen</span>
        <a title="Full screen" href="#" id="openFullScreen" style="text-decoration: none;">
            <span class="full screen govuk-!-margin-right-1" aria-hidden="true"><img
                    src="/public/images/expand.png"></span>
            <span class="hide-me">full screen</span>
        </a></div>
        </div>

{% include "includes/edit-modal.html" %}

<script>
    // Full screen

    document.getElementById("openFullScreen").onclick = openFullscreen;
    var elem = document.getElementById("fullScreen");

    function openFullscreen() {
        if (elem.requestFullscreen) {
            elem.requestFullscreen();
        } else if (elem.mozRequestFullScreen) {
            /* Firefox */
            elem.mozRequestFullScreen();
        } else if (elem.webkitRequestFullscreen) {
            /* Chrome, Safari & Opera */
            elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen) {
            /* IE/Edge */
            elem.msRequestFullscreen();
        }
    }
</script>