<div id="openFullScreen" style="display:inline; white-space:nowrap;">
    <ul class="govuk-list inline-block-list">
        <span class="govuk-grid-column-one-third govuk-!-padding-left-0" aria-hidden="true">
            <!-- <a href="#" id="openFullScreen" style="display:inline; white-space:nowrap;"></span>Enter the script in full screen</a> -->
    </span>
</ul>
</div>

{% include "includes/edit-modal.html" %}

<script>
// Full screen

document
    .getElementById("openFullScreen")
    .onclick = openFullscreen;
var elem = document.getElementById("fullScreen");

function openFullscreen() {
    if (elem.requestFullscreen) {
        elem.requestFullscreen();
    } else if (elem.mozRequestFullScreen) {
        /* Firefox */
        elem.mozRequestFullScreen();
    } else if (elem.webkitRequestFullscreen) {
        /* Chrome, Safari & Opera */
        elem.webkitRequestFullscreen();
    } else if (elem.msRequestFullscreen) {
        /* IE/Edge */
        elem.msRequestFullscreen();
    }
}
</script>