<table class="govuk-table">
    <caption class="govuk-table__caption">Funding line profiles</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Funding line</th>
            <th scope="col" class="govuk-table__header">Pattern type</th>
            <th scope="col" class="govuk-table__header">Total allocation</th>
            <th scope="col" class="govuk-table__header"></th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Further Education Programme Funding</th>
            <td class="govuk-table__cell">Rule based pattern </td>
            <td class="govuk-table__cell">£25,192,629</td>
            <td class="govuk-table__cell"><a class="govuk-link right-align" href="">View</a></td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Further Education Industry Placements Funding</th>
            <td class="govuk-table__cell">Rule based pattern</td>
            <td class="govuk-table__cell">£20,786,636</td>
            <td class="govuk-table__cell"><a class="govuk-link right-align" href="">View</a></td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Further Education High Needs Element 2 Student Funding
            </th>
            <td class="govuk-table__cell">Rule based pattern</td>
            <td class="govuk-table__cell">£12,267,728</td>
            <td class="govuk-table__cell"><a class="govuk-link right-align" href="">View</a></td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Further Education High Needs Element 3 Student Funding
            </th>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell">£0</td>
            <td class="govuk-table__cell"><a class="govuk-link right-align" href=""></a></td>
        </tr>
    </tbody>
</table>
<p><a href="#" class="govuk-link" data-module="govuk-button">Export to CSV</a></p>