{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/start.html">Calculate funding</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../view-funding.html">Select specification</a>
        </li>
      </ol>
    </div>
  </div>
</div>

<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
  data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#file-upload-1-error">The selected file must be in xslx format</a>
      </li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="" method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-5">
              Upload batch file
            </h1>
          </legend>
          <div class="govuk-form-group">
            <label class="govuk-label" for="file-upload-1">
              Upload a file. File must be a xslx
            </label>
            <div class="govuk-form-group govuk-form-group--error">
              <label class="govuk-label" for="file-upload-1">
                Upload a file
              </label>
              <span id="file-upload-1-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> The selected file must be in xslx format
              </span>
              <input class="govuk-file-upload govuk-file-upload--error" id="file-upload-1" name="file-upload-1"
                type="file" aria-describedby="file-upload-1-error">
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
        Approve funding
      </button>
      <button class="govuk-button govuk-button--warning govuk-!-margin-right-1" data-module="govuk-button">
        Release funding
      </button>
      <a class="govuk-button govuk-button--secondary" href="../view-funding.html" data-module="govuk-button">
        Cancel
      </a>
    </form>
  </div>
</div>

{% endblock %}