{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.js"></script>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <form action="form-single.html" method="get">
            <label class="govuk-label" for="last-location">What was the last location you visited?</label>
            <div class="autocomplete-wrapper">
                <select name="last-location" class="govuk-select" id="last-location">
                    <option value="">Select a country</option>
                    <option value="territory:AE-AZ">General annual grant</option>
                    <option value="country:AF">Dedicated schools grant</option>
                    <option value="territory:AE-AJ">PE and sport premium</option>
                    <option value="territory:XQZ">Pupil number adjustment</option>
                </select>
            </div>
        </form>
        </main>
    </div>
</div>



<script type="text/javascript">
    var selectEl = document.querySelector('#last-location')
    accessibleAutocomplete.enhanceSelectElement({
        autoselect: true,
        confirmOnBlur: true,
        defaultValue: "",
        minLength: 3,
        selectElement: selectEl
    })

    var queryStringParameters = window.location.search
    var previouslySubmitted = queryStringParameters.length > 0
    if (previouslySubmitted) {
        var submittedEl = document.querySelector('.submitted')
        submittedEl.classList.remove('submitted--hidden')
        var params = new URLSearchParams(document.location.search.split('?')[1])
        document.querySelector('.submitted__last-location').innerHTML = params.get('last-location')
    }
</script>

{% endblock %}