<ul class="govuk-list right-align">
    <li><a class="govuk-link" href="/v1/fundingLineStructure-gag">Manage specification</a></li>
    <li><a class="govuk-link" href="/v1/view-results/view-specification-results/view-specification#downloadable-reports">Specification reports</a></li>
    <li><a href="../batch/upload-batch-approve-release" class="govuk-link" data-module="govuk-button">Approve batch of providers</a></li>
    <li><a href="../../funding-management/16-19/16-19-results.html" class="govuk-link" data-module="govuk-button">Release management</a></li>
    <li><a class="govuk-link" href="#" onclick="document.getElementById('refreshFundingModal').style.display='block'">Refresh funding</a></li>
    <li><p class="govuk-body-s govuk-!-margin-bottom-0">Last refresh 16 December 2019 11:23am</p></li>
</ul>