<!-- <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Success
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading">
        {{successNotificationHeading}}
      </p>
      <p class="govuk-body">
        {{successNotificationContent}}
      </p>
    </div>
</div> -->

<!-- Notification - Attention - Calculation run is in progress -->
<div class="govuk-notification-banner govuk-notification-banner--attention govuk-!-padding-2" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
          <h2 class="govuk-notification-banner__tag govuk-tag govuk-tag--orange govuk-!-margin-0 govuk-!-margin-right-2" id="govuk-notification-banner-title">
            Attention
          </h2>
          <p class="govuk-notification-banner__heading govuk-!-margin-bottom-0">
            Creating released data source file
          </p>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <a class="govuk-notification-banner__link right-align" href="#">Read more</a>
      </div>
    </div>
  </div>
  <div class="govuk-notification-banner__content">
    <p>Initiated by SYSTEM on 17 October 2020, 11:50am.</p>
    
    <p>You will not be able to update this data source file until the process is complete.</p>
  </div>
</div>