{% extends "component-single.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Notification Banners
        </h1>        
    </div>
  </div>

  <div class="govuk-notification-banner--legacy" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header--legacy">
      <h2 class="govuk-notification-banner__title--legacy" id="govuk-notification-banner-title">
        Important
      </h2>
    </div>
    <div class="govuk-notification-banner__content--legacy">
      <p class="govuk-notification-banner__heading--legacy">
        You have 7 days left to send your application.
        <a class="govuk-notification-banner__link" href="#">View application</a>.
      </p>
    </div>
  </div>


  <div class="govuk-notification-banner--legacy govuk-notification-banner--success--legacy" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header--legacy">
      <h2 class="govuk-notification-banner__title--legacy" id="govuk-notification-banner-title">
        Success
      </h2>
    </div>
    <div class="govuk-notification-banner__content--legacy">
      <p class="govuk-notification-banner__heading--legacy">
        Training outcome recorded and trainee withdrawn
      </p>
      <p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="#">example@department.gov.uk</a> if you think there's a problem.</p>
    </div>
  </div>


  <div class="govuk-notification-banner--legacy govuk-notification-banner--success--legacy" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header--legacy">
      <h2 class="govuk-notification-banner__title--legacy" id="govuk-notification-banner-title">
        Success
      </h2>
    </div>
    <div class="govuk-notification-banner__content--legacy">
      <p class="govuk-notification-banner__heading--legacy">
        Variations successfully saved
      </p>
      <p class="govuk-body">
        Future instalments have been updated.
      </p>
    </div>
  </div>


  {% endblock %}
