{% extends "component-single.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Permissions banner
        </h1>
    </div>
</div>

<div class="govuk-notification-banner govuk-!-padding-2" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h2 class="govuk-notification-banner__tag govuk-tag govuk-tag--blue govuk-!-margin-0 govuk-!-margin-right-2" id="govuk-notification-banner-title">
              Important
            </h2>
            <p class="govuk-notification-banner__heading govuk-!-margin-bottom-0">
              Certain permissions are required to view this page
            </p>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <a class="govuk-notification-banner__link right-align" href="#">Read more</a>
        </div>
      </div>
    </div>
    <div class="govuk-notification-banner__content">
      You are missing 6 permissions that are required to view this page.
      For a full list of permissions you require, and how to gain them, <a href="#">check your permissions</a>.
    </div>
  </div>

<!--
<p class="new-permissions-banner">
    You do not have permissions to build calculations </p>-->

   
<!-- OLD BANNER CODE -->
<!-- <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
    data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Permissions
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
            You do not have the following permissions for any funding stream on this page:
            <ul class="govuk-list govuk-list--bullet">
                <li>Permission required 1</li>
                <li>Permission required 2</li>
                <li>Permission required 3</li>
                <li>Permission required 4</li>
            </ul>
            <p>Please <a class="govuk-notification-banner__link" href="../v1/my-user-permissions">check your user permissions</a>.</p>
        </p>
    </div>
</div> -->



{% endblock %}