{% extends "component-single.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Rounded amount profiling - removed 
        </h1>        
    </div>
  </div>


<!-- Removed from profiling -->

<tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">Rounded amount<p
            class="govuk-body-s govuk-!-margin-bottom-0">Any remaining rounded amounts will be
            added
            to the last instalment unless changed
        </p>
    </th>
    <td class="govuk-table__cell"></td>
    <td class="govuk-table__cell"></td>
    <td class="govuk-table__cell">
        <div class="govuk-form-group">
            <input aria-label="Enter the total percetage for August. Enter 0 if this does not apply"
                class="input-suffix govuk-input govuk-input--width-10" id="input-4"
                onblur="sumPercentage()" name="installmentPercentage" type="text"
                aria-describedby="percent" value="0.005">
            <span id="percent" class="suffix" aria-label="Enter amount in percent">%</span>
        </div>
    </td>
    <td class="govuk-table__cell govuk-table__cell--numeric">
        <div class="govuk-form-group">
            <span id="currency" class="prefix" aria-label="Enter amount in pounds">£</span>
            <input aria-label="Enter the total amount for July. Enter 0 if this does not apply"
                class="input-prefix govuk-input " id="input-3" onblur="sumTotal()"
                name="installmentValue" type="text" aria-describedby="currency" autocomplete="off"
                value="660">
        </div>
    </td>
</tr>

{% endblock %}