{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Drop down with search</h1>



<form action="" method="get">
    <label class="govuk-label" for="fundingStream">Select data schema</br>
        <input list="dataschema" class="govuk-select" name="browser" id="browser"></label>
    <datalist id="dataschema">
        <option value="APT Adjusted Factors">
        <option value="APT Final Baselines">
        <option value="APT Inputs and Adjustments">
        <option value="APT Local Factors">
        <option value="APT New ISB">
        <option value="APT Proforma">

    </datalist>
</form>






{% endblock %}