<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <ul class="govuk-list">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="#"
            onclick="document.getElementById('approveConfirmation').style.display='block'">Approve all calculations</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="#"
            onclick="document.getElementById('approveSpecification').style.display='block'">Approve specification</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="#"
            onclick="document.getElementById('fundingConfirmation').style.display='block'">Choose for funding</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="editSpecification">Edit specification</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="funding-approvals/{{fundingApprovalsLink}}">Funding approvals</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="#"
            onclick="document.getElementById('refreshProviderData').style.display='block'">Refresh provider data</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="#">View specification results</a>
        </li>
      </ul>
    </div>
  </div>