{% extends "component-single.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-form-group">
    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="weight">
        What is the weight in kilograms?
      </label>
    </h1>
    <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">kg</div>
    </div>
  </div>


{% endblock %}