{% extends "component-single.html" %}

{% block pageTitle %}
Calculate funding service - components
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <h1 class="govuk-heading-xl">Toast notifications</h1>

    <h2 class="govuk-heading-m">Standard alert</h2>

    <div class="govuk-alert">
        <h2 class="govuk-heading-m">New passport</h2>
        <p class="govuk-body">            
            We&#x27;ll send your new passport by secure
            delivery. The cost is included in the passport
            fee.
        </p>
    </div>

<h2 class="govuk-heading-m">Alert notifying of a successful outcome</h2>

<div class="govuk-alert govuk-alert--success">
    <h2 class="govuk-heading-m">Payment successful</h2>
    <p class="govuk-body">
        We&#x27;ve sent details to
        test-email@test-corp.co.uk
        <br />
        <a href="#">Download confirmation</a>
    </p>
</div>

<h2 class="govuk-heading-m">Alert indicating an error</h2>

<div class="govuk-alert govuk-alert--error">
    <h2 class="govuk-heading-m">
      Payment unsuccessful
    </h2>
    <p class="govuk-body">
        Please try again or contact our
      <a href="#">support team</a>
      for assistance.
    </p>
  </div>

</div>


<style>
    govuk-inset-text,
    .govuk-alert {
        font-family: inherit;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.25;
        color: inherit;
        padding: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
        clear: both;
        border-left: 10px solid #b1b4b6
    }

    @media print {

        .govuk-inset-text,
        .govuk-alert {
            font-family: sans-serif
        }
    }

    @media(min-width: 40.0625em) {

        .govuk-inset-text,
        .govuk-alert {
            font-size: 19px;
            font-size: 1.1875rem;
            line-height: 1.3157894737
        }
    }

    @media print {

        .govuk-inset-text,
        .govuk-alert {
            font-size: 14pt;
            line-height: 1.15
        }
    }

    @media print {

        .govuk-inset-text,
        .govuk-alert {
            color: #000
        }
    }

    @media(min-width: 40.0625em) {

        .govuk-inset-text,
        .govuk-alert {
            margin-top: 30px
        }
    }

    @media(min-width: 40.0625em) {

        .govuk-inset-text,
        .govuk-alert {
            margin-bottom: 30px
        }
    }

    .govuk-inset-text>:first-child,
    .govuk-alert>:first-child {
        margin-top: 0
    }

    .govuk-inset-text>:only-child,
    .govuk-alert>:only-child,
    .govuk-inset-text>:last-child,
    .govuk-alert>:last-child {
        margin-bottom: 0
    }

    .govuk-alert {
        border-color: #2b8cc4;
        background-color: #dbeff9
    }

    .govuk-alert--success {
        border-color: #28a197;
        background-color: #c6ece9
    }

    .govuk-alert--error {
        border-color: #c42b2b;
        background-color: #f3dede
    }

    .govuk-alert:first-child {
        margin-top: 0
    }

    @media(min-width: 40.0625em) {
        .govuk-alert:first-child {
            margin-top: 0
        }
    }

    .govuk-alert:last-child {
        margin-bottom: 0
    }

    @media(min-width: 40.0625em) {
        .govuk-alert:last-child {
            margin-bottom: 0
        }
    }

    .govuk-alert__heading {
        font-family: inherit;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 700;
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 1.1111111111;
        margin-bottom: 15px
    }

    @media print {
        .govuk-alert__heading {
            font-family: sans-serif
        }
    }

    @media(min-width: 40.0625em) {
        .govuk-alert__heading {
            font-size: 24px;
            font-size: 1.5rem;
            line-height: 1.25
        }
    }

    @media print {
        .govuk-alert__heading {
            font-size: 18pt;
            line-height: 1.15
        }
    }

    @media(min-width: 40.0625em) {
        .govuk-alert__heading {
            margin-bottom: 15px
        }
    }
</style>

{% endblock %}
