{% extends "component-single.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Filters
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

        <div class="govuk-form-group filterbyContainer">
            <fieldset class="govuk-fieldset" aria-describedby="search-conditional-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m filterbyHeading">
                    <h4 class="govuk-heading-s">Search</h4>
                </legend>
                <span id="search-conditional-hint" class="govuk-hint sidebar-search-span">
                    Select one option
                </span>

                <div class="govuk-radios govuk-radios--small govuk-radios--conditional sidebar-overflow-visible"
                    data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="search-conditional" name="search-conditional"
                            type="radio" value="provider-name" data-aria-controls="search-conditional-provider">
                        <label class="govuk-label govuk-radios__label" for="search-conditional">
                            Provider name
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                        id="search-conditional-provider">
                        <div class="govuk-form-group">
                            <input class="govuk-input sidebar-search-input" id="search-conditional-provider"
                                name="search-conditional-provider" type="text" spellcheck="false">
                        </div>
                    </div>

                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="search-conditional-2" name="search-conditional"
                            type="radio" value="ukprn" data-aria-controls="search-conditional-ukprn">
                        <label class="govuk-label govuk-radios__label" for="search-conditional-ukprn">
                            UKPRN
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                        id="search-conditional-ukprn">
                        <div class="govuk-form-group">
                            <input class="govuk-input sidebar-search-input" id="search-conditional-ukprn"
                                name="search-conditional-ukprn" type="number">
                        </div>
                    </div>

                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="search-conditional-3" name="search-conditional"
                            type="radio" value="text" data-aria-controls="search-conditional-upin">
                        <label class="govuk-label govuk-radios__label" for="search-conditional-upin">
                            UPIN
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                        id="search-conditional-upin">
                        <div class="govuk-form-group">
                            <input class="govuk-input sidebar-search-input" id="search-conditional-upin"
                                name="search-conditional-upin" type="number">
                        </div>
                    </div>

                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="search-conditional-4" name="search-conditional"
                            type="radio" value="text" data-aria-controls="search-conditional-urn">
                        <label class="govuk-label govuk-radios__label" for="search-conditional-urn">
                            URN
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                        id="search-conditional-urn">
                        <div class="govuk-form-group">
                            <input class="govuk-input sidebar-search-input" id="search-conditional-urn"
                                name="search-conditional-urn" type="number">
                        </div>
                    </div>

                </div>
            </fieldset>
        </div>

        <div class="govuk-form-group filterbyContainer">
            <fieldset class="govuk-fieldset">
                <button
                    class="govuk-fieldset__legend govuk-fieldset__legend--m filterbyHeading filter-expand govuk-button">
                    <h4 class="govuk-heading-s">Filter by provider type <span><i
                                class="material-icons right-align">keyboard_arrow_down</i></span></h4>
                    <p class="govuk-body-s govuk-!-margin-bottom-0" id="providerTypeSelected"></p>
                </button>

                <div id="filter-content" class="filter-content">
                    <div class="govuk-form-group filterSearch">
                        <label id="filter-by-provider-type" class="govuk-label filterLabel"
                            for="filter-by-provider-type">
                            Search
                        </label>
                        <input class="govuk-input filterSearchInput" id="filter-by-provider-type-search"
                            name="filter-by-provider-type-search" autocomplete="off" type="text">
                    </div>
                    <div class="govuk-checkboxes govuk-checkboxes--small filterbyCheckbox">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-provider-type-2"
                                name="filter-by-provider-type" type="checkbox" value="all" onclick="countChecked()">
                            <label class="govuk-label govuk-checkboxes__label" for="filter-by-provider-type">
                                All <span>(30)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-provider-type-2"
                                name="filter-by-provider-type" type="checkbox" value="free schools"
                                onclick="countChecked()">
                            <label class="govuk-label govuk-checkboxes__label" for="filter-by-provider-type">
                                Free schools <span>(10)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-provider-type-2"
                                name="filter-by-provider-type" type="checkbox" value="academies"
                                onclick="countChecked()">
                            <label class="govuk-label govuk-checkboxes__label" for="filter-by-provider-type">
                                Academies <span>(10)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-provider-type-2"
                                name="filter-by-provider-type" type="checkbox" value="independent schools"
                                onclick="countChecked()">
                            <label class="govuk-label govuk-checkboxes__label" for="filter-by-provider-type">
                                Independent schools <span>(10)</span>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="govuk-form-group filterbyContainer">
            <fieldset class="govuk-fieldset">
                <button
                    class="govuk-fieldset__legend govuk-fieldset__legend--m filterbyHeading filter-expand govuk-button">
                    <h4 class="govuk-heading-s">Filter by provider sub type <span><i class="material-icons right-align">
                                keyboard_arrow_down</i></span>
                    </h4>
                    <p class="govuk-body-s govuk-!-margin-bottom-0" id="providerSubTypeSelected"></p>
                </button>
                <div id="filter-content" class="filter-content">
                    <div class="govuk-form-group filterSearch">
                        <label class="govuk-label filterLabel" for="filter-by-type">
                            Search
                        </label>
                        <input class="govuk-input filterSearchInput" id="myInput" autocomplete="off" name="search"
                            type="text">
                    </div>
                    <div class="govuk-checkboxes govuk-checkboxes--small filterbyCheckbox" id="filterBySchoolResults">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-provider-type-2"
                                name="filter-by-provider-type" type="checkbox" value="all"
                                onclick="countChecked()">
                            <label class="govuk-label govuk-checkboxes__label" for="filter-by-provider-type">
                                All <span>(30)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-provider-sub-type-2"
                                name="filter-by-provider-sub-type" type="checkbox" value="free schools"
                                onclick="countChecked()">
                            <label class="govuk-label govuk-checkboxes__label" for="filter-by-provider-sub-type">
                                Free schools <span> (10)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-provider-sub-type-2"
                                name="filter-by-provider-sub-type" type="checkbox" value="academy sponsor lef"
                                onclick="countChecked()">
                            <label class="govuk-label govuk-checkboxes__label" for="filter-by-provider-sub-type">
                                Academy sponsor led <span> (10)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-provider-sub-type-2"
                                name="filter-by-provider-sub-type" type="checkbox" value="city technology college"
                                onclick="countChecked()">
                            <label class="govuk-label govuk-checkboxes__label" for="filter-by-provider-sub-type">
                                City technology college<span> (10)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-provider-sub-type-2" name="filter-by-provider-sub-type" type="checkbox" value="academy converter" onclick="countChecked()">
                            <label class="govuk-label govuk-checkboxes__label" for="filter-by-provider-sub-type">
                                Academy converter<span> (9)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-provider-sub-type-2" name="filter-by-provider-sub-type" type="checkbox" value="academy sponsor led" onclick="countChecked()">
                            <label class="govuk-label govuk-checkboxes__label" for="filter-by-provider-sub-type">
                                Academy sponsor led<span> (6)</span>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="govuk-form-group filterbyContainer">
            <fieldset class="govuk-fieldset">
                <button
                    class="govuk-fieldset__legend govuk-fieldset__legend--m filterbyHeading filter-expand govuk-button">
                    <h4 class="govuk-heading-s">Filter by status <span><i class="material-icons right-align">
                                keyboard_arrow_down</i></span>
                    </h4>
                    <p class="govuk-body-s govuk-!-margin-bottom-0" id="filter-by-status"></p>
                </button>
                <div id="filter-content" class="filter-content">
                    <div class="govuk-checkboxes govuk-checkboxes--small filterbyCheckbox-autoheight">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-provider-type-2"
                                name="filter-by-provider-type" type="checkbox" value="all"
                                onclick="countChecked()">
                            <label class="govuk-label govuk-checkboxes__label" for="filter-by-provider-type">
                                All <span>(30)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-approved" name="filter-by-status"
                                autocomplete="off" type="checkbox" value="approved" onclick="countChecked()">
                            <label class="govuk-label govuk-checkboxes__label" for="approved">
                                Approved <span>(4)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-updated" name="filter-by-status"
                                autocomplete="off" type="checkbox" value="updated" onclick="countChecked()">
                            <label class="govuk-label govuk-checkboxes__label" for="updated">
                                Updated <span>(4)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-with-errors" name="filter-by-status"
                                autocomplete="off" type="checkbox" value="with-errors" onclick="countChecked()">
                            <label class="govuk-label govuk-checkboxes__label" for="filter-by-with-errors">
                                With errors <span>(1)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-without-errors" name="filter-by-status"
                                autocomplete="off" type="checkbox" value="without-errors" onclick="countChecked()">
                            <label class="govuk-label govuk-checkboxes__label" for="filter-by-without-errors">
                                Without errors <span>(6)</span>
                            </label>
                        </div>
                    </div>
            </fieldset>
        </div>

        <div class="govuk-form-group filterbyContainer">
            <fieldset class="govuk-fieldset">
                <button
                    class="govuk-fieldset__legend govuk-fieldset__legend--m filterbyHeading filter-expand govuk-button">
                    <h4 class="govuk-heading-s">Filter by allocation type <span><i class="material-icons right-align">
                                keyboard_arrow_down</i></span>
                    </h4>
                    <p class="govuk-body-s govuk-!-margin-bottom-0" id="filter-indicative">1 selected</p>
                </button>
                <div id="filter-content" class="filter-content sidebar-overflow-visible ">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <div class="govuk-radios govuk-radios--small">
                                <div class="govuk-radios__item">
                                    <input checked class="govuk-radios__input" onclick="countChecked()"
                                        id="all-statements" name="statement-type" type="radio" value="all statements">
                                    <label class="govuk-label govuk-radios__label" for="all-statements">
                                        Show all allocation types
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" onclick="countChecked()" id="hide-indicative"
                                        name="statement-type" type="radio" value="hide indicative">
                                    <label class="govuk-label govuk-radios__label" for="hide-indicative">
                                        Hide indicative allocations <span>(10)</span>
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" onclick="countChecked()" id="show-indicative"
                                        name="statement-type" type="radio" value="show indicative">
                                    <label class="govuk-label govuk-radios__label" for="show-indicative">
                                        Only indicative allocations <span>(6)</span>
                                    </label>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                </div>
            </fieldset>
        </div>

            <div class="govuk-form-group filterbyContainer">
                    <fieldset class="govuk-fieldset">
                <button class="govuk-fieldset__legend govuk-fieldset__legend--m filterbyHeading filter-expand govuk-button">
                    <h4 class="govuk-heading-s">Filter by open date <span><i
                                class="material-icons right-align">keyboard_arrow_down</i></span></h4>
                    <p class="govuk-body-s govuk-!-margin-bottom-0" id="open-month-selected"> </p>
                </button>

                <div id="filter-content" class="filter-content">
                    <div class="govuk-form-group filterSearch">
                        <label id="filter-by-open-date" class="govuk-label filterLabel" for="filter-by-open-date">
                            Search
                        </label>
                        <input class="govuk-input filterSearchInput" id="filter-by-open-date-search"
                            name="filter-by-open-date-search" autocomplete="off" type="text">
                    </div>
                    <div class="govuk-checkboxes govuk-checkboxes--small filterbyCheckbox">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-open-date-2" name="filter-by-open-date"
                                type="checkbox" value="all" onclick="selectAllCheckboxes(this)" onclick="countChecked()">
                            <label class="govuk-label govuk-checkboxes__label" for="filter-by-open-date">
                                All <span>(60)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-open-date-january"
                                name="filter-by-open-date" type="checkbox" value="january" onclick="countChecked()">
                            <label class="govuk-label govuk-checkboxes__label" for="filter-by-open-date">
                                August 2021 <span>(10)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-open-date-february"
                                name="filter-by-open-date" type="checkbox" value="february" onclick="countChecked()">
                            <label class="govuk-label govuk-checkboxes__label" for="filter-by-open-date">
                                September 2021 <span>(10)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-open-date-march"
                                name="filter-by-open-date" type="checkbox" value="march" onclick="countChecked()">
                            <label class="govuk-label govuk-checkboxes__label" for="filter-by-open-date">
                                October 2021 <span>(10)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-open-date-april"
                                name="filter-by-open-date" type="checkbox" value="april" onclick="countChecked()">
                            <label class="govuk-label govuk-checkboxes__label" for="filter-by-open-date">
                                November 2021 <span>(10)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-open-date-may"
                                name="filter-by-open-date" type="checkbox" value="may" onclick="countChecked()">
                            <label class="govuk-label govuk-checkboxes__label" for="filter-by-open-date">
                                December 2021 <span>(10)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-open-date-june"
                                name="filter-by-open-date" type="checkbox" value="june" onclick="countChecked()">
                            <label class="govuk-label govuk-checkboxes__label" for="filter-by-open-date">
                                January 2022 <span>(10)</span>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>


        <a href="#" class="govuk-link right-align"
            onclick="$('input:checkbox').removeAttr('checked'); countChecked();">Clear filters</a>
    </div>

    <script>
        // Filter checkbox count
        function countChecked() {
            document.getElementById("providerTypeSelected").textContent = document.querySelectorAll(
                'input[name="filter-by-provider-type"]:checked').length + " selected";
            document.getElementById("providerSubTypeSelected").textContent = document.querySelectorAll(
                'input[name="filter-by-provider-sub-type"]:checked').length + " selected";
            document.getElementById("filter-by-status").textContent = document.querySelectorAll(
                'input[name="filter-by-status"]:checked').length + " selected";
            document.getElementById("filter-indicative").textContent = document.querySelectorAll(
                'input[name="statement-type"]:checked').length + " selected";
            document.getElementById("open-month-selected").textContent = document.querySelectorAll(
                'input[name="filter-by-open-date"]:checked').length + " selected";
        }

        function selectAllCheckboxes(elem) {
            let name = elem.name;
            document.getElementsByName(name).checked = true;
        }

        function applyOpenerDate() {
            document.getElementById('filter-month').innerHTML =
                '<p class="govuk-body-s govuk-!-margin-bottom-0">Date applied <a href="#" class="govuk-link govuk-!-margin-left-2">Clear</a></p>';
        }

        hiddenCheckboxes = () => {
            let hidden = document.getElementById('filter-by-provider-type-conditional');
            if (hidden.style.display === "block") {
                hidden.style.display = "none";
            } else {
                hidden.style.display = "block";
            }
        }

        function inputKeyUp(e) {
            e.which = e.which || e.keyCode;
            if (e.which == 13) {
                hiddenCheckboxes();
            }
        }
    </script>

    {% endblock %}