{% extends "component-single.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group filterbyContainer">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m filterbyHeading">
                    <h4 class="govuk-heading-s"> Search</h4>
                </legend>
                <div class="govuk-form-group filterSearch">
                    <label class="govuk-label filterLabel" for="filter-by-type">
                        Search
                    </label>
                    <input class="govuk-input filterSearchInput govuk-!-margin-bottom-2" id="mainContentSearch"
                        autocomplete="off" name="search" type="text">
                </div>
            </fieldset>
        </div>

        <div class="govuk-form-group filterbyContainer">
            <fieldset class="govuk-fieldset">
                <button
                    class="govuk-fieldset__legend govuk-fieldset__legend--m filterbyHeading filter-expand govuk-button">
                    <h4 class="govuk-heading-s">Filter by funding stream <span><i id="arrowRotate"
                                class="material-icons right-align"> keyboard_arrow_down
                            </i></span>
                    </h4>
                    <p class="govuk-body-s govuk-!-margin-bottom-0">0 Selected</p>
                </button>
                <div id="filter-content" class="filter-content">
                    <div class="govuk-form-group filterSearch">
                        <label class="govuk-label filterLabel" for="filter-by-type">
                            Search
                        </label>
                        <input class="govuk-input filterSearchInput" id="myInput" autocomplete="off" name="search"
                            type="text">
                    </div>
                    <div class="govuk-checkboxes govuk-checkboxes--small filterbyCheckbox" id="filterBySchoolResults">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-provider-type-2"
                                name="filter-by-provider-type" type="checkbox" value="all"
                                onclick="selectAllCheckboxes(this)">
                            <label class="govuk-label govuk-checkboxes__label" for="filter-by-provider-type">
                                All <span>(30)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-1" name="organisation"
                                type="checkbox" value="hmrc">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                PE and sports grant <span>(1)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-1" name="organisation"
                                type="checkbox" value="hmrc">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                16 to 19 <span>(1)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-1" name="organisation"
                                type="checkbox" value="hmrc">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                Genera annual grant<span>(1)</span>
                            </label>
                        </div>

                    </div>
                </div>
            </fieldset>
        </div>

        <div class="govuk-form-group filterbyContainer">
            <fieldset class="govuk-fieldset">
                <button
                    class="govuk-fieldset__legend govuk-fieldset__legend--m filterbyHeading filter-expand govuk-button">
                    <h4 class="govuk-heading-s">Filter by funding period<span><i id="arrowRotate"
                                class="material-icons right-align"> keyboard_arrow_down
                            </i></span>
                    </h4>
                    <p class="govuk-body-s govuk-!-margin-bottom-0">0 Selected</p>
                </button>
                <div id="filter-content" class="filter-content">
                    <div class="govuk-form-group filterSearch">
                        <label class="govuk-label filterLabel" for="filter-by-type">
                            Search
                        </label>
                        <input class="govuk-input filterSearchInput" id="myInput" autocomplete="off" name="search"
                            type="text">
                    </div>
                    <div class="govuk-checkboxes govuk-checkboxes--small filterbyCheckbox" id="filterBySchoolResults">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-provider-type-2"
                                name="filter-by-provider-type" type="checkbox" value="all"
                                onclick="selectAllCheckboxes(this)">
                            <label class="govuk-label govuk-checkboxes__label" for="filter-by-provider-type">
                                All <span>(30)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-1" name="organisation"
                                type="checkbox" value="hmrc">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                Financial year 2020 to 2021 <span>(1)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-2" name="organisation"
                                type="checkbox" value="employment-tribunal" disabled>
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                                Academic year 2019 to 2020 <span>(0)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-2" name="organisation"
                                type="checkbox" value="employment-tribunal">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                                Academies and Schools Academic Year 2019 to 2020 <span>(1)</span>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="govuk-form-group filterbyContainer">
            <fieldset class="govuk-fieldset">
                <button
                    class="govuk-fieldset__legend govuk-fieldset__legend--m filterbyHeading filter-expand govuk-button">
                    <h4 class="govuk-heading-s">Filter by status <span><i id="arrowRotate"
                                class="material-icons right-align"> keyboard_arrow_down
                            </i></span>
                    </h4>
                    <p class="govuk-body-s govuk-!-margin-bottom-0">0 Selected</p>
                </button>
                <div id="filter-content" class="filter-content">
                    <div class="govuk-checkboxes govuk-checkboxes--small filterbyCheckbox">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-approved" name="filter-by-approved"
                                autocomplete="off" type="checkbox" value="approved">
                            <label class="govuk-label govuk-checkboxes__label" for="approved">
                                Approved <span>(4)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-released" name="filter-by-released"
                                autocomplete="off" type="checkbox" value="released">
                            <label class="govuk-label govuk-checkboxes__label" for="released">
                                Released <span>(2)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-updated" name="filter-by-updated"
                                autocomplete="off" type="checkbox" value="updated">
                            <label class="govuk-label govuk-checkboxes__label" for="updated">
                                Updated <span>(4)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-error" name="filter-by-error"
                                autocomplete="off" type="checkbox" value="error" disabled>
                            <label class="govuk-label govuk-checkboxes__label" for="error">
                                Error <span>(0)</span>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <a href="#" class="govuk-link right-align" onclick="$('input:checkbox').removeAttr('checked');">
            Clear filters</a>
    </div>

{% endblock %}