{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/start.html">Calculate funding</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">Quality assurance</li>
            </ol>
        </div>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Quality assurance</h1>
        <span class="govuk-caption-xl"></span>
    </div>
</div>

<!-- Top row start -->
<div class="govuk-grid-row govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m"><a href="../reporting/downloads">Reporting</a></h3>
        <p class="govuk-body">Selection of downloadable reports</p>
    </div>
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m"><a href="quality-assurance-tests.html">Quality assurance tests</a></h3>
        <p class="govuk-body">Run and view quality assurance tests</p>
    </div>
</div>
<!-- Top row end -->

<!--
    <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-m"><a href="">View results</a></h3>
                <p class="govuk-body">View results for providers, calculations and quality assurance tests.</p>
            </div>
            <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-m"><a href="">govuk-heading-m</a></h3>
                <p class="govuk-body">govuk-body</p>
            </div>
            <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-m"><a href="">govuk-heading-m</a></h3>
                <p class="govuk-body">govuk-body</p>
            </div>
        </div>
    
-->

{% endblock %}