// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/card";
@import "components/cookie-banner";
@import "components/file-download";
@import "components/timeout";
@import "components/error-summary";
@import "components/back-to-top";
@import "components/filter";
@import "components/facet-tags";
@import "components/radio-button-search.scss";
@import "components/tooltip.scss";
@import "components/loading-spinners.scss";
@import "components/search-filters";
@import "components/pagination";
@import "components/tooltips";
@import "components/govuk-tags";
@import "components/autocomplete";
@import "components/input-prefixes-suffixes";
@import "components/permission-icon";
@import "components/notification-banner";
@import "components/notification-banner-v2";
@import "components/notification-badge";
@import "components/month-filter";
@import "components/toast";
@import "components/sortable-table";



// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.display-inline {
	display: inline-block;
}

.display-block {
	display: block;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.font-regular {
	font-weight: 100;
}

.font-bold {
	font-weight: 700;
}

.border {
	border: 1px solid #b1b4b6;
}

.subHeader {
	background-color: $govuk-link-colour;
}

.subHeader-content {
	h1 {
		color: govuk-colour("white");
		margin-top: 20px;
	}

	span {
		color: govuk-colour("white");
		margin-bottom: 20px;
	}
}

.input-search {
	max-width: 80%;
	margin: auto;
	color:black;
}
 .link{
	color:blue;
}
.search{
	max-width:35%;
	
}
.color
{
	color:#1d70b8;	
}
// Position sticky - content that sticks to the viewport as you scroll
.position-sticky {
	position: sticky;
	top: 1rem;
	z-index:0;
}

.right-align {
	float: right;
}

.center-align {
	text-align: center;
}


ul {
	list-style-type: none;
	padding-left: 10px;
}

i {
	vertical-align: sub;
}
.content{
	display :none;
	overflow:hidden;
}
.accordion-btn
{
	position: relative;
}
.accordion-btn::before{
	position:absolute;
	content: "+";
	right:120px;
	top:15px;
}
.accordion-btn[area-expanded="true"]::after
{
	content: "-";
}
// Main wrapper width

.govuk-width-container {
	max-width: 1200px;
	margin: 0 15px;
}

@media (min-width: 1260px) {
	.govuk-width-container {
		margin: 0 auto;
	}
}

.table-vertical-align td {
	vertical-align: inherit;
}

.app-header{
	padding-left:150px;
}
.app-space{
	padding-left:140px;
}	

// Loading spinner



// Text area error

.text-area-error {
	border: 4px solid #d4351c
}

// Select width overide

.select-full {
	width: 100%;
}

.grid-row-grey-background {
	background-color: lightgrey;
    padding: 20px;
}

.gbp:before {
	content: "£";
  }


.summary-margin-removal {
	margin-bottom: 0px;
}
.hideEdit  {
	display: none;
  }
  
.hideError {
	display: none;
}
.inherit {
	text-transform: inherit;
}

.lowercase {
	text-transform: lowercase;
}
 

.error-message {
	  color: #d4351c;
	  font-weight: 700;
  }

  .govuk-link-m {
font-size: 19px;
padding-left: 5px;
padding-right: 5px;
transform: translateY(15px);
  }

  .inline-block-list {
	margin-bottom: 0px;
	li {
	  display: inline-block;
	}
  }

  .govuk-details__text {
	padding-top:10px;
	padding-bottom:0px;
  }
  .button{
	background-color:	#1d70b8;
	font-weight: bold;
	
	height:40px;
  }
  .button:hover{
	background-color:	#1d70b8;
	
	height:40px;
  }
 .app-button
{
	background-color:#b1b4b6;
	padding-right:50px;
	box-shadow:#b1b4b6;
	font-weight: bold;
	

}
//  Accordion changes '+' Format

.accordion{
	width:90%;
	max-width:1000px;
	margin: 2rem auto;
}
.accordion-item{
	margin:2rem 0;
	border-radius:1.5rem;
	color:black;
	}
.accordion-style{
	margin-left: 0;
	
}
.link-style{
	margin-left:10px;
}
.accordion-item-header
{
	display:flex;
	position:relative;
	cursor:pointer;
	font-family: "GDS Transport", arial, sans-serif;
	    font-weight: bold;
	    font-size: 18px;
	    font-size: 1.52rem;
	    line-height: 1.11111;
	    margin-top: 0;
	    margin-bottom: 0;
		color:#1d70b8;
}
.accordion-item-header::after {
	content:"+";
	font-size:2rem;
	position:absolute;
	right:1rem;
	// transition:transform 0.2s ease-in-out;
}
.accordion-item-header.active::after
{
	content:"-";
	font-size:3rem;
	position:absolute;
	right:1rem;
	
}
.accordion-item-body{
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	margin-bottom: auto;
}
.accordion-item-body-content{
	padding:1rem;
	line-height: 1.5rem;
}
.accordion-control{
	text-align:right;
}

.accordion-option .toggle-accordion
{
	float:right;
	padding-right:160px;
	color:#1d70b8;
	
}
.accordion-option .toggle-accordion.active::before
{
	content:"Open All"
}
.accordion-option .toggle-accordion::before{
	content:"Close All";
}

//Accordion end
.app-button:hover
{
	background-color:#b1b4b6;
	
	box-shadow:#b1b4b6;

}
.app_cell
{
	padding-bottom:0px;
}
.app-template{
	padding-right:138px;
}
.app-style
{
	padding-bottom:50px;
}
.app-font
{
	font-weight: bold;
}
.app-button-style
{
	background-color:#dee0e2;
	margin-left:10px;
	margin-right:10px;
}

.app-summary
{
	padding-bottom: 0px;
}
.field-style{
	padding-right:90px;
}
.font-style{
	font-weight:bold;
}
.maths-icon {
	transform: translateY(-45px);

}

.fullscreen-icon {
	transform: translateY(-52px);

}

.fitscreen-icon {
transform: translateY(-40px) translateX(-27px);

}

.hide-me { 
    position: absolute;
    left: -9999px;
}
.error{
	color:	#d4351c;
}
.header-position{
	padding-left:130px;
	text-align: left;
}
.app-space{
	padding-left:50px;
}
.link-position{
	padding-left:950px;
	
}
.app-font{
	font-weight: bold ;
}
.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	border: 0;
	height: 1px;
	margin: -1px;
	overflow: hidden; 
	padding: 0;
	width: 1px;
	white-space: nowrap;
  }

  @media (min-width: 40.0625em) {
	.govuk-summary-list__key {
		width: 50%;
	}
	.govuk-summary-list__value {
		width: 30%;
	}

  }
.sort-by-selector {
    width: 95% !important;
    margin-left: 10px;
	margin-top: 12px;
}
//user permission banner
.app-banner-space{
	padding-left:30px;
	padding-top:0px;
	padding-bottom: 10px;
}
.app-banner{
	margin-right:0rem;
	margin-left: 0rem;
	margin-bottom: 0rem;
	margin-top:8px;
	padding-bottom: 30px;
	font-size: 1.125rem;
}
.app-banner-breadcrumb{
padding-top:0px ;
}
.app-permission-description
{
	padding-left:140px;
}
.app-permissions{
	padding-left:10px;
}
.app-profile-permissions
{
	padding-left:40px;
}

.app-specification-permission{
	padding-left:115px;
}
.app-calculation-permission{
	padding-left:50px;
}
.app-16-19view{
	display:none;
}
.app-link-spacing{
	padding-left:10px;
	display: inline-block;
	text-align: center;
	padding-top:10px;
}
.app-banner-position{
	padding-left:35px;
	padding-bottom: 0px;
	padding-top:20px;
}
.app-banner-title{
	padding-left:20px;
}
.app-notificaton-width
{
	width:174%;
}
.app-notificaton-statement-width
{
	width:155%;
}
.app-refresh-padding{
	padding-left:0px;
}
.app-refresh-padding-result{
	padding-left:410px;
}
.app-checkbox-disabled{
	color:rgb(130, 128, 128);
}
.app-child-release
{
	padding-left:65px;
}
//error message
.app-summary-title
{
	padding-top:10px;
}
.error-summary-position{
margin-bottom: 20px;
}
.app-checkbox-style
{
	padding-left: 30px;;
}
// old permissions banner
.app-permission-header-space
{
	padding-left:22px;
}
.new-permissions-banner {
	font-family: "GDS Transport", Arial, sans-serif;
	font-weight: 800;
	text-transform: none;
	font-size: 24px;
	line-height: 1.2;
	padding: 20px;
	margin-top: 15px;
	border-width: 5px;
	border-style: solid;
	color:#912b88;
	}


.old-permissions-banner {
	background-color: #f47738;
	padding: 20px;
	
	span {
		margin-left: 20px;
		border-color: #fff;
		color: #f47738;
		background-color: white;
	}
	
	strong {
	margin-left: 20px;
	color: white;
	}
	}

	.govuk-input--width-7 {
		max-width: 14ex;
	  }

	  .govuk-list-number--spaced li{
		margin-bottom: 15px;
	}

.vertical-align-bottom {
	vertical-align: bottom;
}

