// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";
@import "components/file-download";
@import "components/timeout";
@import "components/error-summary";
@import "components/back-to-top";
@import "components/input-prefix-suffix";
@import "components/facet-tags";
@import "components/radio-button-search.scss";
@import "components/tooltip.scss";
@import "components/loading-spinners.scss";
@import "components/search-filters";
@import "components/pagination";
@import "components/tooltips";
@import "components/govuk-tags";
@import "components/autocomplete";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.subHeader {
	background-color: $govuk-link-colour;
}

.subHeader-content {
	h1 {
		color: govuk-colour("white");
		margin-top: 20px;
	}

	span {
		color: govuk-colour("white");
		margin-bottom: 20px;
	}
}

.input-search {
	max-width: 80%;
	margin: auto;
}

.right-align {
	float: right;
}

.center-align {
	text-align: center;
}


ul {
	list-style-type: none;
	padding-left: 10px;
}

i {
	vertical-align: sub;
}


// Main wrapper width

.govuk-width-container {
	max-width: 1200px;
	margin: 0 15px;
}

@media (min-width: 1260px) {
	.govuk-width-container {
		margin: 0 auto;
	}
}

.table-vertical-align td {
	vertical-align: inherit;
}


// Loading spinner



// Text area error

.text-area-error {
	border: 4px solid #d4351c
}

// Select width overide

.select-full {
	width: 100%;
}

.grid-row-grey-background {
	background-color: lightgrey;
    padding: 20px;
}

.gbp:before {
	content: "£";
  }


.summary-margin-removal {
	margin-bottom: 0px;
}
.hideEdit  {
	display: none;
  }
  
.hideError {
	display: none;
}
.inherit {
	text-transform: inherit;
}

.lowercase {
	text-transform: lowercase;
}
 

.error-message {
	  color: #d4351c;
	  font-weight: 700;
  }

  .govuk-link-m {
font-size: 19px;
padding-left: 5px;
padding-right: 5px;
transform: translateY(15px);
  }

  .inline-block-list {
	margin-bottom: 0px;
	li {
	  display: inline-block;
	}
  }




.maths-icon {
	transform: translateY(-45px);

}

.fullscreen-icon {
	transform: translateY(-52px);

}

.fitscreen-icon {
transform: translateY(-40px) translateX(-27px);

}

.hide-me { 
    position: absolute;
    left: -9999px;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	border: 0;
	height: 1px;
	margin: -1px;
	overflow: hidden; 
	padding: 0;
	width: 1px;
	white-space: nowrap;
  }

  @media (min-width: 40.0625em) {
	.govuk-summary-list__key {
		width: 50%;
	}
	.govuk-summary-list__value {
		width: 30%;
	}

  }



.sort-by-selector {
    width: 95% !important;
    margin-left: 10px;
	margin-top: 12px;
}

