{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {%
    endblock %} 
    
    {% block content %}
    
    <div class="govuk-grid-row  govuk-!-margin-bottom-9">
      <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/start.html">Calculate funding</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">
                Funding approvals
            </li>
          </ol>
        </div>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Funding approvals</h1>
        <span class="govuk-caption-l">View results for providers, calculations, and quality assurance tests</span>
      </div>
    </div>
    
    <!-- Top row start -->
    <div class="govuk-grid-row govuk-!-margin-bottom-9">
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m"><a href="specification-approval/select-specification.html">Choose a specification to approve and release</a></h3>
        <p class="govuk-body">Select a specifications for a funding period and a funding stream</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">
          <a href="view-funding.html">Approve and release funding</a>
        </h3>
        <p class="govuk-body">Approve funding for a chose specifications and release funding for payment and publishing.</p>
    </div>
    
    <!-- Top row end -->
   
    
    {% endblock %}
    </div>