{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/start">
        Calculate funding
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../funding-management">
        Funding management
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="view-funding">
        Funding approvals
      </a>
    </li>

  </ol>
  
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row  govuk-!-margin-bottom-5">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Confirm funding approval</h1>
    <span class="govuk-caption-l govuk-!-margin-bottom-1">Check the information below carefully before approving the
      funding
    </span>
  </div>
</div>


<!--
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Number of providers selected
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half">
          106
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="funding-resultsv2.html">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Funding period
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half">
          2019 to 2020
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>


    </dl>
  </div>
</div>
-->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <table class="govuk-table govuk-!-margin-bottom-0">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-third"></th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-third">Summary</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-third">Amount</th>

        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Providers selected</th>
          <td class="govuk-table__cell">
            <p class="govuk-body"><a href="#" class="govuk-link" data-module="govuk-button">Export
                all as
                CSV</a></p>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <p class="govuk-body govuk-!-margin-bottom-0">71</p>
            <p class="govuk-body-s govuk-!-margin-bottom-0">Of which 8 are indicative</p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Funding period</th>
          <td class="govuk-table__cell">2019 to 2020</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Specification selected</th>
          <!-- 16 - 19 -->
          <td class="govuk-table__cell">16-19 2019 to 2020</td>
          <!-- END 16 - 19 -->

          <!-- DSG -->
          <!-- <td class="govuk-table__cell">DSG 2019 to 2020</td> -->
          <!-- END DSG -->
          <td class="govuk-table__cell govuk-table__cell--numeric"></td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Total funding being approved</th>
          <!-- 16 - 19 -->
          <td class="govuk-table__cell">16 to 19</td>
          <!-- END 16 - 19 -->
          
          <!-- DSG -->
          <!-- <td class="govuk-table__cell">Dedicated Schools Grant</td> -->
          <!-- END DSG -->
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£41,830</strong></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-three-quarters">
    <a class="govuk-link-m right-align" href="funding-resultsv2.html">
      Change selection<span class="govuk-visually-hidden"> name</span>
    </a>
  </div>
</div>



<!--
<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-three-quarters">
    <div class="govuk-form-group">
      <label class="govuk-label">
        Include a variation reason for the selected providers</label>
      <span id="template-versions-hint" class="govuk-hint">
        This will visible within CFS only</span>
      <select class="govuk-select" id="sort" name="sort" aria-label="variation-reason">
        <option value="published">Delivery data change</option>
        <option value="updated" selected>Policy change</option>
        <option value="views">Infrastructure change</option>
        <option value="comments">Contract change</option>
      </select>
    </div>
  </div>
</div>
-->


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form action="/v1/funding-approvals/batch/confirm-approve-in-progress" method="post" novalidate data-validate='warning-review-checkbox-validation'>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="acknowledgementCheckbox">
          <legend class="govuk-fieldset__legend">
            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                The provider amount shown might not be up to date
              </strong>
            </div>
          </legend>
          <ul class="govuk-list govuk-list--bullet">
            <li>Providers were last refreshed 1 March 2021, 09:52am by Robert SPARKS</li>
            <li>Total provider amount was last calculated 1 March 2021, 10:31am</li>
            <li>Selected providers may not appear in the provider count due to; provider record missing from funding data, providers currently in error state or providers already set as approved or released</li>
          </ul>
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="acknowledgementCheckbox" name="acknowledgementCheckbox" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="acknowledgementCheckbox">
                I acknowledge that the total provider amount shown may not be up to date
              </label>
            </div>
          </div>
      
        </fieldset>
      </div>

      <button data-prevent-double-click="true"
        class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
        Confirm approval
      </button>

      <a href="../funding-approvals/16-19/16-19-results.html" button class="govuk-button govuk-button--secondary"
        data-module="govuk-button">
        Cancel
      </a>

    </form>
  </div>
</div>

<!-- FORM VALIDATON JS -->
<script type="application/json" id="warning-review-checkbox-validation">

  {
  
  "acknowledgementCheckbox": {
  
  "presence": {
  
  "message": "^You must acknowledge that you understand the provider amount shown might not be up to date"
  
  }
  
  }
  
  }
  
</script>

{% endblock %}