{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {%
    endblock %}

{% block content %}

<div class="govuk-grid-row  govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-full">
    <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/start.html">Calculate funding</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
          Select specification
        </li>
      </ol>
    </div>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Select specification</h1>
    <span class="govuk-caption-xl">You can select the specification and funding period.</span>
  </div>
</div>


<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Funding stream
  </label>
  <select class="govuk-select" id="fundingStream">
    <option></option>
    <option value="16-19/16-19-results">16 to 19</option>
    <option value="14-16/14-16-results">14 to 16</option>
    <option value="gag/gag-results">General Annual Grant</option>
    <option value="pna/pna-results">Academy Pupil Number Adjustment</option>
  </select>
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Funding period
  </label>
  <select class="govuk-select" id="fundingPeriod" name="sort" onchange="getFundingStream()">
    <option></option>
    <option value="2019 to 2020">2019 to 2020</option>
    <option value="2020 to 2021">2020 to 2021</option>
    <option value="Academies and Schools Academic Year 2019 to 2020">Academies and Schools Academic Year 2019 to 2020
    </option>
    <option value="Academic year 2019 to 2020">Academic year 2019 to 2020</option>


  </select>
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Specification
  </label>
  <p id="specification" class="govuk-body"></p>

  <a href="" id="viewFundingLink" class="govuk-button" data-module="govuk-button">
    View funding
  </a>


  <script>

    function getFundingStream() {
      var fundingStream = document.getElementById("fundingStream");
      var fundingStreamText = fundingStream.options[fundingStream.selectedIndex].text;
      var fundingPeriod = document.getElementById("fundingPeriod").value;
      document.getElementById("specification").innerHTML = fundingStreamText + ' ' + fundingPeriod;
      var fundingStreamLink = document.getElementById("fundingStream").value;
      document.getElementById("viewFundingLink").href = fundingStreamLink
    }

  </script>

  {% endblock %}