{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs govuk">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/start">
                Calculate funding
            </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="approvals">
              Funding approvals
            </a>
        </li> 
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="view-funding">
             Select specification
          </a>
      </li>
    </ol>
</div>

{% endblock %}


{% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Specification</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">DSG specification 1</h1>
        <span class="govuk-caption-m">Funding period</span>
        <h1 class="govuk-heading-m">2019 to 2020</h1>
        <span class="govuk-caption-m">Funding stream</span>
        <h1 class="govuk-heading-m">DSG</h1>
    </div>
</div>

<!-- <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
            data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li>
                        <p class="govuk-body">Error statement</p>
                    </li>
                    <li>
                        <a href="#postcode-error">Error statement with link</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> -->

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        No providers are available for the selected specification
                    </strong>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}