{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-error-summary govuk-error-summary-green" aria-labelledby="error-summary-title" role="alert"
    tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
        Mapping completed
    </h2>
    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
            <li>
                <p class="govuk-body">Mapping initiated by Mr Calculation on 17 October 2019, 11:50am</p>
            </li>
            <li>
                <p class="govuk-body-s"><strong>Completed:</strong> 17 October 2019, 11:54am</p>
            </li>
        </ul>
    </div>
</div>

<div class="govuk-error-summary govuk-error-summary-orange " aria-labelledby="error-summary-title" role="alert"
    tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
        Mapping in progress
    </h2>
    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
            <li>
                <p class="govuk-body">Mapping initiated by Mr Calculation on 17 October 2019, 11:50am, for January
                    census data</p>
            </li>
        </ul>
    </div>
</div>

<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
    data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
    <h3 class="govuk-heading-m" id="error-summary-title">
        Mapping failed
    </h3>
    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
            <li>
                <p class="govuk-body govuk-!-margin-top-4">Mapping initiated by Mr Calculation on 17 October 2019, 11:50am</p>
            </li>
        </ul>
    </div>
</div>


{% endblock %}