{% extends "layout.html" %} 
{% block pageTitle %} 
GOV.UK Prototype Kit 
{% endblock %} 

{% block beforeContent %}

<div class="govuk-breadcrumbs govuk">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/start">
                Calculate funding
            </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../templatebuilder/templatelisting-basic">
              Templates
            </a>
        </li> 
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="createnewtemplate">
                Create a new template
            </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="createnewtemplate-build">
                Edit template
            </a>
        </li>
    </ol>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Publish template</h1>
        <span class="govuk-caption-l">Check the information below carefully before publishing</span>

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-5">
        <span class="govuk-caption-m">Template name</span>
        <h3 class="govuk-heading-m">DSG FY-20-21</h3>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Funding stream</span>
        <h3 class="govuk-heading-m">Dedicated schools grant</h3>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Funding period</span>
        <h3 class="govuk-heading-m">Financial year 2020 to 2021</h3>
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Description</span>
        <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. tenim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. </p>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-1">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Version</span>
        <h3 class="govuk-heading-m">1.4</h3>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Publish note</span>
        <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            adipiscing.
        </p>
    </div>
</div>






<body>
    <svg width="1350" height="500">
        <rect width="1200" height="500" stroke-width="8" fill="gray" />
    </svg>
</body>

</br>
</br>




<div class="govuk-grid-row govuk-!-margin-bottom-3">
    <div class="govuk-grid-column-two-thirds">
        <strong class="govuk-tag govuk-tag--green left-align ">
            Publish successful
        </strong>
    </div>
</div>



<a href="../templatebuilder/templatelisting-basic.html" class="govuk-button govuk-button" data-module="govuk-button">
    Continue to listing page
</a>



{% endblock %}