{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs govuk">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/start">
                Calculate funding
            </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../templatebuilder/templatelisting">
                Templates
            </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../templatebuilder/createnewtemplate">
                Create a new template
            </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../templatebuilder/createnewtemplate-build">
                Edit template
            </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../templatebuilder/publishtemplate">
                Publish template
            </a>
        </li>
    </ol>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-top-9">
        <h2 class="govuk-heading-l center-align" id="fullLoader-content">
            Validating template
        </h2>
        <h3 class="govuk-heading-m center-align">
            Please wait, this could take several minutes
        </h3>
        <div id="loader-content" class="loader loader-full" role="alert" aria-live="assertive"></div>
        <p class="govuk-body center-align">
            Please do not refresh the page, you will be redirected automatically
        </p>
    </div>
</div>

<script>
    let messages = [
        "Validating template",
        "Queued for processing",
        "Processing and pre-validation checks",
    ];

    messages.forEach((message, i) => {
        setTimeout(() => {
            document.getElementById("fullLoader-content").innerHTML = message;
        }, i * 6000);
    });
</script>

{% endblock %}