{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row  govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/start.html">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="select-provider.html">Select provider</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="profile-patterns.html">Profile pattern</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    Profile pattern name
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Profiling pattern</h2>
            <h2 class="govuk-heading-l">Funding line name</h2>

            <span class="govuk-caption-m">Total allocation for 2019 to 2020</span>
            <h3 class="govuk-heading-m govuk-!-margin-bottom-2">£28,500,000</h3>
            <span class="govuk-caption-m">Previous allocation value</span>
            <h3 class="govuk-heading-m">£26,000,000</h3>


            <table class="govuk-table govuk-!-margin-top-9">
                <caption class="govuk-table__caption">Profiling installments</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Installment month</th>
                        <th scope="col" class="govuk-table__header">Installment number</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Value</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">April 2020
                            <strong class="govuk-tag">Paid</strong>
                        </th>
                        <td class="govuk-table__cell">1</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£950,000</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">April 2020
                            <strong class="govuk-tag">Paid</strong>
                        </th>
                        <td class="govuk-table__cell">2</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£950,000</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">April 2020
                            <strong class="govuk-tag">Paid</strong>
                        </th>
                        <td class="govuk-table__cell">3</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£950,000</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">May 2020
                            <strong class="govuk-tag">Paid</strong>
                        </th>
                        <td class="govuk-table__cell">4</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£950,000</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">May 2020
                            <strong class="govuk-tag">Paid</strong>
                        </th>
                        <td class="govuk-table__cell">5</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£950,000</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">June 2020</th>
                        <td class="govuk-table__cell">6</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£1,500,000</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">June 2020</th>
                        <td class="govuk-table__cell">7</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£1,500,000</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">July 2020</th>
                        <td class="govuk-table__cell">8</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£1,500,000</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                            July 2020
                        </th>
                        <td class="govuk-table__cell">9</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£1,620,000</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                            Total
                        </th>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£28,500,000</td>
                    </tr>
                </tbody>
            </table>

            <a href="edit-profile.html" class="govuk-button" data-module="govuk-button">Edit profile</a>
            <a href="change-profile-type.html" class="govuk-button" data-module="govuk-button">Change profile type</a>

            <h3 class="govuk-heading-m">Previous profiles</h3>
            <p class="govuk-body">History of previous <a class="govuk-link" href="profiling-archive.html">profiles</a>
            </p>
    </div>
</div>
</section>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="profile-patterns.html" class="govuk-back-link">Back</a>
    </div>
</div>

{% endblock %}