{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row  govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/start.html">Calculate funding</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/v1/profiling/index">Profiling</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/v1/profiling/select-funding-stream">Select funding
                        stream</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/v1/profiling/view-all-rule-patterns">View all rule based
                        patterns</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    Create a rule based pattern
                </li>
            </ol>
        </div>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2"> Create a rule based pattern
        </h1>
        <span class="govuk-caption-l">Select a name and description</span>
    </div>
</div>







    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
<form action="/v1/profiling/create-pattern2" method="post" class="form" novalidate data-validate='create-pattern'>
            <div class="govuk-form-group">
                <label class="govuk-label" for="address-line-1">
                    Rule based pattern name
                </label>
                <span id="event-name-hint" class="govuk-hint">
                    Use a descriptive unique name other users can understand
                </span>
                <input class="govuk-input" id="pattern-name" name="pattern-name" type="text">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="more-detail">
                    Description
                </label>
                <textarea class="govuk-textarea" id="pattern-description" name="pattern-description" rows="8"
                    aria-label="more-detail-hint"></textarea>
            </div>



            <button class="govuk-button" data-module="govuk-button">Continue</button>



            <a href="view-all-rule-patterns.html" class="govuk-button govuk-button--secondary"
                data-module="govuk-button">
                Cancel
            </a>


        </div>
    </div>




</form>


<script type="application/json" id="create-pattern">
{ 		  	
			  	"pattern-name": {
			      "presence": {
			        "message": "^Please enter a name for the pattern"
			      }
			    },
                	"pattern-description": {
			      "presence": {
			        "message": "^Please enter a description for the pattern"
			      }
			    }
}
</script>


{% endblock %}