{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit {%
endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/start.html">Calculate funding</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/v1/profiling/index">Profiling</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    Select funding stream
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="/v1/profiling/view-all-rule-patterns" method="post" novalidate data-validate='funding-stream'>
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Select funding stream</h1>
            <span class="govuk-caption-xl govuk-!-margin-bottom-8">Select a funding stream to view and edit rule based
                patterns for</span>
            <div class="govuk-form-group">
                <label class="govuk-label" for="sort">
                    Funding stream
                </label>
                <select class="govuk-select" name="selectFundingStream" id="selectfundingStream"
                    aria-label="funding stream">
                    <option></option>
                    <option value="16-19/16-19-results">16 to 19</option>
                    <option value="14-16/14-16-results">14 to 16</option>
                    <option value="gag/gag-results">General Annual Grant</option>
                    <option value="pna/pna-results">Academy Pupil Number Adjustment</option>
                </select>
            </div>
            <button class="govuk-button" data-module="govuk-button">Continue</button>
        </form>
    </div>
</div>




<script type="application/json" id="funding-stream">
    {
        "selectFundingStream": {
            "presence": {
                "message": "^Please select a funding stream"
            }
        }
    }
</script>


{% endblock %}