{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-1">
    <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/start.html">Calculate funding</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/v1/profiling/index">Profiling</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/v1/profiling/select-funding-stream">Select funding
                        stream</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/v1/profiling/view-all-rule-patterns">View all rule based
                        patterns</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    View 16-19 Programme Funding
                </li>

            </ol>
        </div>

    </div>
</div>



<div class="govuk-grid-row govuk-!-margin-top-1">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-notification-banner govuk-visually-hidden govuk-notification-banner--success"
            id="notification-banner" role="alert" aria-labelledby="govuk-notification-banner-title"
            data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Success
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading">
                    Rule based pattern 16-19 Programme Funding has been successfully approved.


                </p>
            </div>
        </div>
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">16-19 Programme Funding
        </h1>
        <span class="govuk-caption-xl">View rule based pattern</span>
        <details class="govuk-details govuk-!-margin-top-8" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    What is 16-19 Programme Funding?
                </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt
                    ut labore et dolore magna aliqua. tenim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi
                    ut aliquip ex ea commodo consequat. </p>
            </div>
        </details>
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <table class="govuk-table govuk-!-margin-top-5">
            <caption class="govuk-table__caption">Profiling instalments</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Instalment</th>
                    <th scope="col" class="govuk-table__header">Instalment number</th>
                    <th scope="col" class="govuk-table__header">Per cent</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">September 2020</th>
                    <td class="govuk-table__cell">1</td>
                    <td class="govuk-table__cell">10%</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">October 2020</th>
                    <td class="govuk-table__cell">2</td>
                    <td class="govuk-table__cell">10%</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">November 2020</th>
                    <td class="govuk-table__cell">3</td>
                    <td class="govuk-table__cell">10%</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">December 2020</th>
                    <td class="govuk-table__cell">4</td>
                    <td class="govuk-table__cell">10%</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">January 2021</th>
                    <td class="govuk-table__cell">5</td>
                    <td class="govuk-table__cell">10%</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">February 2021</th>
                    <td class="govuk-table__cell">6</td>
                    <td class="govuk-table__cell">10%</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">March 2021</th>
                    <td class="govuk-table__cell">7</td>
                    <td class="govuk-table__cell">10%</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">April 2021</th>
                    <td class="govuk-table__cell">8</td>
                    <td class="govuk-table__cell">10%</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">May 2021</th>
                    <td class="govuk-table__cell">9</td>
                    <td class="govuk-table__cell">10%</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">June 2021</th>
                    <td class="govuk-table__cell">10</td>
                    <td class="govuk-table__cell">10%</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">July 2021</th>
                    <td class="govuk-table__cell">11</td>
                    <td class="govuk-table__cell">0%</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">August 2021</th>
                    <td class="govuk-table__cell">12</td>
                    <td class="govuk-table__cell">0%</td>
                </tr>



            </tbody>
        </table>



        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <a href="edit-profile.html" class="govuk-button" data-module="govuk-button">Edit profile</a>
               
<button class="govuk-button govuk-button--warning govuk-!-margin-right-1" onclick="notificationBanner()" data-module="govuk-button">
    Approve pattern
</button>
                <p><a href="#" class="govuk-link" data-module="govuk-button">Export to CSV</a></p>
                <p class="govuk-body" id="lastSaved">Last edited 25 March 2020 2:57pm </br>by Robert SPARKS</p>

                <a href="javascript:history.back()" class="govuk-back-link">Back</a>
            </div>
        </div>



        <script>


            function notificationBanner() {
                document.getElementById('notification-banner').classList.remove('govuk-visually-hidden')
                window.scrollTo(0, 0);
            }
        </script>

        {% endblock %}