{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/start">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="../view-funding.html">Select specification</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    Upload batch file
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
            <form action="" method="post" id="batchProviders" novalidate>
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-5">
                            Upload batch file
                        </h1>
                    </legend>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>The file is in xlsx format</li>
                        <li>The file contains one UKPRN column</li>
                        <li>The upload data must be in the first sheet of the xlsx file
                        </li>
                        <li>Providers already approved or released will not be shown in the provider count summaries
                        </li>
                    </ul>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
            <label class="govuk-label" for="file-upload"><strong>
                    Upload a xlsx file</strong>
            </label>
            <input class="govuk-file-upload" id="file-upload" name="file-upload" type="file">
        </div>
        <button class="govuk-button govuk-!-margin-right-1" onclick="approve()" data-module="govuk-button">
            Approve funding
        </button>
        <button class="govuk-button govuk-button--warning govuk-!-margin-right-1" onclick="release()"
            data-module="govuk-button">
            Release funding
        </button>
        <!-- <button class="govuk-button govuk-button--secondary govuk-!-margin-right-1" onclick="processHold()"
            data-module="govuk-button">
            Process hold status
        </button>-->
        </fieldset>
        </form>
    </div>
</div>

<script>
    function approve() {
        document.getElementById('batchProviders').action = 'batch-approve-in-progress'

    }

    function release() {
        document.getElementById('batchProviders').action = 'batch-release-in-progress'
    }

    function processHold() {
        document.getElementById('batchProviders').action = 'process-hold-in-progress'
    }
</script>

{% endblock %}