{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/start">
        Calculate funding
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="../../funding-management">
        Funding management 
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="../view-funding">
        Funding approvals 
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="dsg-results">
        DSG
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="provider-funding-overview-stmarys">
        St Mary's Catholic School
      </a>
    </li>

  </ol>
  
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-s">Funding line code: DSG-001</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Academies Advanced Maths Premium Funding</h1>
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">St Mary's Catholic School</h2>
        <p class="govuk-body-s"><span>UKPRN: </span>10003986</p>
        <p class="govuk-body-s">Last updated by Robert Sparks on 17 July 2020 at 2:14pm</p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Total allocation</span>
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">£2,600,000</h2>
        <span class="govuk-caption-m">Instalments processed value</span>
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">£1,000,000</h2>
        <span class="govuk-caption-m">Balance available for profiling</span>
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">£1,600,660</h2>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <table class="govuk-table govuk-!-margin-top-5">
            <caption class="govuk-table__caption">Profiling instalments</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Instalment</th>
                    <th scope="col" class="govuk-table__header">Payment status</th>
                    <th scope="col" class="govuk-table__header">Instalment number</th>
                    <th scope="col" class="govuk-table__header">Per cent</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Value</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">8 September 2020</th>
                    <td class="govuk-table__cell"><strong class="govuk-tag">Processed</strong></td>
                    <td class="govuk-table__cell">1</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£250,000</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">8 October 2020</th>
                    <td class="govuk-table__cell"><strong class="govuk-tag">Processed</strong></td>
                    <td class="govuk-table__cell">2</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£250,000</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">8 November 2020</th>
                    <td class="govuk-table__cell"><strong class="govuk-tag">Processed</strong></td>
                    <td class="govuk-table__cell">3</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£250,000</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">9 December 2020</th>
                    <td class="govuk-table__cell"><strong class="govuk-tag">Processed</strong></td>
                    <td class="govuk-table__cell">4</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£200,000</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">12 January 2021</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">5</td>
                    <td class="govuk-table__cell">20%</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£320,000</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">11 February 2021</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">6</td>
                    <td class="govuk-table__cell">20%</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£320,000</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">6 March 2021</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">7</td>
                    <td class="govuk-table__cell">15%</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£240,000</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">8 April 2021</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">8</td>
                    <td class="govuk-table__cell">10%</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£160,000</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">8 May 2021</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">9</td>
                    <td class="govuk-table__cell">10%</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£160,000</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">8 June 2021</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">10</td>
                    <td class="govuk-table__cell">10%</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£160,000</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">8 July 2021</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">11</td>
                    <td class="govuk-table__cell">10%</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£160,000</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">8 August 2021</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">12</td>
                    <td class="govuk-table__cell">5%</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£80,000</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">To be carried forward</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£7,000</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Total allocation</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">100%</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£1,600,660</td>
                </tr>

            </tbody>
        </table>

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <p><a href="#" class="govuk-link" data-module="govuk-button">Export to CSV</a></p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <h3 class="govuk-heading-m">Previous profiles</h3>
        <p class="govuk-body"><a class="govuk-link" href="profiling-archive-gag.html">History of previous profiles</a>
        </p>

    </div>
</div>

{% endblock %}