{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/start">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="specifications.html">Specifications</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="fundingLineStructure-chosen.html">General annual grant</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="choosespectype.html">Select data source</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="choosefundingstream.html">Select funding stream and
                        period</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">Select funding lines and calculations</li>
            </ol>
        </div>
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Select funding lines and calculations</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list govuk-summary-list__row--no-border">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Funding stream
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['dataset-fundingStream']}}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Funding period
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['dataset-fundingPeriod']}}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Reference specificaion
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['dataset-fundingStream']}} specification
                </dd>
            </div>
        </dl>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-5 govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-4 border">
            <fieldset class="govuk-fieldset">
                <label class="govuk-label govuk-label--m" for="fundingStream">Search funding lines or calculations
                    <div id="data-set-name-hint" class="govuk-hint">
                        Add funding lines and calculations that you want to be part of the data set.
                    </div>
                    <div class="autocomplete-wrapper">
                        <select name="datasetFundingLineCalculation" class="govuk-select" id="funding-stream">
                            <option value="">Select a funding stream</option>
                            <option value="fundingStream: GAG">Area Cost Factor </option>
                            <option value="fundingStream: DSG">Programme Funding Without Area Cost Allowance Applied
                            </option>
                            <option value="fundingStream: PES">Programme Funding With Area Cost Allowance Applied
                            </option>
                            <option value="fundingStream: PNA">Programme Funding Without Area Cost Allowance Applied
                            </option>
                            <option value="fundingStream: PNA">Area Cost Allowance </option>
                            <option value="fundingStream: PNA">Area Cost Allowance Adjustment </option>
                        </select>
                    </div>
                </label>
                <button onclick="addToDataSet()" data-prevent-double-click="true" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" data-module="govuk-button">Add to data set</button>
            </fieldset>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-full">
        <table class="govuk-table table-vertical-align" id="dataSetItems">
            <caption class="govuk-table__caption govuk-table__caption--m">Selected funding lines and calculations</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-half">Name</th>
                    <th scope="col" class="govuk-table__header">Structure</th>
                    <th scope="col" class="govuk-table__header">ID</th>
                    <th scope="col" class="govuk-table__header">Remove row</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">

            </tbody>
        </table>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/v1/fundingLineStructure-chosen" method="post" class="form">
            <button class="govuk-button " data-module="govuk-button" onclick="checkboxChoice()">Save</button>

            <a href="create-data-set" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Cancel
            </a>
        </form>

    </div>
</div>


<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.js"></script>

<script>
    function addToDataSet(createDataSetItem) {
        let name = document.getElementById("funding-stream").value
        let table = document.getElementById("dataSetItems")
        let row = table.insertRow(1)
        row.className = "govuk-table__row"
        var cell1 = row.insertCell(0)
        cell1.className = "govuk-table__header"
        cell1.innerHTML = name
        var cell2 = row.insertCell(1)
        cell2.className = "govuk-table__cell"
        cell2.innerHTML = "Funding line"
        var cell3 = row.insertCell(2)
        cell3.className = "govuk-table__cell"
        cell3.innerHTML = Math.floor(Math.random() * 101)
        var cell4 = row.insertCell(3)
        cell4.className = "govuk-table__cell"
        cell4.innerHTML = "<a class='govuk-link' href='#'' id='deleteRow'>Remove row</a>"
    }

    var selectEl = document.querySelector('#funding-stream')
    accessibleAutocomplete.enhanceSelectElement({
        autoselect: true,
        confirmOnBlur: true,
        defaultValue: "",
        minLength: 2,
        selectElement: selectEl
    })

    var queryStringParameters = window.location.search
    var previouslySubmitted = queryStringParameters.length > 0
    if (previouslySubmitted) {
        var submittedEl = document.querySelector('.submitted')
        submittedEl.classList.remove('submitted--hidden')
        var params = new URLSearchParams(document.location.search.split('?')[1])
        document.querySelector('.submitted__last-location').innerHTML = params.get('funding-stream')
    }
</script>

<script type="application/json" id="fundingLineCalculation">
    {
        "datasetFundingLineCalculation": {
            "presence": {
                "message": "^Select a funding line or calculation"
            }
        }

    }
</script>





{% endblock %}