{% extends "layout.html" %}

{% block pageTitle %}
Permissions management
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="#" class="govuk-back-link" onclick="goBack()">Back</a>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">User permissions</h1>
    <p class="govuk-body">View your user permissions for a funding stream</p>
  </div>
</div>

<form action="my-user-permissions/individual-funding-stream" method="post" class="form" novalidate data-validate='my-form-validation'>
  <div class="govuk-grid-row govuk-!-margin-top-2">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          Select funding stream
        </label>
        <select name="funding-stream" class="govuk-select" id="fundingStream" aria-label="funding-stream" onchange="fundingStreamPermissions()">
          <option></option>
          <option value="16 to 19">16 to 19</option>
          <option value="14 to 16">14 to 16</option>
          <option value="General annual grant">General Annual Grant</option>
          <option value="Academy pupil number adjustment">Academy Pupil Number Adjustment</option>
        </select>
      </div>
    </div>
  </div>
  </fieldset>
</form>

<section id="permissions" class="govuk-visually-hidden">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span id="fundingStreamSelected" hidden></span>
    <!-- <h2 class="govuk-heading-s govuk-!-margin-top-5">You have these permissions for the  funding stream in
      calculate funding service</h2> -->

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
           Request permissions
          </span>
        </summary>
        <div class="govuk-details__text">
       <p> Contact an administrator for this funding stream to enable a permission on your account.<br/></p>
        <p>Administrators for this funding stream are:<br/></p>
       <p> pete.moody@education.gov.uk <br/>
        robert.sparks@education.gov.uk<br/>
        ravi.thippeswamy@education.gov.uk<br/>
        sinem.ozturk@education.gov.uk<br/>
        daniel.symonds-llyod@education.gov.uk<br/>
        ned.powell@education.gov.uk<br/></p>
     <p> If there are no administrators listed,contact the system administrator at [CONTACT  NEEDED]</p>

        </div>
      </details>

    <!-- ADMINISTRATION PERMISSIONS -->
    <table class="govuk-table govuk-!-margin-top-5">
      <caption class="govuk-table__caption govuk-heading-l">Administration permissions</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-permission-header-space ">
            Permission
          </th>
          <th scope="col" class="govuk-table__header" style="padding-left:70px;">
            My permissions
          </th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-half app-permission-description">
            Permission description
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header app-permission-header-space"> Can administer a funding stream
          </th>
          <td class="govuk-table__cell permissionsIcon app-permissions"><span class="govuk-visually-hidden">Yes</span><span
              class="material-icons">check</span></td>
          <td class="govuk-table__cell app-permission-description">Can grant and remove permissions for users of a funding stream</td>
        </tr>
      </tbody>
    </table>

    <!-- CALCULATIONS PERMISSIONS -->
    <table class="govuk-table govuk-!-margin-top-5">
      <caption class="govuk-table__caption govuk-heading-l">Calculation permissions</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-permission-header-space">
            Permission
          </th>
          <th scope="col" class="govuk-table__header"style="padding-left:105px;">
            My permissions
          </th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-half app-permission-description">
            Permission description
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header app-permission-header-space">Can approve all calculations</th>
          <td class="govuk-table__cell permissionsIcon app-permissions"><span class="govuk-visually-hidden">Yes</span></td>
          <td class="govuk-table__cell app-permission-description">Can approve all calculations</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header app-permission-header-space">Can approve any calculations</th>
          <td class="govuk-table__cell permissionsIcon app-permissions"><span class="govuk-visually-hidden">Yes</span></td>
          <td class="govuk-table__cell app-permission-description">Can approve any calculations</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header app-permission-header-space">Can approve calculations</th>
          <td class="govuk-table__cell permissionsIcon app-permissions app-calculation-permission"><span class="govuk-visually-hidden">Yes</span><span
              class="material-icons">check</span></td>
          <td class="govuk-table__cell app-permission-description">Can approve calculations last edited by another user</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header app-permission-header-space">Can edit calculations</th>
          <td class="govuk-table__cell permissionsIcon app-permissions app-calculation-permission"><span class="govuk-visually-hidden">Yes</span><span
              class="material-icons">check</span></td>
          <td class="govuk-table__cell app-permission-description">Can edit calculations within a specification for the funding stream
          </td>
        </tr>
      </tbody>
    </table>

    <!-- DATA PERMISSIONS -->
    <table class="govuk-table govuk-!-margin-top-5">
      <caption class="govuk-table__caption govuk-heading-l">Data permissions</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-permission-header-space">
            Permission
          </th>
          <th scope="col" class="govuk-table__header "style="padding-left:60px;">
            My permissions
          </th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-half app-permission-description">
            Permission description
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header app-permission-header-space">Can map data sets</th>
          <td class="govuk-table__cell permissionsIcon app-permissions"><span class="govuk-visually-hidden">Yes</span><span
              class="material-icons">check</span></td>
          <td class="govuk-table__cell app-permission-description">Can map data source files to datasets within a specification for the
            funding stream</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header app-permission-header-space">Can push CFS data into SQL for QA</th>
          <td class="govuk-table__cell permissionsIcon app-permissions"><span class="govuk-visually-hidden">No</span><span
              class="material-icons">check</span></td>
          <td class="govuk-table__cell app-permission-description">Can map data source files to datasets within a specification for the funding stream</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header app-permission-header-space">Can upload data source files</th>
          <td class="govuk-table__cell permissionsIcon app-permissions"><span class="govuk-visually-hidden">No</span><span
              class="material-icons">check</span></td>
          <td class="govuk-table__cell app-permission-description">Can upload or update data source files for a data schema belonging to
            the funding stream</td>
        </tr>
      </tbody>
    </table>
    
    <!-- FUNDING PERMISSIONS -->
    <table class="govuk-table govuk-!-margin-top-5">
      <caption class="govuk-table__caption govuk-heading-l">Funding permissions</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-permission-header-space">
            Permission
          </th>
          <th scope="col" class="govuk-table__header"style="padding-left:130px;">
            My permissions
          </th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-half app-permission-description">
            Permission description
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header app-permission-header-space">Can approve funding</th>
          <td class="govuk-table__cell permissionsIcon app-permissions"><span class="govuk-visually-hidden">Yes</span></td>
          <td class="govuk-table__cell app-permission-description">Can approve a funding allocation values for a specification for the
            funding stream that has been chosen for funding</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header app-permission-header-space">Can choose funding</th>
          <td class="govuk-table__cell permissionsIcon app-permissions"><span class="govuk-visually-hidden">Yes</span></td>
          <td class="govuk-table__cell app-permission-description">Can choose an approved specification for the funding stream so that
            funding allocation values are generated and can be approved and released</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header app-permission-header-space">Can refresh funding</th>
          <td class="govuk-table__cell permissionsIcon app-permissions"><span class="govuk-visually-hidden">Yes</span></td>
          <td class="govuk-table__cell app-permission-description">Can refresh the funding allocation values for a specification for the
            funding stream that has been chosen for funding</td>
        </tr>
       
        <tr class="govuk-table__row">
                    
            <th scope="row" class="govuk-table__header app-permission-header-space">Can release funding</th>
            <td class="govuk-table__cell permissionsIcon app-permissions"><span class="govuk-visually-hidden">No</span>
             </td>
            <td class="govuk-table__cell app-permission-description">Can release funding allocation values to downstream services for a specification for the funding stream that has been chosen for funding</td>
            
            
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header app-child-release">Can release allocations<br/> for statement</th>
                <td class="govuk-table__cell permissionsIcon app-permissions"><span class="govuk-visually-hidden">No</span></td>
                <td class="govuk-table__cell app-permission-description">Can release funding allocation values to the service that manages statements for providers</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header app-child-release">Can release allocations<br/> for payment or contract</th>
                <td class="govuk-table__cell permissionsIcon "style="padding-left:70px;"><span class="govuk-visually-hidden">Yes</span><span
                  class="material-icons">check</span></td>
                <td class="govuk-table__cell app-permission-description">Can release funding allocation values to the services that manage contracts or payments for providers</td>
              </tr>
               </tbody>
    </table>

    <!-- PROFILE PERMISSIONS -->
    <table class="govuk-table govuk-!-margin-top-5">
      <caption class="govuk-table__caption govuk-heading-l">Profile permissions</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-permission-header-space">
            Permission
          </th>
          <th scope="col" class="govuk-table__header"style="padding-left:90px;">
            My permissions
          </th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-half app-permission-description">
            Permission description
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header app-permission-header-space">Can apply custom profile pattern</th>
          <td class="govuk-table__cell permissionsIcon app-permissions app-profile-permissions"><span class="govuk-visually-hidden">No</span><span
              class="material-icons">check</span></td>
          <td class="govuk-table__cell app-permission-description">Can apply custom profile patterns for funding lines within the funding
            stream</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header app-permission-header-space">Can assign profile pattern</th>
          <td class="govuk-table__cell permissionsIcon app-permissions app-profile-permissions"><span class="govuk-visually-hidden">No</span><span
              class="material-icons">check</span></td>
          <td class="govuk-table__cell app-permission-description">Can assign profile patterns for funding lines within the funding
            stream</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header app-permission-header-space">Can create profile pattern</th>
          <td class="govuk-table__cell permissionsIcon app-permissions app-profile-permissions"><span class="govuk-visually-hidden">No</span><span
              class="material-icons">check</span></td>
          <td class="govuk-table__cell app-permission-description">Can create profile patterns for funding lines within the funding
            stream</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header app-permission-header-space">Can edit profile pattern</th>
          <td class="govuk-table__cell permissionsIcon app-permissions app-profile-permissions"><span class="govuk-visually-hidden">Yes</span><span
              class="material-icons">check</span></td>
          <td class="govuk-table__cell app-permission-description">Can edit profile patterns for funding lines within the funding stream
          </td>
        </tr>
      </tbody>
    </table>

    <!-- SPECIFICATION PERMISSIONS -->
    <table class="govuk-table govuk-!-margin-top-5">
      <caption class="govuk-table__caption govuk-heading-l">Specification permissions</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-permission-header-space">
            Permission
          </th>
          <th scope="col" class="govuk-table__header"style="padding-left:155px;">
            My permissions
          </th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-half app-permission-description">
            Permission description
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header app-permission-header-space">Can approve specifications</th>
          <td class="govuk-table__cell permissionsIcon app-permissions app-specification-permission"><span class="govuk-visually-hidden">No</span><span
              class="material-icons">check</span></td>
          <td class="govuk-table__cell app-permission-description">Can approve a specification for the funding stream</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header app-permission-header-space">Can create specifications</th>
          <td class="govuk-table__cell permissionsIcon app-permissions app-specification-permission"><span class="govuk-visually-hidden">Yes</span><span
              class="material-icons">check</span></td>
          <td class="govuk-table__cell app-permission-description">Can create a specification for the funding stream</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header app-permission-header-space">Can edit specifications</th>
          <td class="govuk-table__cell permissionsIcon app-permissions"><span class="govuk-visually-hidden">Yes</span></td>
          <td class="govuk-table__cell app-permission-description">Can edit a specification for the funding stream</td>
        </tr>
      </tbody>
    </table>

    <!-- TEMPLATE PERMISSIONS -->
    <table class="govuk-table govuk-!-margin-top-5">
      <caption class="govuk-table__caption govuk-heading-l">Template permissions</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-permission-header-space">
            Permission
          </th>
          <th scope="col" class="govuk-table__header"style="padding-left:190px">
            My permissions
          </th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-half app-permission-description">
            Permission description
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header app-permission-header-space">Can approve templates</th>
          <td class="govuk-table__cell permissionsIcon app-permissions"><span class="govuk-visually-hidden">No</span></td>
          <td class="govuk-table__cell app-permission-description">Can approve templates for the funding stream</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header app-permission-header-space">Can create templates</th>
          <td class="govuk-table__cell permissionsIcon app-permissions"><span class="govuk-visually-hidden">No</span></td>
          <td class="govuk-table__cell app-permission-description">Can create templates for the funding stream</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header app-permission-header-space">Can edit templates</th>
          <td class="govuk-table__cell permissionsIcon app-permissions"><span class="govuk-visually-hidden">Yes</span></td>
          <td class="govuk-table__cell app-permission-description">Can edit templates for the funding stream</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
<span id="streamAdmin" hidden></span>
<!-- <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="form-group">
      <h2 class="govuk-heading-l">Requesting permissions</h2>
      <p class="govuk-body">An administrator for your funding stream can provide you with permissions. Contact a system administrator if there are none listed.</p>
      <p class="govuk-body">Administrators for the  funding stream are:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Robert Sparks</li>
        <li>Alan Nichols</li>
      </ul>
    </div>
  </div>
</div> -->

</section>

<script>

function fundingStreamPermissions () {
  var fundingStreamSelect = document.getElementById('fundingStream').value;
  document.getElementById('fundingStreamSelected').innerHTML = fundingStreamSelect
  document.getElementById('streamAdmin').innerHTML = fundingStreamSelect
  document.getElementById('permissions').classList.remove('govuk-visually-hidden')
}

</script>

<script type="application/json" id="my-form-validation">
{
    "funding-stream": {
      "presence": {
        "message": "^Select a funding stream"
      }
    }

  }
</script>

{% endblock %}