{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/start">
        Home
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index">
        Select specification 
      </a>
    </li>

  </ol>
  
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Choose a specification to approve and release</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group filterbyContainer">
            <fieldset class="govuk-fieldset" aria-describedby="provider-type-conditional-hint">
                <button class="govuk-fieldset__legend govuk-fieldset__legend--m filterbyHeading govuk-button">
                    <h4 class="govuk-heading-s">Search</h4>
                </button>
                <div class="govuk-form-group filterSearch">
                    <label class="govuk-label filterLabel" for="filter-by-type">
                        Search by specification name
                    </label>
                    <input class="govuk-input filterSearchInput govuk-!-margin-bottom-2" id="mainContentSearch"
                        autocomplete="off" name="search" type="text">
                </div>

                    </div>
            </fieldset>

            <div class="govuk-form-group filterbyContainer">
                <fieldset class="govuk-fieldset">
                    <button class="govuk-fieldset__legend govuk-fieldset__legend--m filterbyHeading filter-expand govuk-button">
                        <h4 class="govuk-heading-s">Filter by funding period <span><i class="material-icons right-align"> keyboard_arrow_down</i></span>
                        </h4>
                        <p class="govuk-body-s govuk-!-margin-bottom-0">0 Selected</p>
                    </button>
                    <div id="filter-content" class="filter-content">
                        <div class="govuk-checkboxes govuk-checkboxes--small filterbyCheckbox">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="filter-by-updated" name="filter-by-updated"
                                    autocomplete="off" type="checkbox" value="updated">
                                <label class="govuk-label govuk-checkboxes__label" for="updated">
                                    2020 to 2021 <span>(4)</span>
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="filter-by-approved" name="filter-by-approved"
                                    autocomplete="off" type="checkbox" value="approved">
                                <label class="govuk-label govuk-checkboxes__label" for="approved">
                                    2019 to 2020 <span>(4)</span>
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="filter-by-released" name="filter-by-released"
                                    autocomplete="off" type="checkbox" value="released">
                                <label class="govuk-label govuk-checkboxes__label" for="released">
                                    2018 to 2019 <span>(2)</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group filterbyContainer">
                <fieldset class="govuk-fieldset">
                    <button class="govuk-fieldset__legend govuk-fieldset__legend--m filterbyHeading filter-expand govuk-button">
                        <h4 class="govuk-heading-s">Filter by funding stream <span><i class="material-icons right-align"> keyboard_arrow_down</i></span>
                        </h4>
                        <p class="govuk-body-s govuk-!-margin-bottom-0">0 Selected</p>
                    </button>
                    <div id="filter-content" class="filter-content">
                        <div class="govuk-checkboxes govuk-checkboxes--small filterbyCheckbox">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="filter-by-approved" name="filter-by-approved"
                                    autocomplete="off" type="checkbox" value="approved">
                                <label class="govuk-label govuk-checkboxes__label" for="approved">
                                    General annual grant <span>(4)</span>
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="filter-by-released" name="filter-by-released"
                                    autocomplete="off" type="checkbox" value="released">
                                <label class="govuk-label govuk-checkboxes__label" for="released">
                                    16 to 19 <span>(2)</span>
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="filter-by-updated" name="filter-by-updated"
                                    autocomplete="off" type="checkbox" value="updated">
                                <label class="govuk-label govuk-checkboxes__label" for="updated">
                                    PE and sport premium <span>(4)</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <a href="#" class="govuk-link right-align" onclick="$('input:checkbox').removeAttr('checked');">
                Clear filters</a>

    </div>

    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <table class="govuk-table table-vertical-align">
                    <caption class="govuk-table__caption">Specification</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Choose</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Specification name</th>
                            <th scope="col" class="govuk-table__header">Specification status</th>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Calculations
                                approved</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                    <input class="govuk-checkboxes__input" id="provider-approval"
                                        name="provider-approval" type="checkbox" value="provider-name">
                                    <label class="govuk-label govuk-checkboxes__label" for="provider-approval"></label>
                                </div>
                            </th>
                            <td class="govuk-table__cell"><a class="govuk-link" href="http://localhost:3000/v1/fundingLineStructure">DSG SIT</a></td>
                            <td class="govuk-table__cell">Approved</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">8 of 9</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                    <input class="govuk-checkboxes__input" id="provider-approval"
                                        name="provider-approval" type="checkbox" value="provider-name">
                                    <label class="govuk-label govuk-checkboxes__label" for="provider-approval"></label>
                                </div>
                            </th>
                            <td class="govuk-table__cell"><a class="govuk-link" href="">19+ Advanced learn loan</a></td>
                            <td class="govuk-table__cell">Draft</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">4 of 9</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                    <input class="govuk-checkboxes__input" id="provider-approval"
                                        name="provider-approval" type="checkbox" value="provider-name">
                                    <label class="govuk-label govuk-checkboxes__label" for="provider-approval"></label>
                                </div>
                            </th>
                            <td class="govuk-table__cell"><a class="govuk-link" href="">19+ Advanced learn loan</a></td>
                            <td class="govuk-table__cell">Draft</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">6 of 9</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                    <input class="govuk-checkboxes__input" id="provider-approval"
                                        name="provider-approval" type="checkbox" value="provider-name">
                                    <label class="govuk-label govuk-checkboxes__label" for="provider-approval"></label>
                                </div>
                            </th>
                            <td class="govuk-table__cell"><a class="govuk-link" href="">19+ Advanced learn loan</a></td>
                            <td class="govuk-table__cell">Updated</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">9 of 9</td>
                        </tr>
                    </tbody>
                </table>
                <button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
                    Select specification
                </button>
                
            </div>
        </div>
    </div>

    <script>

        hiddenCheckboxes = () => {
          let hidden = document.getElementById('filter-by-provider-type-conditional');
          if (hidden.style.display === "block") {
           hidden.style.display = "none";
         } else {
           hidden.style.display = "block";
         }
       }
       
       function inputKeyUp(e) {
           e.which = e.which || e.keyCode;
           if (e.which == 13) {
               hiddenCheckboxes();
           }
       }
       </script>
       
       
       <style>
           
           .hidden {
               display: none;
           }
           
           .hiddenCheckboxes {
               cursor: pointer;
           }
       
           .hiddenCheckboxes:hover{
               background: #F8F8F8;
               outline: 3px solid #FFBF47;
           }
       
           .hiddenCheckboxes:focus {
               background: #F8F8F8;
               outline: 3px solid #FFBF47;
           }
       
           .checkboxExpand {
               margin-top: 10px; 
           }
       
           .checkboxExpanded {
               -ms-transform: rotate(180deg);
           -moz-transform: rotate(180deg);
           -webkit-transform: rotate(180deg);
           transform: rotate(180deg);
           }
       
           .filterbyHeading {
               text-align: left;
               border: none;
               box-shadow: none;
           }
       
           .filterbyHeading:hover {
               background-color: #dbdad9;
               text-align: left ;
               border-color: #fd0;
           }
       
           .filterbyHeading:active {
               background-color: #dbdad9;
               text-align: left ;
               border-color: #fd0;
           }
       
           dd {
           margin-inline-start: 10px;
       }
       
       </style>

    {% endblock %}