{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {%
endblock %}

{% block content %}

<div class="govuk-grid-row  govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-full">
    <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/start.html">Calculate funding</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../funding-management">Funding Management</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
          Release management
        </li>
      </ol>
    </div>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Release management</h1>
    <span class="govuk-caption-xl">Select a funding stream and funding period.</span>
  </div>
</div>

<form action="" method="post" id="viewFunding" novalidate>
  <div class="govuk-form-group">
    <label class="govuk-label" for="sort">
      Funding stream
    </label>
    <select class="govuk-select" name="fundingStream" id="fundingStream">
      <option></option>
      <option value="16-19/16-19-results">16 to 19</option>
      <option value="14-16/14-16-results">14 to 16</option>
      <option value="gag/gag-results">General Annual Grant (GAG)</option>
      <option value="pna/pna-results">Academy Pupil Number Adjustment (PNA)</option>
      <option value="dsg/dsg-results">Dedicated Schools Grant (DSG)</option>
    </select>
  </div>

<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Funding period
  </label>
  <select class="govuk-select" id="fundingPeriod" name="fundingPeriod" onchange="getFundingStream()">
    <option></option>
    <option value="2019 to 2020">2019 to 2020</option>
    <option value="2020 to 2021">2020 to 2021</option>
    <option value="Academies and Schools Academic Year 2019 to 2020">Academies and Schools Academic Year 2019 to 2020
    </option>
    <option value="Academic year 2019 to 2020">Academic year 2019 to 2020</option>
  </select>
</div>

<div class="govuk-radios govuk-radios--inline">
  <label class="govuk-label govuk-!-margin-bottom-2" for="file-upload-1">
    Select yes if you wish to process a preselected batch of providers
  </label>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="batchYes" name="batch" onclick="batchProcess(), showspec()" type="radio"
      value="batch/upload-batch-approve-release">
    <label class="govuk-label govuk-radios__label" for="changed-name">
      Yes
    </label>
  </div>
  <div class="govuk-radios__item govuk-!-margin-bottom-7">
    <input class="govuk-radios__input" id="updateTypeReplace" onclick="showspec()" name="batch" type="radio"
      value="/v1/datasets/manageDatasets">
    <label class="govuk-label govuk-radios__label" for="changed-name-2">
      No
    </label>
  </div>
</div>

<div id="specificationDetails" class="govuk-form-group govuk-visually-hidden">
  <label class="govuk-label" for="sort">
    Specification
  </label>
  <p id="specification" class="govuk-body"></p>
</div>


  <button class="govuk-button" data-module="govuk-button">Continue</button>


<script>

  var batch = document.getElementById('batchYes').value

  function showspec() {
    document.getElementById('specificationDetails').classList.remove("govuk-visually-hidden");
  }

  function batchProcess() {
    console.log(batch)
    document.getElementById('viewFunding').action = batch
  }


  function getFundingStream() {
    var fundingStream = document.getElementById("fundingStream");
    var fundingStreamText = fundingStream.options[fundingStream.selectedIndex].text;
    var fundingPeriod = document.getElementById("fundingPeriod").value;
    var specification = document.getElementById("specification").innerHTML = fundingStreamText + ', ' + fundingPeriod;
    var fundingStreamLink = document.getElementById("fundingStream").value;
    document.getElementById("viewFunding").action = fundingStreamLink
    sessionStorage.setItem ('view funding specification', specification)
  }

</script>

{% endblock %}