{% extends "layout.html" %}

{% block page_title %}
User roles and permissions - manage your education and skills funding - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="#" class="govuk-back-link" onclick="goBack()">Back</a>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-l">Calculate funding service </span>
        <h1 class="govuk-heading-xl">CFS permissions</h1>  
        <p class="govuk-body">All permissions in Calculate funding service.</p>
        <table class="govuk-table">
            <caption class="govuk-table__caption">Internal user roles and permissions</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">
                        Permission
                    </th>
                    <th scope="col" class="govuk-table__header">
                        Permissions description
                    </th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Create specification</th>
                    <td class="govuk-table__cell">Can create a specification for the funding stream</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Edit specification</th>
                    <td class="govuk-table__cell">Can edit a specification for the funding stream</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Approve specification</th>
                    <td class="govuk-table__cell">Can approve a specification for the funding stream</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="form-group">
            <h2 class="govuk-heading-l">Requesting roles</h2>
            <p class="govuk-body">An approver at your organisation will be able to provide you with access to this service. You may have more than one approver in your organisation.</p>
        </div>
    </div>
</div>

{% endblock %}
