{% extends "layout.html" %}

{% block pageTitle %}
Permissions management
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form onsubmit="return userView()" action="" method="post" id="view-permissions-type" novalidate data-validate='permissions'>
            <fieldset class="govuk-fieldset" aria-describedby="view-permissions-heading">
                <div class="govuk-form-group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 id="view-permissions-heading" class="govuk-fieldset__heading">
                            Would you like to view user permissions for
                        </h1>
                    </legend>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="individual-user"
                                name="view-user-permissions-for" type="radio" value="individual-user">
                            <label class="govuk-label govuk-radios__label" for="individual-user">
                                An individual user
                            </label>
                            <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                                Assign and view permissions for users of Calculate funding service.
                            </div>
                        </div>
                        <div class="govuk-radios__divider">or</div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="funding-stream"
                                name="view-user-permissions-for" type="radio" value="funding-stream">
                            <label class="govuk-label govuk-radios__label" for="funding-stream">
                                A funding stream
                            </label>
                            <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                                View all users permissions for a funding stream in CSV format.
                            </div>
                        </div>
                    </div>
                </div>

                <button class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </fieldset>
        </form>
    </div>
</div>

<script>
    function userView() {
        const viewUsers = document.querySelector('input[name="view-user-permissions-for"]:checked').value;
        if (viewUsers == "individual-user") {
            document.getElementById("view-permissions-type").action = "permissions-management/individual-user";
        } else if (viewUsers == "funding-stream") {
            document.getElementById("view-permissions-type").action = "permissions-management/funding-stream";

        }
    }
</script>

<script type="application/json" id="permissions">
    {
        "view-user-permissions-for": {
            "presence": {
                "message": "^Select how you would like to view user permissions"
            }
        }

    }
</script>



{% endblock %}