{% extends "layout.html" %}

{% block pageTitle %}
My roles and permissions - calculate funding service
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="#" class="govuk-back-link" onclick="goBack()">Back</a>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <span class="govuk-caption-xl">Calculate funding service </span>
        <h1 class="govuk-heading-xl">My user roles and permissions</h1>
            
        <p class="govuk-body">You have these roles in Calculate funding service (<abbr title="Manage your education and skills funding">CFS</abbr>).</p>
        <table class="govuk-table">
            <caption class="govuk-table__caption">Internal user roles and permissions</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">
                    </th>
                    <th scope="col" class="govuk-table__header">
                        Role 1
                    </th>
                    <th scope="col" class="govuk-table__header">
                        Role 2
                    </th>
                    <th scope="col" class="govuk-table__header">
                        Role 3
                    </th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Profiling</th>
                    <td class="govuk-table__cell"><span class="govuk-visually-hidden">No</span></td>
                    <td class="govuk-table__cell"><span class="govuk-visually-hidden">Yes</span><span class="material-icons">done</span></td>
                    <td class="govuk-table__cell"><span class="govuk-visually-hidden">No</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p class="govuk-body">You do not have any roles assigned to use in Manage your education and skills funding
            (<abbr title="Manage your education and skills funding">MYESF</abbr>).</p>
        <p class="govuk-body">You have these roles in Manage your education and skills funding (<abbr
                title="Manage your education and skills funding">MYESF</abbr>).</p>
    </div>
</div> -->

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="form-group">
            <p class="govuk-body"><a class="govuk-link" href="all-roles-and-permissions">View all available CFS roles and permissions</a></p>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="form-group">
            <h2 class="govuk-heading-l">Requesting roles</h2>
            <p class="govuk-body">An approver at your organisation will be able to provide you with access to this
                service. You may have more than
                one approver in your organisation.</p>
        </div>
    </div>
</div>

{% endblock %}