{% extends "layout.html" %}

{% block pageTitle %}
Permissions management
{% endblock %}

{% block content %}

<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.js"></script>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="#" class="govuk-back-link" onclick="goBack()">Back</a>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Set user permissions</h1>
        <p class="govuk-body">Assign permissions to users of Calculate funding service (<abbr title="Manage your education and skills funding">CFS</abbr>).</p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <label class="govuk-label" for="user-select">Select the user you wish to view, assign, or change permissions for
            <div class="autocomplete-wrapper" onchange="permissionLevel()">
                <select name="user-select" class="govuk-select" id="user-select">
                    <option value="">Select a user</option>
                    <option value="Robert Sparks">Robert Sparks</option>
                    <option value="Alan Nichols">Alan Nichols</option>
                    <option value="Bethan Phillimore">Bethan Phillimore</option>
                </select>
            </div>
        </label>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-visually-hidden" id="permissionLevel">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Current permissions level
              </dt>
              <dd class="govuk-summary-list__value" id="currentPermission"></dd>
            </div>
        </dl>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Permission levels
                </h1>
              </legend>
              <div id="sign-in-hint" class="govuk-hint">
                Set the permission level you wish this user to have.
              </div>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="permissions-administrator" name="sign-in" type="radio" value="government-gateway" aria-describedby="permissions-administrator-hint">
                  <label class="govuk-label govuk-radios__label" for="sign-in">
                    Administrator
                  </label>
                  <div id="permissions-administrator-hint" class="govuk-hint govuk-radios__hint">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Profiling</li>
                        <li>Manage data</li>
                        <li>Funding approvals</li>
                      </ul>
                  </div>
                </div>

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="permissions-funding-approver" name="sign-in" type="radio" value="government-gateway" aria-describedby="permissions-administrator-hint">
                    <label class="govuk-label govuk-radios__label" for="sign-in">
                      Funding approver
                    </label>
                    <div id="permissions-administrator-hint" class="govuk-hint govuk-radios__hint">
                      <ul class="govuk-list govuk-list--bullet">
                          <li>Profiling</li>
                          <li>Funding approvals</li>
                        </ul>
                    </div>
                  </div>
              </div>
          
            </fieldset>
          </div>

    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
        <button class="govuk-button govuk-!-margin-right-1">Change permissions</button>
        <button class="govuk-button govuk-button--secondary" onclick="goBack()">Cancel</button>
    </div>
</div>


<script type="text/javascript">
    var selectEl = document.querySelector('#user-select')
    accessibleAutocomplete.enhanceSelectElement({
        autoselect: true,
        confirmOnBlur: true,
        defaultValue: "",
        minLength: 2,
        selectElement: selectEl,
    })

    var queryStringParameters = window.location.search
    var previouslySubmitted = queryStringParameters.length > 0
    if (previouslySubmitted) {
        var submittedEl = document.querySelector('.submitted')
        submittedEl.classList.remove('submitted--hidden')
        var params = new URLSearchParams(document.location.search.split('?')[1])
        document.querySelector('.submitted__last-location').innerHTML = params.get('user-select')
    }

    function permissionLevel() {
        console.log('permission level function ran')
        var user = document.getElementById('user-select__option--0').textContent
        console.log(user)
        if (user === "Alan Nichols") {
            document.getElementById('currentPermission').innerHTML = "Administrator";
            document.getElementById('permissionLevel').classList.remove("govuk-visually-hidden")
            document.getElementById('permissions-administrator').checked = true
        } else if (user === "Robert Sparks") {
            document.getElementById('currentPermission').innerHTML = "Administrator";
            document.getElementById('permissionLevel').classList.remove("govuk-visually-hidden")
            document.getElementById('permissions-administrator').checked = true
        } else if (user === "Bethan Phillimore") {
            document.getElementById('currentPermission').innerHTML = "Funding approver";
            document.getElementById('permissionLevel').classList.remove("govuk-visually-hidden")
            document.getElementById('permissions-funding-approver').checked = true

        }
    }



</script>



{% endblock %}