// Additional tag colours

.govuk-tag--green {
    color: #005a30;
    background: #cce2d8;
}

.govuk-tag--orange {
    color: #6e3619;
    background: #fcd6c3;
}

.govuk-tag--blue {
    color: #144e81;
    background: #d2e2f1;
}

.govuk-tag--grey {
    color: #454a4d;
    background: #eff0f1;
}

.govuk-tag--turquoise {
    color: #10403c;
	background: #bfe3e0;
}

.govuk-tag--palegrey {
    color: #626a6e;
    background: #f3f2f1;
}

.govuk-tag--red {
    color: #942514;
    background: #f6d7d2;
}

.govuk-tag--yellow {
    color: #594d00;
    background: #fff7bf;
}