
// old permissions banner

.permissions-banner {
font-family: "nta", Arial, sans-serif;
font-weight: 400;
text-transform: none;
font-size: 18px;
line-height: 1.2;
padding: 20px;
margin-top: 15px;
border-width: 5px;
border-style: solid;
color: #005ea5;
}