// permissions banner
.permissions-banner {
	background-color: #f47738;
	padding: 20px;

	span {
		margin-left: 20px;
		border-color: #fff;
		color: #f47738;
		background-color: white;
	}

	strong {
		margin-left: 20px;
		color: white;
	}
}