.timeline__container {
    padding-left: 1rem;
    border-left: 2px solid #949494;
}

.timeline__marker {
    margin-left: -22px;
    width: 10px;
    height: 10px;
    background-color:#949494;
    border-radius: 100%;
}

.timeline__container:last-child {
    padding-bottom: 0;
}

// provider-funding-overview-abbeycollege-v4 page styles
.timeline__container--v2 {
    border-bottom: 1px solid #949494;
}

