{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit 

{% endblock %} 

{% block beforeContent %}
<div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/start.html">Calculate funding</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link"
                        href="../templatebuilder/templatelisting.html">Templates</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="../templatebuilder/templateversions.html">DSG FY-20-21</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="../templatebuilder/edittemplate.html">Version 1.4</a>
                </li>
                
            </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Clone a template</h1>
        <span class="govuk-caption-l govuk-!-margin-bottom-5">Clone a template of DSG 2020 to
            2021 version 1.4</span>
    </div>
</div>





<div class="govuk-form-group">
    <label class="govuk-label" for="sort">
        Select a funding period
    </label>
    <span id="event-name-hint" class="govuk-hint">
        You will not be able to select a funding period if a template for this funding stream and period already exists.
    </span>
    <select class="govuk-select" id="sort" name="sort">
        <option value="draft">Financial year 2021 to 2022</option>
        <option value="draft">Academic year 2021 to 2022</option>
    </select>
</div>


<div class="govuk-form-group">
    <label class="govuk-label" for="more-detail">
        Template description
    </label>
    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="8"
        aria-describedby="more-detail-hint">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. tenim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</textarea>
</div>
</fieldset>

<div class="govuk-button-group">
        <a href="" class="govuk-button govuk-button--primary button-createSpecification" data-module="govuk-button">
            Clone template
        </a>
        <a class="govuk-link" href="#" onclick="document.getElementById('notSaved').style.display='block'">
            Cancel
        </a>
</div>

<div class="govuk-modal-dialogue" id="notSaved" data-module="govuk-modal-dialogue">
    <div class="govuk-modal-dialogue__wrapper">
        <dialog id="timeout" class="govuk-modal-dialogue__box govuk-modal-description" aria-labelledby="timeout-title"
            aria-describedby="timeout-description" aria-modal="true" role="alertdialog" tabindex="0" open="">
         {% include "includes/modal-dialogue-header" %}
            <div class="govuk-modal-dialogue__content">
                <p class="govuk-body">Are you sure you want to leave without saving your changes?</p>
                <a class="govuk-button govuk-button--warning govuk-!-margin-right-1" href="edittemplate">
                    Leave this page
                </a>
                <button type="button" onclick="document.getElementById('notSaved').style.display='none'"
                    class="govuk-button govuk-modal-dialogue__continue govuk-!-margin-bottom-0"
                    data-module="govuk-button">Stay on this page
                </button>
            </div>
        </dialog>
    </div>
    <div class="govuk-modal-dialogue__backdrop"></div>
</div>

{% endblock %}