{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit 
{% endblock %}

 {% block beforeContent %}

<div class="govuk-breadcrumbs govuk">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/start.html">
        Calculate funding
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../templatebuilder/templatelisting">
        Templates
      </a>
    </li>

  </ol>
</div>

{% endblock %}

{% block content %}

    <div class="govuk-grid-row govuk-!-margin-bottom-5">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Create a new template</h1>
            <span class="govuk-caption-l govuk-!-margin-bottom-7">Build a new funding policy template</span>
        </div>
    </div>

    <form action="/v1/templatebuilder/createnewtemplate-build" method="post" class="form">
        <fieldset class="govuk-fieldset">
            <div class="govuk-form-group">
                <label class="govuk-label" for="sort">
                Select a funding stream
            </label>
                <select class="govuk-select" id="sort" name="sort">
                    <option value="draft"></option>
                    <option value="draft">16 to 19</option>
                    <option value="draft">14 to 16</option>
                    <option value="draft">General Annual Grant</option>
                    <option value="draft">Academy Pupil Number Adjustment</option>
                </select>
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="sort">
                Select a funding period
            </label>
                <span id="event-name-hint" class="govuk-hint">
                You will not be able to select a funding period if a template for this funding stream and period already
                exists.
            </span>
                <select class="govuk-select" id="sort" name="sort">
                    <option value="draft"></option>
                    <option value="draft">Academies and Schools Academic Year 2019 to 2020</option>
                    <option>Academic year 2019 to 2020</option>
                </select>
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="more-detail">
                Template description
            </label>
                <textarea class="govuk-textarea" id="more-detail" name="template-description" rows="8"
                aria-describedby="more-detail-hint"></textarea>
            </div>

        </fieldset>
        <button class="govuk-button" data-module="govuk-button">Create template</button>
    </br>
    <a href="templatelisting-basic.html" class="govuk-back-link">Back</a>

</form>

{% endblock %}