{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {%
endblock %} {% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-full">
    <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/start.html"
            >Calculate funding</a
          >
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="templates.html">Templates</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="existingtemplates.html"
            >Existing templates</a
          >
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
          Edit template
        </li>
      </ol>
    </div>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      Band 3 Student Funding Template
    </h1>
    <span class="govuk-caption-xl">XXX</span>
  </div>
</div>

{% endblock %}
