{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {%
    endblock %} {% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/start.html">Calculate funding</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link"
                        href="../templatebuilder/templatelisting-basic.html">Templates</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="createnewtemplate.html">Create a new
                        template</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="createnewtemplate-build.html">Edit template</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    Publish template
                </li>
            </ol>
        </div>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Publish template</h1>
        <span class="govuk-caption-xl">Check the information below carefully before publishing</span>

    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-two-thirds">

        <dl class="govuk-summary-list govuk-summary-list--no-border">

            <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                    Funding stream
                </dd>
                <dt class="govuk-summary-list__key">
                    General annual grant

                </dt>
            </div>
            <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                    Funding period</dd>
                <dt class="govuk-summary-list__key">
                    Academies and Schools Academic Year 2019 to 2020
                </dt>
            </div>
            <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                    Description </dd>
                <dt class="govuk-summary-list__key">
                    {{ data['template-description'] }}
                </dt>
            </div>
            <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                    Version </dd>
                <dt class="govuk-summary-list__key">
                    0.1
                </dt>
            </div>
            <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                    Publish note </dd>
                <dt class="govuk-summary-list__key">
                    {{ data['publish-note'] }}
                </dt>
            </div>
        </dl>
    </div>
</div>



<img src="/public/images/template-gag.jpg" width="1200" height="800" alt="">

</br>
</br>




<div class="govuk-grid-row govuk-!-margin-bottom-3">
    <div class="govuk-grid-column-two-thirds">
        <strong class="govuk-tag govuk-tag--green left-align ">
            Publish successful
        </strong>
    </div>
</div>



<a href="../templatebuilder/templatelisting-1619.html" class="govuk-button govuk-button" data-module="govuk-button">
    Continue to listing page
</a>



{% endblock %}