{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {%
    endblock %} {% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/start.html">Calculate funding</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link"
                        href="../templatebuilder/templatelisting-basic.html">Templates</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="createnewtemplate.html">Create a new
                        template</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="createnewtemplate-build.html">Edit template</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    Publish template
                </li>
            </ol>
        </div>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Publish template</h1>
        <span class="govuk-caption-xl">Check the information below carefully before publishing</span>

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-5">
        <span class="govuk-caption-m">Template name</span>
        <h3 class="govuk-heading-m">16-19 SA19-20
        </h3>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Funding stream</span>
        <h3 class="govuk-heading-m">16-19</h3>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Funding period</span>
        <h3 class="govuk-heading-m">Schools Academic Year 2019 to 2020
        </h3>
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Description</span>
        <p class="govuk-body">{{ data['template-description'] }} </p>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-1">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Version</span>
        <h3 class="govuk-heading-m">1.0</h3>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Publish note</span>
        <p class="govuk-body">{{ data['publish-note'] }}
        </p>
    </div>
</div>

<img src="/public/images/Template.jpg" width="1200" height="750" alt="">

</br>
</br>




<div class="govuk-grid-row govuk-!-margin-bottom-3">
    <div class="govuk-grid-column-two-thirds">
        <strong class="govuk-tag govuk-tag--green left-align ">
            Publish successful
        </strong>
    </div>
</div>



<a href="../templatebuilder/templatelisting-1619.html" class="govuk-button govuk-button" data-module="govuk-button">
    Continue to listing page
</a>



{% endblock %}