{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{%endblock %}

{% block content %}




<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="sidebar-content">
            <h2 class="govuk-heading-l">View calculation</h2>
            <fieldset class="govuk-fieldset">
                <div class="govuk-form-group govuk-!-margin-bottom-6"><label class="govuk-label"
                        for="calc-name">Name</label>
                    <span id="calculation-name-hint" class="govuk-hint">Primary funding</span>
                </div>
                <label class="govuk-label" for="calc-name">Primary Funding</label>
                <div class="govuk-form-group govuk-!-margin-bottom-6">
                    <span id="calculation-name-hint" class="govuk-hint">Calc187684</span>
                </div>
                <div class="govuk-form-group govuk-!-margin-bottom-6">
                    <label class="govuk-label" for="calc-type">Type</label>
                    <span id="calculation-name-hint " class="govuk-hint ">Cash</span>
                </div>
        </div>

        <div class="govuk-form-group govuk-!-margin-bottom-6">
            <label class="govuk-label" for="calc-formula-text">Formula
                Text</label>
            <span id="calculation-name-hint" class="govuk-hint">Example formula text</span>
        </div>

        <div class="govuk-form-group govuk-!-margin-bottom-6">
            <label class="govuk-label" for="calc-value-format">Value
                Format</label>
            <span id="calculation-name-hint" class="govuk-hint">Currency</span>
        </div>

        <div class="govuk-form-group govuk-!-margin-bottom-8"><label class="govuk-label"
                for="calc-aggregation-type">Aggregation
                Type</label>
            <span id="calculation-name-hint" class="govuk-hint">None</span>
        </div>

        <button class="govuk-button" id="save-button" data-module="govuk-button">Close</button>

        </fieldset>
    </div>
</div>
</div>

{% endblock %}