{% extends "layout.html" %} 

{% block pageTitle %} 
GOV.UK Prototype Kit 
{% endblock %} 

{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/start">
        Calculate funding
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">
      Templates
    </li>
  </ol>
</div>
  
{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Templates</h1>
        <span class="govuk-caption-xl">View and edit existing templates</span>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="createnewtemplate.html" class="govuk-button govuk-button--primary button-createSpecification"
            data-module="govuk-button">
            Create a new template
        </a>
    </div>
    <div class="govuk-grid-column-one-third">
        <br>
        <div class="pagination__summary"></div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-half">Template</th>
                    <th scope="col" class="govuk-table__header"></th>
                    <th scope="col" class="govuk-table__header">Last updated</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">

                    <th scope="row" class="govuk-table__header"><a href="edittemplate">DSG FY-20-21</a>

                        <div class="govuk-!-margin-top-3">

                            <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        Template details
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    <p class="govuk-body"><strong>Funding stream:</strong> Dedicated schools grant</p>
                                    <p class="govuk-body"><strong>Funding period:</strong> Financial year 2020 to 2021
                                    </p>
                                    <p class="govuk-body"><strong>Current version:</strong> <a class="govuk-link"
                                            href="edittemplate">1.4
                                        </a> <strong class="govuk-tag govuk-tag govuk-!-margin-left-2">
                                            In progress
                                        </strong>
                                        </strong> </p>
                                    <p class="govuk-body"><a class="govuk-link" href="templateversions">View all
                                            versions</a>
                                    </p>
                            </details>
                        </div>
                    </th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">11 April 2020 09:51am</td>

                <tr class="govuk-table__row"></tr>
                    <th scope="row" class="govuk-table__header"><a href="">GAG AC-19-20</a>
                        <div class="govuk-!-margin-top-3">

                            <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        Template details </span>
                                </summary>
                                <div class="govuk-details__text">
                                    <p class="govuk-body"><strong>Funding stream:</strong> General annual grant</p>
                                    <p class="govuk-body"><strong>Funding period:</strong> Academic year 2019 to 2020
                                    </p>
                                    <p class="govuk-body"><strong>Current version:</strong><a class="govuk-link"
                                            href="">
                                            1.7</a> <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-1">
                                            Published</strong> </p>
                                    <p class="govuk-body"><a class="govuk-link" href="templateversions">View all
                                            versions</a>
                                    </p>
                                </div>
                            </details>
                        </div>
                    </th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">10 April 2020 11:36am</td>


                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="edittemplate">PSG FY-20-21</a>
                        <div class="govuk-!-margin-top-3">
                            <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        Template details
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    <p class="govuk-body"><strong>Funding stream:</strong> Dedicated schools grant</p>
                                    <p class="govuk-body"><strong>Funding period:</strong> Financial year 2020 to 2021
                                    </p>
                                    <p class="govuk-body"><strong>Current version:</strong> <a class="govuk-link"
                                            href="">
                                            1.4</a> <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-1">
                                            Published
                                        </strong> </p>
                                    <p class="govuk-body"><a class="govuk-link" href="templateversions">View all
                                            versions</a>
                                    </p>
                            </details>
                        </div>
                    </th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">9 April 2020 10:32am</td>
            </tbody>
        </table>
    </div>
</div>
<div class="app-back-to-top app-back-to-top--fixed govuk-!-margin-top-9" data-module="app-back-to-top">
    <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
        <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg"
            width="13" height="17" viewBox="0 0 13 17">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
        </svg>Back to top
    </a>
</div>










{% endblock %}