{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {%
  endblock %} {% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <div class="govuk-grid-column-full">
    <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/start.html">Calculate funding</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../templatebuilder/templatelisting-basic.html">Templates</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
          DSG FY-20-21
        </li>
      </ol>
    </div>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">DSG FY-20-21</h1>
    <span class="govuk-caption-l">View or restore previous versions of the template</span>

  </div>
</div>


<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <div class="govuk-grid-column-one-half">

    <dl class="govuk-summary-list govuk-summary-list--no-border">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Funding stream


        </dt>
        <dd class="govuk-summary-list__value">
          Dedicated schools grant
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Funding period
        <dd class="govuk-summary-list__value">
          Financial year 2020 to 2021</dd>
      </div>

    </dl>
  </div>
</div>







<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">


    <div class="govuk-form-group filterbyContainer">
      <fieldset class="govuk-fieldset">
        <button class="govuk-fieldset__legend govuk-fieldset__legend--m filterbyHeading filter-expand govuk-button">
          <h4 class="govuk-heading-s">Filter by status <span><i class="material-icons right-align">
                keyboard_arrow_down</i></span>
          </h4>
          <p class="govuk-body-s govuk-!-margin-bottom-0">0 Selected</p>
        </button>
        <div id="filter-content" class="filter-content">
          <div class="govuk-checkboxes govuk-checkboxes--small filterbyCheckbox">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="filter-by-published" name="filter-by-published"
                autocomplete="off" type="checkbox" value="published">
              <label class="govuk-label govuk-checkboxes__label" for="published">
                Published <span>(1)</span>
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="filter-by-draft" name="filter-by-draft" autocomplete="off"
                type="checkbox" value="draft">
              <label class="govuk-label govuk-checkboxes__label" for="draft">
                Draft <span>(4)</span>
              </label>
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    </fieldset>
  </div>



  <div class="govuk-grid-column-two-thirds">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">
            Template version
          </th>

          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Last updated</th>

        </tr>
      </thead>
      <tbody class="govuk-table__body" id="mainContentResults">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="edittemplate">Version 1.4</a>
          </th>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag">
              In progress
            </strong></td>
          <td class="govuk-table__cell">19 May 2020 9:14am </br> by Nathan Townsend</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="viewtemplate"> Version 1.3</a>
          </th>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">
              Draft
            </strong></td>
          <td class="govuk-table__cell">18 May 2020 8:19am </br> by Nathan Townsend</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="viewtemplate"> Version 1.2</a>
          </th>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">
              Draft
            </strong></td>
          <td class="govuk-table__cell">11 May 2020 11:38am </br> by Nathan Townsend</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="viewtemplate"> Version 1.1</a>
          </th>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">
              Draft
            </strong></td>
          <td class="govuk-table__cell">7 May 2020 9:28am </br> by Nathan Townsend</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="viewpublishedversion.html"> Version 1.0</a>
          </th>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
              Published
            </strong></td>
          <td class="govuk-table__cell">6 May 2020 1:14pm </br> by Nathan Townsend</td>
        </tr>

      </tbody>
    </table>


    <div class="app-back-to-top app-back-to-top--fixed govuk-!-margin-top-9" data-module="app-back-to-top">
      <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
        <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg"
          width="13" height="17" viewBox="0 0 13 17">
          <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
        </svg>Back to top
      </a>
    </div>

    <nav role="navigation" aria-label="Pagination">
      <div class="pagination__summary">Showing 1 - 10 of 14 results</div>
      <ul class="pagination">
        <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Previous page"><span
              aria-hidden="true" role="presentation">&laquo;</span> Previous</a></li>
        <li class="pagination__item"><a class="pagination__link current" href="#0" aria-current="true"
            aria-label="Page 1, current page">1</a></li>
        <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 2">2</a></li>
        <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Next page">Next <span
              aria-hidden="true" role="presentation">&raquo;</span></a></li>
      </ul>
    </nav>
  </div>
</div>
</div>


















{% endblock %}