{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {%
endblock %} {% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-full">
    <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/start.html"
            >Calculate funding</a
          >
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="templates.html">Templates</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="existingtemplates.html"
            >Existing templates</a
          >
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
          View or edit template
        </li>
      </ol>
    </div>

    
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
        Band 3 Student Funding Template
      </h1>
      <span class="govuk-caption-xl">Version 14</span>


      <div class="govuk-grid-row govuk-!-margin-top-8">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-caption-m">Funding stream</span>
          <h2 class="govuk-heading-m">PE and Sports Grant</h2>
        </div>
      </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-5">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Description</span>
        <p class="govuk-body-m">
          Band 3 Student Funding with PE and Sports Grant stream. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie quis risus ac porttitor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis id eros eget tortor semper pulvinar. Donec ullamcorper, eros at mollis interdum, nisl urna eleifend dui, nec elementum erat erat eu quam. 
        </p>
      </div>
    </div>

    <details class="govuk-details govuk-!-margin-bottom-9" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Version details
        </span>
      </summary>
      <div class="govuk-details__text">
        <p><strong>Updated by:</strong> Nathan Townsend</p>
        <p><strong>Change notes:</strong> New data for Band 3 Student Funding with PE and Sports Grant stream
        </p>
      </div>
    </details>




<div class="govuk-tabs" data-module="govuk-tabs">
  <h3 class="govuk-tabs__title">
    Contents
  </h3>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#past-day">
        View
      </a>
    </li>
    <body> 

    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
        Edit
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="past-day">
    <h3 class="govuk-heading-l">View</h3>
    <body> 
      <svg width="1350" height="500"> 
      <rect width="1150" height="500"  stroke-width="8" fill="gray" /> 
      </svg> 
      </body> 
    </br>
  </br>
      <button class="govuk-button" data-module="govuk-button">
        Add to template builder
      </button>

    </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
    <h3 class="govuk-heading-l">Edit</h3>
    <body> 
      <svg width="1350" height="500"> 
      <rect width="1150" height="500"  stroke-width="8" fill="gray" /> 
      </svg> 
      </body> 
    </br>
  </br>
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button"><div class="right-align"></div>
        Save as new version
      </button></div>
    </table>
  </div>

      </tbody>
    </table>
  </div>
</div>

{% endblock %}
