{% extends "layout.html" %} 

{% block pageTitle %} 
GOV.UK Prototype Kit 
{% endblock %} 

{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/start">
        Calculate funding
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../templatebuilder/templatelisting-basic">
        Templates
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a
        class="govuk-breadcrumbs__link"
        href="../templatebuilder/templateversions"
      >
        DSG FY-20-21
      </a>
    </li>

  </ol>
</div>
  
{% endblock %}
    
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">DSG FY-20-21</h1>
        <span class="govuk-caption-l govuk-!-margin-bottom-2">Dedicated
            schools grant for financial year
            2020 to 2021</span>
        <details class="govuk-details govuk-!-margin-top-3" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    What is DSG FY-20-21?
                </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt
                    ut labore et dolore magna aliqua. tenim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi
                    ut aliquip ex ea commodo consequat. <a
                        onclick="document.getElementById('editDescription').style.display='block'" href="#"
                        class="govuk-link">Edit</a></p>
            </div>
        </details>
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
        <span class="govuk-caption-m">Version</span>
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">1.0<strong
                class="govuk-tag govuk-tag--green govuk-!-margin-left-2">
                Published
            </strong> </h3>
        <p class="govuk-body-s"><a class="govuk-link" href="templateversions.html">View all
                versions</a></p>
        <span class="govuk-caption-m">Publish notes</span>
        <p class="govuk-body govuk-!-margin-bottom-1">Updated with the new data</p>
    </div>
</div>



<body>
    <svg width="1350" height="500">
        <rect width="1200" height="500" stroke-width="8" fill="gray" />
    </svg>
</body>
</br>


</br>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="restoretemplate-confirmation.html" class="govuk-button govuk-button" data-module="govuk-button">
            Restore as current version
        </a>
        <a href="clonetemplate.html" class="govuk-button govuk-button--secondary right-align govuk-!-margin-left-1"
            data-module="govuk-button">
            Clone template
        </a>
        <a href="" class="govuk-button govuk-button--secondary right-align" data-module="govuk-button">
            Export template
        </a>
    </div>

</div>
<p class="govuk-body-s">
    <strong>Last updated:</strong> 6 May 2020 1:14pm by Nathan Townsend
</p>











{% endblock %}