{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {%
    endblock %} {% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/start.html">Calculate funding</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link"
                        href="../templatebuilder/templatelisting-basic.html">Templates</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="../templatebuilder/templateversions.html">DSG FY-20-21</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    Version 1.3
                </li>
            </ol>
        </div>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">DSG FY-20-21</h1>
        <span class="govuk-caption-l govuk-!-margin-bottom-2">Dedicated
            schools grant for financial year
            2020 to 2021</span>
        <details class="govuk-details govuk-!-margin-top-3" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    What is DSG FY-20-21?
                </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt
                    ut labore et dolore magna aliqua. tenim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi
                    ut aliquip ex ea commodo consequat.
            </div>
        </details>
    </div>
</div>



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Version</span>
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">1.3<strong
                class="govuk-tag govuk-tag--grey govuk-!-margin-left-2">
                Draft </strong> </h3>
        <p class="govuk-body-s"><a class="govuk-link" href="templateversions.html">View all
                versions</a></p>
    </div>
</div>


<div class="govuk-!-margin-bottom-0">
    <svg class="" width="1350" height="500">
        <rect width="1200" height="500" stroke-width="8" fill="gray" />
    </svg>
</div>



</br>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


        <a href="restoretemplate-confirmation.html" class="govuk-button govuk-button" data-module="govuk-button">
            Restore as current version
        </a>
        <a href="" class="govuk-button govuk-button--secondary right-align" data-module="govuk-button">
            Export template
        </a>
        <!-- <a href="templateversions.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Back
        </a>-->
        <p class="govuk-body-s">
            <strong>Last updated:</strong> 19 May 2020 9:14am by Nathan Townsend
        </p>
        <a href="templateversions.html" class="govuk-back-link">Back</a>
    </div>
</div>











{% endblock %}