{% extends "layout.html" %} 

{% block pageTitle %} 
GOV.UK Prototype Kit 
{% endblock %} 

{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/start">
        Calculate funding
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../templatebuilder/templatelisting-basic">
        Templates
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a
        class="govuk-breadcrumbs__link"
        href="../templatebuilder/templateversions"
      >
        DSG FY-20-21
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">
      Version 1.3
    </li>
  </ol>
</div>
  
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">DSG FY-20-21</h1>
        <span class="govuk-caption-l govuk-!-margin-bottom-2">Dedicated
            schools grant for financial year
            2020 to 2021</span>
        <details class="govuk-details govuk-!-margin-top-3" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    What is DSG FY-20-21?
                </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt
                    ut labore et dolore magna aliqua. tenim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi
                    ut aliquip ex ea commodo consequat.
            </div>
        </details>
    </div>
</div>



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Version</span>
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">1.3<strong
                class="govuk-tag govuk-tag--grey govuk-!-margin-left-2">
                Draft </strong> </h3>
        <p class="govuk-body-s"><a class="govuk-link" href="templateversions.html">View all
                versions</a></p>
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
            <label class="govuk-label" for="textarea">
                Search </label>
            <div class="search-container">
                <input class="govuk-input input-search" id="event-name" name="event-name" spellcheck="false"
                    type="text">
            </div>
        </div>
    </div>
</div>
<div class="govuk-!-margin-top-1">
    <svg class="" width="1350" height="700">
        <rect width="1200" height="700" stroke-width="8" fill="gray" />
    </svg>
</div>

<div class="right-align maths-icon govuk-!-margin-right-3 ">
    <div class="tooltip">
        <span class="tooltiptext">Zoom in</span>
        <a title="Zoom in" href="#" id="zoomIn" style="text-decoration: none;">
            <span class="zoom in govuk-!-margin-right-1" aria-hidden="true"><img src="/public/images/plus.png"></span>
            <span class="hide-me">zoom in</span>
        </a>
    </div>
    <div class="tooltip">
        <span class="tooltiptext">Zoom out</span>
        <a title="Zoom out" href="#" id="zoomOut" style="text-decoration: none;">
            <span class="zoom out govuk-!-margin-right-1" aria-hidden="true"><img
                    src="/public/images/minus (1).png"></span>
            <span class="hide-me">zoom out</span>
        </a></div>
    <div class="tooltip">
        <span class="tooltiptext">Full screen</span>
        <a title="Full screen" href="#" id="openFullScreen" style="text-decoration: none;">
            <span class="full screen govuk-!-margin-right-1" aria-hidden="true"><img
                    src="/public/images/expand.png"></span>
            <span class="hide-me">full screen</span>
        </a></div>
    <div class="tooltip">
        <span class="tooltiptext">Fit to screen</span>
        <a title="Fit to screen" href="#" id="fitToScreen" style="text-decoration: none;">
            <span class="fit to screen govuk-!-margin-right-1" aria-hidden="true"><img
                    src="/public/images/switch (1).png"></span>
            <span class="hide-me">fit to screen</span>
        </a>
    </div>
</div>



</br>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


        <a href="restoretemplate-confirmation.html" class="govuk-button govuk-button" data-module="govuk-button">
            Restore as current version
        </a>
        <a href="clonetemplate.html" class="govuk-button govuk-button--secondary right-align govuk-!-margin-left-1"
            data-module="govuk-button">
            Clone template
        </a>
        <a href="" class="govuk-button govuk-button--secondary right-align" data-module="govuk-button">
            Export template
        </a>
        <!-- <a href="templateversions.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Back
        </a>-->
        <p class="govuk-body-s">
            <strong>Last updated:</strong> 19 May 2020 9:14am by Nathan Townsend
        </p>

    </div>
</div>











{% endblock %}