{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs govuk">
<ol class="govuk-breadcrumbs__list">
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="/start">
      Home
    </a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="/v1/funding-management">
      Funding management
    </a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a
      class="govuk-breadcrumbs__link"
      href="/v1/funding-management/view-funding.html"
    >
      Release management
    </a>
  </li>
    <li class="govuk-breadcrumbs__list-item">
    <a
      class="govuk-breadcrumbs__link"
      href="/v1/funding-management/16-19/16-19-results.html"
    >
      16 to 19 results
    </a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
   
     Purpose of release
    </a>
  </li>
</ol>

</div>
<br/>
<!-- {% endblock %}

{% block content %} -->

<div class="govuk-grid-row govuk-!-margin-bottom-4">
  <div class="govuk-grid-column-three-quarters">
    <div class="govuk-form-group">
      <form action="funding-release--16-19" id="createSpec" method="post" novalidate data-validate='release-channels'>
      <fieldset class="govuk-fieldset" aria-describedby="select-all-that-apply">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          
          <h1 class="govuk-fieldset__heading">
            For which purposes would you like to release?
          </h1>
        </legend>
        <div id="select-all-that-apply" class="govuk-hint">
          Select all that apply
        </div><br/>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="statement" name="release-channel" type="checkbox" value="carcasses">
            <label class="govuk-label govuk-checkboxes__label"  for="statement">
              Statement
            </label>
          </div><br/>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="payment" name="release-channel" type="checkbox" value="mines">
            <label class="govuk-label govuk-checkboxes__label" for="payment">
             Payment or contract
            </label>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <button data-prevent-double-click="true"
        class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" id="submit">
        Continue
      </button>
    </form>
    <a href="../16-19/16-19-results-v3.html" class="govuk-link app-link-spacing">
      Cancel
    </a>
  </div>
</div>

<!-- <script type="application/json" id="release-channels">
  { 		  	
        "release-channel": {
        "presence": {
        "message": "^Select the channels you wish to release to"
      }
    }
  }
</script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

 <script>
   $(function() {
     var button = $('#submit');
     button.attr('disabled','disabled');
     $('#statement').change(function(e){
  if(this.checked)
  {
   button.removeAttr('disabled');
  }
  else{
   button.attr('disabled','disabled');
  }
     });
   });
 </script>
 <script>
  $(function() {
    var button = $('#submit');
    button.attr('disabled','disabled');
    $('#payment').change(function(e){
 if(this.checked)
 {
  button.removeAttr('disabled');
 }
 else{
  button.attr('disabled','disabled');
 }
    });
  });
</script>
{% endblock %}