{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs govuk">
<ol class="govuk-breadcrumbs__list">
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="/start">
      Home
    </a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="/v1/funding-management">
      Funding management
    </a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a
      class="govuk-breadcrumbs__link"
      href="/v1/funding-management/view-funding.html"
    >
      Release management
    </a>
  </li>
    <li class="govuk-breadcrumbs__list-item">
    <a
      class="govuk-breadcrumbs__link"
      href="/v1/funding-management/16-19/16-19-results-unmatched.html"
    >
      16 to 19 results
    </a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    
    Purpose of release
  
  </li>
</ol>

</div>

<!-- {% endblock %}

{% block content %} -->
<br/>
<div class="govuk-error-summary error-summary-position" aria-labelledby="error-summary-title" role="alert"
    data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title app-summary-title" id="error-summary-title">
        There is a problem
    </h2>
    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
            <li>
                <p class="govuk-error-message">Error trying to release funding</p>
                <p>xxxx</p>
            </li>
        </ul>
    </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-4">
  <div class="govuk-grid-column-full">
    <div class="govuk-form-group">
   
      <div class="govuk-notification-banner app-banner-position" id="notification-banner"role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__heading">
          
          <h2 class="govuk-notification-banner__title app-notificaton-statement-width"id="govuk-notification-banner-title">
            <p class="font-bold govuk-notification-banner__title  app-banner-title">Permissions</p>
            
            <p class="govuk-notification-banner app-banner font-bold">
              You do not have permission to release for payment or contract.            
              <a  href="/v1/my-user-permissions2/index.html" class="font-bold"> View your user permissions</a>.
             </p>
          </h2>  
        </div>
       
      </div>
      <br/>
      <form action="funding-release--16-19-statement" id="createSpec" method="post" novalidate data-validate='release-channels'>
      <fieldset class="govuk-fieldset" aria-describedby="select-all-that-apply">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          
          <h1 class="govuk-fieldset__heading">
            For which purposes would you like to release?
          </h1>
        </legend>
        <div id="select-all-that-apply" class="govuk-hint">
          Select all that apply
        </div>
        <br/>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="statement" name="release-channel" type="checkbox" value="carcasses">
            <label class="govuk-label govuk-checkboxes__label" for="statement">
              Statement
            </label>
          </div>
          <br/>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input test" id="payment" name="release-channel" type="checkbox" value="mines" disabled>
            <label class="govuk-label govuk-checkboxes__label app-checkbox-disabled" 
             for="payment">
             Payment or contract
            </label>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <button 
        class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" id="submit">
        Continue
      </button>
    </form>
    
    <a href="/v1/funding-management/16-19/16-19-results-unmatched.html" class="govuk-link app-link-spacing">
      Cancel
    </a>
  </div>
</div>

<!-- <script type="application/json" id="release-channels">
  { 		  	
        "release-channel": {
        "presence": {
        "message": "^Select the channels you wish to release to"
      }
    }
  }
</script>
<script>
  function hideNotification(){ 
   var x = document.getElementById("notification-banner");
   if(x.style.display === "none"){
     x.style.display = "block";
   }
   else
   {
     x.style.display = "none";
   }
 }
 
 </script> -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

 <script>
   $(function() {
     var button = $('#submit');
     button.attr('disabled','disabled');
     $('#statement').change(function(e){
  if(this.checked)
  {
   button.removeAttr('disabled');
  }
  else{
   button.attr('disabled','disabled');
  }
     });
   });
 </script>
{% endblock %}