{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row  govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/start.html">Calculate funding</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="approvals.html">Funding approvals</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="view-funding.html">Select specification</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="funding-results.html">Funding approval results</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="provider-funding-overview-gag.html">Provider funding
                        overview</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    Edit funding
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Edit profile</h1>
        <span class="govuk-caption-m">Provider name</span>
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Barnet London Borough Council</h3>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Funding line value for 2020 to 2021</span>
        <h3 class="govuk-heading-m govuk-!-margin-bottom-5">£1,260,000</h3>

        <span class="govuk-caption-m">Amount remaining to be paid</span>
        <h3 class="govuk-heading-m">£840,000</h3>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <table class="govuk-table govuk-!-margin-top-7">
            <caption class="govuk-table__caption">Profilling installments</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">Installment</th>
                    <th scope="col" class="govuk-table__header">Installment number</th>
                    <th scope="col" class="govuk-table__header">Percentage
                    </th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">value</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">September 2020 
                        <strong class="govuk-tag">Paid</strong>
                    </th>
                    <td class="govuk-table__cell">1</td>

                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£105,000</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">October 2020 
                        <strong class="govuk-tag">Paid</strong>
                    </th>
                    <td class="govuk-table__cell">2</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£105,000</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">November 2020                        
                        <strong class="govuk-tag">Paid</strong>
                    </th>
                    <td class="govuk-table__cell">3</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£105,000</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">December 2020                        
                        <strong class="govuk-tag">Paid</strong>
                    </th>
                    <td class="govuk-table__cell">4</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£105,000</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">January 2021</th>
                    <td class="govuk-table__cell">5</td>
                    <td class="govuk-table__cell">
                        <div class="govuk-form-group">
                            <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" value="12.5000000%" type="text">
                          </div>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <div class="govuk-form-group">
                            <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" value="£105,000" type="text">
                          </div>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">February 2021</th>
                    <td class="govuk-table__cell">6</td>
                    <td class="govuk-table__cell">
                        <div class="govuk-form-group">
                            <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" value="12.5000000%" type="text">
                          </div>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <div class="govuk-form-group">
                            <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" value="£105,000" type="text">
                          </div>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">March 2021</th>
                    <td class="govuk-table__cell">7</td>
                    <td class="govuk-table__cell">
                        <div class="govuk-form-group">
                            <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" value="12.5000000%" type="text">
                          </div>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <div class="govuk-form-group">
                            <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" value="£105,000" type="text">
                          </div>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">April 2021</th>
                    <td class="govuk-table__cell">8</td>
                    <td class="govuk-table__cell">
                        <div class="govuk-form-group">
                            <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" value="12.5000000%" type="text">
                          </div>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <div class="govuk-form-group">
                            <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" value="£105,000" type="text">
                          </div>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">May 2021</th>
                    <td class="govuk-table__cell">9</td>
                    <td class="govuk-table__cell">
                        <div class="govuk-form-group">
                            <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" value="12.5000000%" type="text">
                          </div>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <div class="govuk-form-group">
                            <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" value="£105,000" type="text">
                          </div>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">June 2021</th>
                    <td class="govuk-table__cell">10</td>
                    <td class="govuk-table__cell">
                        <div class="govuk-form-group">
                            <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" value="12.5000000%" type="text">
                          </div>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <div class="govuk-form-group">
                            <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" value="£105,000" type="text">
                          </div>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">July 2021</th>
                    <td class="govuk-table__cell">11</td>
                    <td class="govuk-table__cell">
                        <div class="govuk-form-group">
                            <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" value="12.5000000%" type="text">
                          </div>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <div class="govuk-form-group">
                            <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" value="£105,000" type="text">
                          </div>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">August 2021</th>
                    <td class="govuk-table__cell">12</td>
                    <td class="govuk-table__cell">
                        <div class="govuk-form-group">
                            <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" value="12.5000000%" type="text">
                          </div>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <div class="govuk-form-group">
                            <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" value="£105,000" type="text">
                          </div>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Total allocation</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">100%</td>
                    <td class="govuk-table__cell">£1,260,000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

        <a class="govuk-button govuk-!-margin-right-1" href="provider-funding-overview-gag.html">
            Save and continue
        </a>
          
          <a class="govuk-button govuk-button--secondary" href="funding-line-profile.html">
            Cancel
          </a>

    </div>
</div>

{% endblock %}