{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row  govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="../start.html">Calculate funding</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="../approvals.html">Funding approvals</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="../view-funding.html">Select specification</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="../funding-resultsv2.html">Funding approval results</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="../provider-funding-overview-gag.html">Barnet London Borough Council</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="funding-line-profile-custom.html">Funding line profile name</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                   Profile history
                </li>
            </ol>
        </div>
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Previous payment profiles</h1>
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Barnet London Borough Council</h2>
        <span class="govuk-caption-m">Specification</span>
        <h3 class="govuk-heading-m">GAG specification</h3>
        <span class="govuk-caption-m">Funding period</span>
        <h3 class="govuk-heading-m">2019 to 2020</h3>
        <span class="govuk-caption-m">Funding stream</span>
        <h3 class="govuk-heading-m">General annual grant</h3>
    </div>
</div>

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Profile prior to 22 August 2019
                </span>
            </h2>
            <p class="govuk-body-s govuk-!-margin-bottom-0">Last updated by Robert Sparks on 22 August 2019 at 11:32am</p>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content"
            aria-labelledby="accordion-default-heading-1">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-m">Total allocation for 2019 to 2020</span>
                    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">£28,500,000</h3>
                    <span class="govuk-caption-m">Previous allocation value</span>
                    <h3 class="govuk-heading-m">£26,000,000</h3>
                    <table class="govuk-table govuk-!-margin-top-5">
                        <caption class="govuk-table__caption">Profiling instalments</caption>
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Instalment</th>
                                <th scope="col" class="govuk-table__header">Payment status</th>
                                <th scope="col" class="govuk-table__header">Instalment number</th>
                                <th scope="col" class="govuk-table__header">Per cent</th>
                                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Value</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">8 September 2020</th>
                                <td class="govuk-table__cell"><strong class="govuk-tag">Paid</strong></td>
                                <td class="govuk-table__cell">1</td>
                                <td class="govuk-table__cell"></td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£250,000</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">8 October 2020</th>
                                <td class="govuk-table__cell"><strong class="govuk-tag">Paid</strong></td>
                                <td class="govuk-table__cell">2</td>
                                <td class="govuk-table__cell"></td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£250,000</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">8 November 2020</th>
                                <td class="govuk-table__cell"><strong class="govuk-tag">Paid</strong></td>
                                <td class="govuk-table__cell">3</td>
                                <td class="govuk-table__cell"></td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£250,000</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">9 December 2020</th>
                                <td class="govuk-table__cell"><strong class="govuk-tag">Paid</strong></td>
                                <td class="govuk-table__cell">4</td>
                                <td class="govuk-table__cell"></td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£200,000</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">12 January 2021</th>
                                <td class="govuk-table__cell"></td>
                                <td class="govuk-table__cell">5</td>
                                <td class="govuk-table__cell">20%</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£320,000</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">11 February 2021</th>
                                <td class="govuk-table__cell"></td>
                                <td class="govuk-table__cell">6</td>
                                <td class="govuk-table__cell">20%</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£320,000</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">6 March 2021</th>
                                <td class="govuk-table__cell"></td>
                                <td class="govuk-table__cell">7</td>
                                <td class="govuk-table__cell">15%</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£240,000</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">8 April 2021</th>
                                <td class="govuk-table__cell"></td>
                                <td class="govuk-table__cell">8</td>
                                <td class="govuk-table__cell">10%</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£160,000</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">8 May 2021</th>
                                <td class="govuk-table__cell"></td>
                                <td class="govuk-table__cell">9</td>
                                <td class="govuk-table__cell">10%</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£160,000</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">8 June 2021</th>
                                <td class="govuk-table__cell"></td>
                                <td class="govuk-table__cell">10</td>
                                <td class="govuk-table__cell">10%</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£160,000</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">8 July 2021</th>
                                <td class="govuk-table__cell"></td>
                                <td class="govuk-table__cell">11</td>
                                <td class="govuk-table__cell">10%</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£160,000</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">8 August 2021</th>
                                <td class="govuk-table__cell"></td>
                                <td class="govuk-table__cell">12</td>
                                <td class="govuk-table__cell">5%</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£80,000</td>
                            </tr>
                        </tbody>
                    </table>
                    <p><a href="#" class="govuk-link" data-module="govuk-button">Export to CSV</a></p>
                </div>
            </div>
        </div>
    </div>
    </div>

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}