{% extends "layout.html" %} 

{% block pageTitle %} 

GOV.UK Prototype Kit 

{%endblock %} 

{% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Change profile type
    </h1>
  </div>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h4 class="govuk-heading-s">Select pattern type</h4>
    </legend>
    <span id="how-contacted-conditional-hint" class="govuk-hint">
      Select one option.
    </span>
    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio"
          value="email" data-aria-controls="national-pattern" />
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
          National pattern
          <span class="govuk-hint">
            <strong>Description:</strong> Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Aliquam congue diam sit amet dui
            posuere
          </span>
        </label>
      </div>

      <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
        id="national-pattern">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h4 class="govuk-heading-s">Select data source version</h4>
            </legend>
            <div class="govuk-radios govuk-radios--small">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month" />
                <label class="govuk-label govuk-radios__label" for="changed-name">
                  National pattern 1
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month" />
                <label class="govuk-label govuk-radios__label" for="changed-name">
                  National pattern 2
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month" />
                <label class="govuk-label govuk-radios__label" for="changed-name">
                  National pattern 3
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year" />
                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                  National pattern 4
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year" />

                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                  National pattern 5
                </label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio"
          value="email" data-aria-controls="rule-based-pattern" />
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
          Rule based pattern
          <span class="govuk-hint">
            <strong>Description:</strong> Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Aliquam congue diam sit amet dui
            posuere
          </span>
        </label>
      </div>

      <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
        id="rule-based-pattern">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h4 class="govuk-heading-s">Select data source version</h4>
            </legend>
            <div class="govuk-radios govuk-radios--small">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month" />
                <label class="govuk-label govuk-radios__label" for="changed-name">
                  Rule based pattern 1
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month" />
                <label class="govuk-label govuk-radios__label" for="changed-name">
                  Rule based pattern 2
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month" />
                <label class="govuk-label govuk-radios__label" for="changed-name">
                  Rule based pattern 3
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year" />
                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                  Rule based pattern 4
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year" />
                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                  Rule based pattern 5
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <p class="govuk-body govuk-!-margin-top-5">
          <a href="rule-based-selection-expanded.html" class="govuk-link">View 5 more patterns</a> <br>
        </p>

        <p class="govuk-body govuk-!-margin-top-5">
          <a href="new-rule-based-pattern.html" class="govuk-link">Create new pattern</a>
        </p>

      </div>
    </div>
  </fieldset>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <button class="govuk-button" data-module="govuk-button">
    Save
  </button>
  <a href="edit-profile.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Cancel
  </a>
</div>

{% endblock %}