{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/start">
        Home
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="../../funding-management/funding-management">
        Funding management 
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="../view-funding">
        Funding approvals 
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/v1/funding-approvals/16-19/16-19-results-with-some-la">
          16 to 19 Mainstream 2022 to 2023
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="upload-batch-reprofile-release-some">
          Reprofile a batch of providers
      </a>
    </li>
  </ol>
  
</div>

{% endblock %}

{% block content %}

<div class="govuk-!-margin-bottom-6"style="padding-left:30px;height:25%;width:90%;">
  <div class="govuk-notification-banner" style="border-width:5px;border-color: #1d70b8;padding-top:0px;padding-left: 0px;" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header"style="border-width:6px;padding-left:0px;padding-top:0px;padding-bottom:0px;">
               <h2 class=" govuk-notification-banner__title" style="height:25px;width:100%;border-width:6px;padding-top:8px;padding-left:18px;" id="govuk-notification-banner">
            Important
          </h2>
      </div>
      
      <div style="padding-left: 20px;" class="govuk-!-padding-top-2">
          <strong class="govuk-grid-column-two-quarters">   Some of the providers in this batch are not eligible for reprofiling. This is either because
            the providers have not been released only for statements,the details of the providers are not in an open state or
            the open date is not within the same year as the allocation funding year.
          </strong>
        </h2>
     </div>
     
      
  </div>
  </div>
<div class="govuk-grid-row  govuk-!-margin-bottom-5">
  <div class="govuk-grid-column-full">
    
    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Confirm reprofile</h1>
    <span class="govuk-caption-l govuk-!-margin-bottom-1">Check the information below carefully before reprofiling 
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
     
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Specification selected
        </dt>
        <dd class="govuk-summary-list__value">
          16 to 19 Mainstream 2022 to 2023
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Funding period
        </dt>
        <dd class="govuk-summary-list__value">
          Academies and school year 2022 to 2023
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Number of eligible providers
        </dt>
        <dd class="govuk-summary-list__value">
          120
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Number of providers not eligible for reprofiling
        </dt>
        <dd class="govuk-summary-list__value">
          45
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Eligibility status
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="#" class="govuk-link">Export all as CSV</a>
        </dd>
      </div>
     
    </dl>
   
          <div class="govuk-!-margin-bottom-6 ">
            <a class="font-bold" class="upload-batch-reprofile-release-some"href="upload-batch-reprofile-release-some">Discard changes and upload another file</a>
          </div>
   </div>
 </div>

 
<div class="govuk-grid-row">

        </fieldset>
      </div>

      <button onclick="redirect();" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
        Confirm
      </button>

      <a href="/v1/funding-approvals/16-19/16-19-results-with-some-la" button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Cancel
      </a>
    </form>
  </div>
</div>
<script>
  function redirect()
  {
    location.href="/v1/funding-approvals/16-19/16-19-reprofile-result-eligible"
  }
</script>

{% endblock %}