{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/start">
        Home
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="/v1/funding-management">
        Funding management
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/v1/funding-approvals/view-funding">
        Funding approvals
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/v1/funding-approvals/16-19/16-19-results-with-ineligible-la">
            16 to 19 Mainstream 2023 to 2024
        </a>
      </li>
  </ol>
  
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-half">
            <div class="govuk-error-summary" data-module="govuk-error-summary">
                <div role="alert">
                <h2 class="govuk-error-summary__title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                    <li>
                        <a href="">None of the  providers in this batch are eligible for reprofiling. This is either because
                        the providers have not been released only for statements,
                            the details of the providers are not in an open state or
                            the open date is not within the same year as the allocation funding year.</a>
                        </ul>
                    </li>
                    </ul>
                </div>
                </div>
            </div>
  <div class="govuk-form-group">
    <form action="upload-batch-reprofile-release-ineligible" method="post" id="batchProviders" novalidate>
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-5">
                   Reprofile a batch of providers
                </h1>
            </legend>

            <p class="govuk-body">Reprofile will generate profile for the providers based on the open date for the new openers/converters. The strategy for distribution
                will be the flat distribution strategy similar to converters.
            </p>
            <h2 class="govuk-heading-m">
                16 to 19 Mainstream 2023 to 2024
             </h2>
             <p class="govuk-body">Reprofile provider allocation by uploading the data on the first sheet of a .xlsx file. When you upload, remember the following:


             </p>
            <ul class="govuk-list govuk-list--bullet">
              
                <li>the file should have only one UKPRN column</li>
                <!-- <li>the providers already approved or released will not be shown in the provider count summaries -->
                </li>
            </ul>
    </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="file-upload"><strong>
            <div class="govuk-form-group govuk-form-group--error">
                <label class="govuk-label" for="file-upload"><strong>
                    Upload a .xlsx file</strong>
            </label>
            <span class="govuk-caption-m">Please check for the below errors</span>
                <p id="full-name-input-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> None of the  providers in this batch are eligible for reprofiling
                </p>
            </span>
   </div>
   <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-visually-hidden">Warning</span>
      The live calculations change made after refresh will not have any impact on reprofile on demand. If you need those calculations to be in effect with reprofile on demand. Please do a refresh before reprofile on demand.
    </strong>
</div>
    <div class="govuk-form-group">
       
        <input class="govuk-file-upload" id="file-upload" name="file-upload" type="file" onchange="enableButton()">
    </div>  </div>

        <div class="govuk-form-group">
            <form action="" method="post" id="batchProviders" novalidate>
                <fieldset class="govuk-fieldset">
            
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
       
        <button  id="reprofile" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" disabled>
            Reprofile
        </button>
        <a href="../16-19/16-19-results-with-ineligible-la" class="govuk-link govuk-button govuk-button--secondary">
            Cancel
        </a>
    
        </fieldset>
        </form>
    </div>
</div>
</div>
</div>
<script>
    function approve() {
        document.getElementById('batchProviders').action = 'batch-approve-in-progress'

    }

    window.onload = function getSpecification() {
        let specification = sessionStorage.getItem('view funding specification')
        document.getElementById('specification').innerHTML = specification
    }

    function release() {
        document.getElementById('batchProviders').action = 'batch-release-in-progress'
    }

    function processHold() {
        document.getElementById('batchProviders').action = 'process-hold-in-progress'
    }
    function enableButton() {
            var fileInput = document.getElementById('file-upload');
            var uploadButton = document.getElementById('reprofile');

            // Enable the button if a file is selected
            uploadButton.disabled = false;
        }
</script>

{% endblock %}