{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}


<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/start">
        Calculate funding
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="../view-funding">
        Select specification
      </a>
    </li>

  </ol>
  
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
            <form action="" method="post" id="batchProviders" novalidate>
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-5">
                            Upload batch file
                        </h1>
                    </legend>

                    <dl class="govuk-summary-list govuk-summary-list--no-border">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                <h2 class="govuk-heading-s govuk-!-margin-bottom-1" for="specification">Specification
                                    selected
                                </h2>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p id="specification" class="govuk-body"></p>
                            </dd>
                        </div>
                    </dl>
                    <!--
                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1" for="specification">Specification</h2>
                    <p id="specification" class="govuk-body"></p>-->

                    <ul class="govuk-list govuk-list--bullet">
                        <li>upload file must be in xlsx format</li>
                        <li>the file can only contain one UKPRN column</li>
                        <li>uploaded data must be in the first sheet of the xlsx file</li>
                        <li>providers already approved or released will not be shown in the provider count summaries
                        </li>
                    </ul>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
            <label class="govuk-label" for="file-upload"><strong>
                    Upload a xlsx file</strong>
            </label>
            <input class="govuk-file-upload" id="file-upload" name="file-upload" type="file">
        </div>

        <div>
            <div class="govuk-form-group display-inline govuk-!-margin-right-2">
                <label class="govuk-label" for="sort">
                Action:
                </label>
                <select class="govuk-select" id="sort" name="sort">
                <option value="published" selected="">Approve funding</option>
                <option value="updated">Release for statement</option>
                <option value="updated">Release funding</option>
                <option value="views">Hold providers</option>
                <option value="comments">Remove hold</option>
                <option value="comments">Withdraw allocations</option>
                </select>
            </div>
            <a id="approveFunding" href="/v1/funding-approvals/batch/upload-batch-approve-release-v2-withdraw-allocation-review" class="govuk-button govuk-button--primary vertical-align-bottom" data-module="govuk-button">
                Continue
            </a>
            <!-- <a href="../funding-release.html" class="govuk-button govuk-button--warning"
                data-module="govuk-button">
                Release funding
            </a> -->
        </div>
        
        <!-- <button class="govuk-button govuk-button--secondary govuk-!-margin-right-1" onclick="processHold()"
            data-module="govuk-button">
            Process hold status
        </button>-->
        </fieldset>
        </form>
    </div>
</div>

<script>
    function approve() {
        document.getElementById('batchProviders').action = 'batch-approve-in-progress'

    }

    window.onload = function getSpecification() {
        let specification = sessionStorage.getItem('view funding specification')
        document.getElementById('specification').innerHTML = specification
    }

    function release() {
        document.getElementById('batchProviders').action = 'batch-release-in-progress'
    }

    function processHold() {
        document.getElementById('batchProviders').action = 'process-hold-in-progress'
    }
</script>

{% endblock %}