{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/start">
        Home
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="/v1/funding-management">
        Funding management
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/v1/funding-management/view-funding">
        Funding approvals
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/v1/funding-approvals/16-19/16-19-results-with-some-la">
            16 to 19 Mainstream 2022 to 2023
        </a>
      </li>
  </ol>
  
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
            <form action="batch-reprofile-some" method="post" id="batchProviders" novalidate>
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-5">
                           Reprofile a batch of providers
                        </h1>
                    </legend>

                    <!-- <dl class="govuk-summary-list govuk-summary-list--no-border">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                <h2 class="govuk-heading-s govuk-!-margin-bottom-1" for="specification">Specification
                                    selected
                                </h2>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p id="specification" class="govuk-body"></p>
                            </dd>
                        </div>
                    </dl> -->
                    <!--
                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1" for="specification">Specification</h2>
                    <p id="specification" class="govuk-body"></p>-->
                    <h2 class="govuk-heading-m">
                        16 to 19 Mainstream 2022 to 2023
                     </h2>
                     <p>You can upload data in the first sheet of the file in xlsx file format. You can reprofile and approve uploaded provider data.

                     </p>
                    <ul class="govuk-list govuk-list--bullet">
                      
                        <li>the file should have one UKPRN column</li>
                        <li>providers already approved or released will not be shown in the provider count summaries
                        </li>
                    </ul>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
            <label class="govuk-label" for="file-upload"><strong>
                    Upload a xlsx file</strong>
            </label>
            <input class="govuk-file-upload" id="file-upload" name="file-upload" type="file" onchange="enableButton()">
        </div>
        <button  id="reprofile" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" disabled>
            Reprofile
        </button>
        <a href="javascript:history.back()" class="govuk-link govuk-button govuk-button--secondary">
            Cancel
        </a>
        
        </fieldset>
        </form>
    </div>
</div>

<script>
    function approve() {
        document.getElementById('batchProviders').action = 'batch-approve-in-progress'

    }

    window.onload = function getSpecification() {
        let specification = sessionStorage.getItem('view funding specification')
        document.getElementById('specification').innerHTML = specification
    }

    function release() {
        document.getElementById('batchProviders').action = 'batch-release-in-progress'
    }

    function processHold() {
        document.getElementById('batchProviders').action = 'process-hold-in-progress'
    }
    function enableButton() {
            var fileInput = document.getElementById('file-upload');
            var uploadButton = document.getElementById('reprofile');

            // Enable the button if a file is selected
            uploadButton.disabled = false;
        }
</script>

{% endblock %}