{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/start.html">Calculate funding</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="../view-funding.html">Select specification</a>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <form action="" method="post" id="batchProviders" novalidate>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-5">
                            Upload batch file
                        </h1>
                    </legend>
                    <p class="govuk-body">
                    </p>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="file-upload-1"><strong>
                                Upload a xslx file.</strong>
                            </br>
                            <span class="govuk-caption-m">Providers which have previously been
                                approved or released will be excluded from provider count summaries.</span>

                        </label>
                        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
                    </div>
                </fieldset>
            </div>
    </div>
</div>


<div class="govuk-grid-row ">
    <div class="govuk-grid-column-full">
        <button class="govuk-button govuk-!-margin-right-1" onclick="approve()" data-module="govuk-button">
            Approve funding
        </button>
        <button class="govuk-button govuk-button--warning govuk-!-margin-right-1" onclick="release()"
            data-module="govuk-button">
            Release funding
        </button>
        <a class="govuk-button govuk-button--secondary" href="../view-funding.html" data-module="govuk-button">
            Cancel
        </a>
        </form>
    </div>
</div>


<script>

    function approve() {
        document.getElementById('batchProviders').action = 'batch-approve-in-progress'

    }

    function release() {
        document.getElementById('batchProviders').action = 'batch-release-in-progress'

    }

</script>



{% endblock %}