{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row  govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="../start.html">Calculate funding</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="../view-funding.html">Select specification</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="../funding-resultsv2.html">Funding approval results</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="../provider-funding-overview-laurus.html">Laurus Cheadle
                        Hulme
                    </a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    Pupil Number Adjustment - Pre 16
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Pupil Number Adjustment - Pre 16</h1>
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Laurus Cheadle Hulme
        </h3>
        <p class="govuk-body-s"><span>UKPRN: </span>10068126</p>
        <p class="govuk-body-s">Last updated by Robert Sparks on 17 July 2020 at 2:14pm</p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Total allocation</span>
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">£35,978.24</h2>
        <span class="govuk-caption-m">Instalments paid value</span>
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">£0</h2>
        <span class="govuk-caption-m">Balance available for profiling</span>
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">£35,978.24</h2>
        <span class="govuk-caption-m">Balance to be carried forward</span>
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">£0</h2>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <table class="govuk-table govuk-!-margin-top-5">
            <caption class="govuk-table__caption">Profiling instalments</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Instalment</th>
                    <th scope="col" class="govuk-table__header">Payment status</th>
                    <th scope="col" class="govuk-table__header">Instalment number</th>
                    <th scope="col" class="govuk-table__header">Per cent</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Value</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">8 July 2020</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">1</td>
                    <td class="govuk-table__cell">100%</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£35,978.24</td>
                </tr>

            </tbody>
        </table>

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="edit-profile.html" class="govuk-button" data-module="govuk-button">Edit profile</a>
        <a href="rule-based-selection.html" class="govuk-button" data-module="govuk-button">Change to rule based
            profile</a>
        <p><a href="#" class="govuk-link" data-module="govuk-button">Export to CSV</a></p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <h3 class="govuk-heading-m">Previous profiles</h3>
        <p class="govuk-body"><a class="govuk-link" href="profiling-archive-gag.html">History of previous profiles</a>
        </p>
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    </div>
</div>

{% endblock %}