{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/start">
        Calculate funding
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="../../../funding-management">
        Funding management 
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="../../view-funding">
        Funding approvals 
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="../pna-results">
        PNA
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="../provider-funding-overview-newislington">
        New Islington Free School
      </a>
    </li>

  </ol>
  
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-s">Funding line code: PNA-001</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Pupil Number Adjustment - Pre 16</h1>
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">New Islington Free School
        </h3>
        <!--<p class="govuk-body-s"><span>UKPRN: </span>10041679</p>-->
        <p class="govuk-body-s">Last updated by Robert Sparks on 17 July 2020 at 2:14pm</p>
    </div>
</div>


<div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-two-thirds">

        <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    UKPRN
                </dt>
                <dd class="govuk-summary-list__value">
                    10041679 </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Total allocation
                </dt>
                <dd class="govuk-summary-list__value">
                    -£15,734.49</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Instalments processed value </dt>
                <dd class="govuk-summary-list__value">
                    £15,734.49</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Balance available for profiling
                </dt>
                <dd class="govuk-summary-list__value">
                    -£15,734.49</dd>
            </div>
        </dl>
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <table class="govuk-table govuk-!-margin-top-5">
            <caption class="govuk-table__caption">Profiling instalments</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Instalment</th>
                    <th scope="col" class="govuk-table__header">Payment status</th>
                    <th scope="col" class="govuk-table__header">Instalment number</th>
                    <th scope="col" class="govuk-table__header">Per cent</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Value</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">8 September 2020</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">1</td>
                    <td class="govuk-table__cell">0.3333333%</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">-£5,244.83</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">8 October 2020</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">2</td>
                    <td class="govuk-table__cell">0.3333333%</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">-£5,244.83</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">8 November 2020</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">3</td>
                    <td class="govuk-table__cell">0.3333333%</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">-£5,244.83</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Total allocation</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">33.3333333%</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">-£15,734.49</td>
                </tr>

            </tbody>
        </table>

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="edit-profile.html" class="govuk-button" data-module="govuk-button">Edit profile</a>
        <a href="rule-based-selection.html" class="govuk-button" data-module="govuk-button">Change to rule based
            profile</a>
        <p><a href="#" class="govuk-link" data-module="govuk-button">Export to CSV</a></p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <h3 class="govuk-heading-m">Previous profiles</h3>
        <div class="govuk-inset-text">
            No profile history exists for this funding line.
        </div>
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    </div>
</div>

{% endblock %}