{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row  govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/start">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="select-provider.html">Select provider</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="profile-patterns.html">Profile pattern</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    Create profile
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                Profile type
            </h1>
            <span id="profile-type-hint" class="govuk-hint">
                This includes changing your last name or spelling your name differently.
            </span>
        </legend>
        <div class="govuk-radios">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="rule-based" name="pattern-type" type="radio"
                    value="change-to-rule-based.html">
                <label class="govuk-label govuk-radios__label" for="rule-based">
                    Rule based
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="custom-pattern" name="pattern-type-2" type="radio"
                    value="change-to-custom.html">
                <label class="govuk-label govuk-radios__label" for="custom-pattern">
                    Custom pattern
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="national-pattern" name="pattern-type" type="radio"
                    value="change-to-national.html">
                <label class="govuk-label govuk-radios__label" for="national-pattern">
                    National pattern
                </label>
            </div>
        </div>
    </fieldset>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <a href="" onclick="patternChoice()" id="patternLink" class="govuk-button" data-module="govuk-button">
            Continue
        </a>
    </div>
</div>



<script>

    function patternChoice() {
        var patternType = document.querySelector('input[name="pattern-type"]:checked').value;
        document.getElementById('patternLink').href = patternType
    }
</script>

{% endblock %}