{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row  govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/start">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="select-provider.html">Select provider</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="profile-patterns.html">Profile pattern</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="profile-patterns.html">Create profile pattern</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    Custom profile pattern
                </li>
            </ol>
        </div>
    </div>
</div>


<div class="govuk-error-summary hideError" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#profile">Profile value cannot be greated than funding line value</a>
        </li>
      </ul>
    </div>
  </div>

<div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Create profile</h1>
        <span class="govuk-caption-m">Provider name</span>
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Barnet London Borough Council</h3>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Funding line value</span>
        <h3 class="govuk-heading-m govuk-!-margin-bottom-5">£1,260,000</h3>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <table class="govuk-table govuk-!-margin-top-7" id="profile">
            <caption class="govuk-table__caption">Profilling installments</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header ">Installment</th>
                    <th scope="col" class="govuk-table__header">Installment number</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">value</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">

            </tbody>
        </table>
        <h4 class="govuk-heading-s right-align">Total profile value: £<span id="profileTotal"></span></h4>
    </div>
</div>

<button class="govuk-button" data-module="govuk-button" id="addInstallment" onclick="addInstallment()"> Add installment </button>

<button class="govuk-button" data-module="govuk-button" id="deleteInstallment" onclick="deleteInstallment(); sumTotal()"> Delete installment </button>

        <button class="govuk-button govuk-!-margin-right-1" onclick="totalError()" href="">
            Save and continue
        </button>
          
          <a class="govuk-button govuk-button--secondary" href="profile-patterns.html">
            Cancel
          </a>

    </div>
</div>

<script>

//Profiling insert installment

function addInstallment() {
  var newRow=document.getElementById('profile').insertRow();  
  newRow.innerHTML = "<th scope='row' class='govuk-table__header'>August 2021</th><td class='govuk-table__cell'>12</td><td class='govuk-table__cell govuk-table__cell--numeric'><div class='govuk-form-group'><input onblur='sumTotal()' class='govuk-input govuk-input--width-10 ' id='installmentValue' name='installmentValue' type='number'></div></td>";
}

//Delete last installment

function deleteInstallment() {
  document.getElementById("profile").deleteRow(-1);
}

// Check value is correct 

function sumTotal() {
    var arr = document.getElementsByName('installmentValue');
    var total= 0;
    for(var i=0;i<arr.length;i++){
        if(parseInt(arr[i].value))
            total += parseInt(arr[i].value);
            console.log(total)
            // Show total value in 'total profile value'
            document.getElementById("profileTotal").innerHTML = total
    }
}

function totalError() {
    var profilingTotal = document.getElementById('profileTotal').innerText;
    if (profilingTotal == "1260000");
    {
        document.querySelector('.govuk-error-summary').style.display = 'block';
    }
}

</script>

{% endblock %}