{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/start.html">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="specifications.html">Specifications</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="specifications.html">DSG SIT</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Create dataset</li>
      </ol>
    </div>
  </div>
</div>

<h1 class="govuk-heading-xl">DSG payment profiling</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-form-group">
      <label class="govuk-label" for="search">
        Search by Local authority
      </label>
      <input class="govuk-input" id="profilingSearch" name="search" type="text">
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section" id="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Camden
            </span>
          </h2>
          <span class="govuk-caption-m">Total allocation for 2019 to 2020</span>
          <h3 class="govuk-heading-m govuk-!-margin-bottom-0">£25,000</h3>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content"
          aria-labelledby="accordion-default-heading-1">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <span class="govuk-caption-m">Value of installments 1 to 25 (April 2019 to April 2020)</span>
              <h3 class="govuk-heading-m">£1,000 per installment</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              Greenwich <strong class="govuk-tag">Updated</strong>
            </span>
          </h2>
          <span class="govuk-caption-m">Total allocation for 2019 to 2020</span>
          <h3 class="govuk-heading-m govuk-!-margin-bottom-0">£30,000</h3>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content"
          aria-labelledby="accordion-default-heading-2">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <section class="payment-profiles">
                <span class="govuk-caption-m">Previous allocation value</span>
                <h3 class="govuk-heading-m">£25,000</h3>
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Reason for change
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    Allocation value increased by £5,000 following period 3
                  </div>
                </details>
                <span class="govuk-caption-m">Value of installments 1 to 3</span>
                <h3 class="govuk-heading-m">£1,000 per installment</h3>
                <span class="govuk-caption-m">Revised value of installment 4</span>
                <h3 class="govuk-heading-m">£1,800 per installment</h3>
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Help with installment 4
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    Installement 4 value increased by £600 to account for underpayments in installments 1 to 3.
                  </div>
                </details>
                <span class="govuk-caption-m">Revised value of remaining installments 5 to 25</span>
                <h3 class="govuk-heading-m">£1,200 per installment</h3>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
              </section>
              <h3 class="govuk-heading-m">Previous payment profiles</h3>
              <p class="govuk-body">History of previous <a class="govuk-link" href="">payment profiles</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
              Hackney <strong class="govuk-tag">Updated</strong>
            </span>
          </h2>
          <span class="govuk-caption-m">Total allocation for 2019 to 2020</span>
          <h3 class="govuk-heading-m govuk-!-margin-bottom-0">£20,000</h3>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content"
          aria-labelledby="accordion-default-heading-3">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <section class="payment-profiles">
                <span class="govuk-caption-m">Previous allocation value</span>
                <h3 class="govuk-heading-m">£25,000</h3>
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Reason for change
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    Allocation value decreased by £5,000 following period 8
                  </div>
                </details>
                <span class="govuk-caption-m">Value of installments 1 to 9</span>
                <h3 class="govuk-heading-m">£1,000 per installment</h3>
                <span class="govuk-caption-m">Revised value of installment 9</span>
                <h3 class="govuk-heading-m">£0</h3>
                <span class="govuk-caption-m">Revised value of installment 10</span>
                <h3 class="govuk-heading-m">£0</h3>
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Help with installment 9 and 10
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    Installement 9 and 10 decreased by £1,600 to account for overpayments in installments 1 to 9.
                  </div>
                </details>
                <span class="govuk-caption-m">Revised value of remaining installments 11 to 25</span>
                <h3 class="govuk-heading-m">£800 per installment</h3>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
              </section>
              <h3 class="govuk-heading-m">Previous payment profiles</h3>
              <p class="govuk-body">History of previous <a class="govuk-link" href="">payment profiles</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
              Islington <strong class="govuk-tag">Updated</strong>
            </span>
          </h2>
          <span class="govuk-caption-m">Total allocation for 2019 to 2020</span>
          <h3 class="govuk-heading-m govuk-!-margin-bottom-0">£20,000</h3>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content"
          aria-labelledby="accordion-default-heading-3">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <section class="payment-profiles">
                <span class="govuk-caption-m">Previous allocation value</span>
                <h3 class="govuk-heading-m">£25,000</h3>
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Reason for change
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    Allocation value decreased by £5,000 following period 24
                  </div>
                </details>
                <span class="govuk-caption-m">Value of installments 1 to 24</span>
                <h3 class="govuk-heading-m">£1,000 per installment</h3>
                <span class="govuk-caption-m">Revised value of installment 25</span>
                <h3 class="govuk-heading-m">£0</h3>
                <span class="govuk-caption-m">Revised value to be carried over to DSG 2020 to 2021</span>
                <h3 class="govuk-heading-m">£0</h3>
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Help with revised values
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    Installement 24 decreased by £800 to account for overpayments in installments 1 to 24. Remaining balance to be carried over to DSG 2020 to 2021.
                  </div>
                </details>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
              </section>
              <h3 class="govuk-heading-m">Previous payment profiles</h3>
              <p class="govuk-body">History of previous <a class="govuk-link" href="">payment profiles</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}