{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="#" onClick="goBack()" class="govuk-back-link">Back</a>

        <h1 class="govuk-heading-l">JSON data</h1>

        <h2 class="govuk-heading-m">Funding configuration</h2>
        <p class="govuk-body"><a class="govuk-link" href="#">Funding configuration</a></p>

        <h2 class="govuk-heading-m">Funding line patterns</h2>
        <p class="govuk-body"><a class="govuk-link" href="#">Further Education Programme Funding (16-001)</a></p>
        <p class="govuk-body"><a class="govuk-link" href="#">Further Education Industry Placements Funding (16-002)</a></p>
        <p class="govuk-body"><a class="govuk-link" href="#">Further Education High NeedsElement 2 Student Funding (16-003)</a></p>
        <p class="govuk-body"><a class="govuk-link" href="#">Further Education High Needs Element 3 Student Funding (16-004)</a></p>
        <p class="govuk-body"><a class="govuk-link" href="#">Further Education High Needs Element 4 Student Funding (16-005)</a></p>
    </div>
</div>


{% endblock%}