{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs govuk">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a href="#" onClick="goBack()" class="govuk-back-link">
        Back
      </a>
    </li>
  </ol>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    
        <h1 class="govuk-heading-l">JSON data</h1>

        <h2 class="govuk-heading-m">Funding configuration</h2>
        <p class="govuk-body"><a class="govuk-link" href="#">Funding configuration</a></p>

        <h2 class="govuk-heading-m">Funding line patterns</h2>
        <div class="govuk-!-margin-bottom-2">
            <p class="govuk-body govuk-!-margin-bottom-0"><a class="govuk-link" href="#">AS-2122-1619-1619-024-Furth</a></p>
            <p class="govuk-body">16 - 19 block 1 fund</p>
        </div>
        <div class="govuk-!-margin-bottom-2">
            <p class="govuk-body govuk-!-margin-bottom-0"><a class="govuk-link" href="#">AS-2122-1619-1619-025-Local</a></p>
            <p class="govuk-body">16 - 19 tuition fund</p>
        </div>
        <div class="govuk-!-margin-bottom-2">
            <p class="govuk-body govuk-!-margin-bottom-0"><a class="govuk-link" href="#">AS-2122-1619-1619-025-SSF</a></p>
            <p class="govuk-body">16 - 19 tuition fund</p>
        </div>
        <div class="govuk-!-margin-bottom-2">
            <p class="govuk-body govuk-!-margin-bottom-0"><a class="govuk-link" href="#">AS-2122-1619-1619-024-Furth</a></p>
            <p class="govuk-body">16 - 19 tuition fund</p>
        </div>
    </div>
</div>


{% endblock%}