{% extends "layout.html" %}

{% block pageTitle %}

GOV.UK Prototype Kit

{%endblock %}

{% block content %}

<div class="govuk-grid-row  govuk-!-margin-bottom-5">
  <div class="govuk-grid-column-full">
    <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../start.html">Calculate funding</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../view-funding.html">Select specification</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../funding-resultsv2.html">Funding approval results</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../provider-funding-overview-gag.html">Barnet London Borough
            Council</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="funding-line-profile-custom.html">Funding line profile name</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
          Change profile type
        </li>
      </ol>
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl" aria-label="Change profile type">
      Change profile type
    </h1>
    <div class="govuk-inset-text">
      No rule based patterns are available. ** Funding Line ** is using the national pattern.
    </div>
  </div>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="select-pattern-type">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Select pattern type</h4>
    </legend>
    <span id="select-pattern-type" class="govuk-hint">
      There are no rule based patterns to choose from
    </span>
    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input checked class="govuk-radios__input" id="national-pattern" name="how-contacted" type="radio"
          value="nation" data-aria-controls="national-pattern" />
        <label class="govuk-label govuk-radios__label" for="national-pattern">
          National
          <span class="govuk-hint">
            Description of national pattern
          </span>
        </label>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="h">
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input disabled aria-describedby="" class="govuk-radios__input" id="how-contacted-conditional"
                name="how-contacted" type="radio" value="email" data-aria-controls="rule-based-pattern" />
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                Rule based
                <span class="govuk-hint">
                  Description of rule based pattern

                </span>
              </label>
            </div>

            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="rule-based-pattern">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h4 class="govuk-heading-s">Select rule based pattern</h4>
                  </legend>
                  <div class="govuk-radios govuk-radios--small">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio"
                        value="month" />
                      <label class="govuk-label govuk-radios__label" for="changed-name">
                        Rule based pattern 1
                        <span class="govuk-hint">Rule based pattern description</span>
                        <a class="govuk-link" href="#"
                          onclick="document.getElementById('profilePreview').style.display='block'">Preview profile</a>
                      </label>
                    </div>

                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio"
                        value="month" />
                      <label class="govuk-label govuk-radios__label" for="changed-name">
                        Rule based pattern 2
                        <span class="govuk-hint">Rule based pattern description</span>
                        <a class="govuk-link" href="#"
                          onclick="document.getElementById('profilePreview').style.display='block'">Preview profile</a>
                      </label>
                    </div>

                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio"
                        value="month" />
                      <label class="govuk-label govuk-radios__label" for="changed-name">
                        Rule based pattern 3
                        <span class="govuk-hint">Rule based pattern description</span>
                        <a class="govuk-link" href="#"
                          onclick="document.getElementById('profilePreview').style.display='block'">Preview profile</a>
                      </label>
                    </div>

                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio"
                        value="year" />
                      <label class="govuk-label govuk-radios__label" for="changed-name-2">
                        Rule based pattern 4
                        <span class="govuk-hint">Rule based pattern description</span>
                        <a class="govuk-link" href="#"
                          onclick="document.getElementById('profilePreview').style.display='block'">Preview profile</a>
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio"
                        value="year" />
                      <label class="govuk-label govuk-radios__label" for="changed-name-2">
                        Rule based pattern 5
                        <span class="govuk-hint">Rule based pattern description</span>
                        <a class="govuk-link" href="#"
                          onclick="document.getElementById('profilePreview').style.display='block'">Preview profile</a>
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

              <p class="govuk-body govuk-!-margin-top-5">
                <a href="rule-based-selection-expanded.html" class="govuk-link">View 5 more patterns</a> <br>
              </p>

            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-grid-row govuk-!-margin-bottom-5">
        <div class="govuk-grid-column-two-thirds">
          <a disabled href="javascript:history.back()" class="govuk-button" data-module="govuk-button">
            Apply
          </a>
          <a href="javascript:history.back()" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Cancel
          </a>
        </div>
      </div>

      {% endblock %}