{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/start">
            Calculate funding
          </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="../specifications">
            Specifications
          </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../fundingLineStructure-chosen">
            General annual grant
          </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="edit-published-specification">
            Edit selected funding lines and calculations
          </a>
        </li>

      </ol>
  
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Check funding lines and calculations
        </h1>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">
            Dataset details
          </h2>
  
      <dl class="govuk-summary-list govuk-summary-list--no-border">
  
        <div class="govuk-summary-list__row govuk-!-width-one-third">

            <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Name
            </dt>
            <dd class="govuk-summary-list__value govuk-!-padding-left-2">
                16 to 19 reference specification
            </dd>

        </div>
        <div class="govuk-summary-list__row govuk-!-width-one-third">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Description
          </dt>
          <dd class="govuk-summary-list__value govuk-!-padding-left-2">
            Released data from 16 to 19 specification.
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="/v1/create-data-set/dataset-details">
                Change <span class="govuk-visually-hidden">dataset name</span>
            </a> -->
            <a
                onclick="document.getElementById('editDescription').style.display='block'" href="#"
                class="govuk-link">Change
            </a>
          </dd>
        </div>
  
      </dl>
    </div>
  </div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table table-vertical-align" id="dataSetItems">
            <caption class="govuk-table__caption govuk-heading-m">Selected funding lines and calculations
            </caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-half">Name</th>
                    <th scope="col" class="govuk-table__header">Structure</th>
                    <th scope="col" class="govuk-table__header">ID</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__header">Area cost factor</td>
                    <td class="govuk-table__cell">Funding line</td>
                    <td class="govuk-table__cell">160</td>

                </tr>
                <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__header">Area cost allowance</td>
                    <td class="govuk-table__cell">Funding line</td>
                    <td class="govuk-table__cell">198</td>

                </tr>
                <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__header">Area cost allowance adjustment</td>
                    <td class="govuk-table__cell">Funding line</td>
                    <td class="govuk-table__cell">292</td>

                </tr>
                <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__header">Programme Funding Without Area Cost Allowance Applied
                    </td>
                    <td class="govuk-table__cell">Funding line</td>
                    <td class="govuk-table__cell">290</td>

                </tr>
                <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__header">Programme Funding With Area Cost Allowance Applied</td>
                    <td class="govuk-table__cell">Funding line</td>
                    <td class="govuk-table__cell">301</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Now update your data set</h2>
        <p class="govuk-body">By updating the data set the above funding line and calculations will be available for
            reference from this specification in your calculation scripts. Those removed will no longer be available</p>

        <div class="govuk-button-group">
            <a href="check-data-set-loading-spinner--update-data-set.html" class="govuk-button" data-module="govuk-button">
                Update data set
            </a>

            <a href="edit-published-specification.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Change selection
            </a>
        </div>

    </div>
</div>

{% include "includes/edit-modal.html" %}


{% endblock %}