{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/start">
                Home
            </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../specifications">
               View Specifications
            </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../fundingLineStructure-chosen1#past-month">
                16 to 19 Mainstream 2023 to 2024
            </a>
        </li>

    </ol>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action=" " onsubmit="patternChoice();" method="post" name="dataSourceTypeForm" class="form" novalidate
            data-validate='dataSourceType'>
            <div id="chooseDataSourceForm" class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="data-source-type-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Which data set type?
                        </h1>
                    </legend>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="CFSdataset" name="data-source-type" type="radio"
                                value="create-data-set/choose-funding-stream"
                                aria-describedby="published-specification-hint">
                            <label class="govuk-label govuk-radios__label" for="sign-in">
                                Released data
                            </label>
                            <div id="published-specification-hint" class="govuk-hint govuk-radios__hint">
                                Data set referencing released allocations data from another CFS specification
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="CFSdataset-2" name="data-source-type" type="radio"
                                value="createDataset" aria-describedby="data-source-hint">
                            <label class="govuk-label govuk-radios__label" for="sign-in-2">
                                Uploaded data
                            </label>
                            <div id="data-source-hint" class="govuk-hint govuk-radios__hint">
                                Data set referencing data uploaded into CFS
                            </div>
                        </div>
                       
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="CFSdataset" name="data-source-type" type="radio"
                                value="choose-fds-funding-stream"
                                aria-describedby="published-specification-hint">
                            <label class="govuk-label govuk-radios__label" for="sign-in">
                                FDS funding data
                            </label>
                            <div id="published-specification-hint" class="govuk-hint govuk-radios__hint">
                                Data set referencing data uploaded into FDS
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
    </div>
</div>

<div class="govuk-button-group">
    <button id="patternLink" class="govuk-button" data-module="govuk-button">
        Continue
    </button>
    <button id="patternLink" class="govuk-button" data-module="govuk-button" onclick="history.back()">
        Cancel
    </button>
    </form>
</div>

<script>
    function patternChoice() {
        patternType = document.querySelector('input[name="data-source-type"]:checked').value
        document.dataSourceTypeForm.action = patternType
    }
</script>

<script type="application/json" id="dataSourceType">
    {
        "data-source-type": {
            "presence": {
                "message": "^Select released data or uploaded data"
            }
        }

    }
</script>

<!-- <script>
    function check() {

        //Array with inputs that evaluate to true or false based on input

        const inputs = [
            Boolean(document.getElementById("CFSdataset").value),
            Boolean(document.getElementById("CFSdataset-2").value),
        ]

        //starts the counter
        let counter = 0

        //increases counter by 1 for every true item in the array
        for (var i = 0; i <= inputs.length; i++) {
            if (inputs[i] === true) {
                document.getElementById('notSaved').style.display = 'block'
                counter++
            }
        }
        if (counter === 0) {
            history.back()
        }

    }
</script> -->


<div class="govuk-modal-dialogue" id="notSaved" data-module="govuk-modal-dialogue">
    {% include "includes/modal-dialogue.html" %}
</div>

{% endblock %}