{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/start.html">Calculate funding</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="../v1/specifications.html">Specifications</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="../v1/fundingLineStructure-gag.html">General annual grant</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">Data set type</li>
            </ol>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action=" " onsubmit="patternChoice();" method="post" name="dataSourceTypeForm" class="form" novalidate
            data-validate='dataSourceType'>
            <div id="chooseDataSourceForm" class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="data-source-type-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Which data set type?
                        </h1>
                    </legend>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="CFSdataset" name="data-source-type" type="radio"
                                value="create-data-set/choose-funding-stream"
                                aria-describedby="published-specification-hint">
                            <label class="govuk-label govuk-radios__label" for="sign-in">
                                Released data
                            </label>
                            <div id="published-specification-hint" class="govuk-hint govuk-radios__hint">
                                Data set referencing released allocations data from another CFS specification
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="CFSdataset-2" name="data-source-type" type="radio"
                                value="createDataset" aria-describedby="data-source-hint">
                            <label class="govuk-label govuk-radios__label" for="sign-in-2">
                                Uploaded data
                            </label>
                            <div id="data-source-hint" class="govuk-hint govuk-radios__hint">
                                Data set referencing data uploaded into CFS
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <button id="patternLink" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
            Continue
        </button>
        </form>
    </div>
</div>

<script>
    function patternChoice() {
        patternType = document.querySelector('input[name="data-source-type"]:checked').value
        document.dataSourceTypeForm.action = patternType
    }
</script>

<script type="application/json" id="dataSourceType">
    {
        "data-source-type": {
            "presence": {
                "message": "^Select released data or uploaded data"
            }
        }

    }
</script>

{% endblock %}