{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/start">
                Home
            </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../specifications">
               View Specifications
            </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../fundingLineStructure-chosen1#past-month">
                16 to 19 Mainstream 2022 to 2023
            </a>
        </li>

    </ol>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-error-summary govuk-visually-hidden" id="notification" aria-labelledby="error-summary-title" role="alert"
    data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
    </h2>
    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
            <li>
                <p class="font-bold"style="color:#d4351c;">Select data set type</p>
            </li>
        </ul>
    </div>
</div>

       
            <div id="chooseDataSourceForm" class="govuk-form-group" id="radio1"  style="border-left-width:0px;">
                <fieldset class="govuk-fieldset" aria-describedby="data-source-type-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Which data set type?
                        </h1>
                    </legend>
                    <form action=" " onsubmit="patternChoice();" method="post" name="dataSourceTypeForm" class="form" novalidate  data-validate='dataSourceType'>
                    <div class="govuk-radios" >
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="CFSdataset" name="data-source-type" type="radio"
                                value="choose-funding-stream1"
                                aria-describedby="published-specification-hint">
                            <label class="govuk-label govuk-radios__label" for="sign-in">
                                Released data
                            </label>
                            <div id="published-specification-hint" class="govuk-hint govuk-radios__hint">
                                Data set referencing released allocations data from another CFS specification
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="CFSdataset-2" name="data-source-type" type="radio"
                                value="../datasets/createDatasetsupload" aria-describedby="data-source-hint" data-validate='dataSourceType'>
                            <label class="govuk-label govuk-radios__label" for="sign-in-2">
                                Uploaded data
                            </label>
                            <div id="data-source-hint" class="govuk-hint govuk-radios__hint">
                                Data set referencing data uploaded into CFS
                            </div>
                        </div>
                       
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="CFSdataset-3" name="data-source-type" type="radio"
                                value="choose-fds-funding-stream"
                                aria-describedby="published-specification-hint"  data-validate='dataSourceType'>
                            <label class="govuk-label govuk-radios__label" for="sign-in">
                                FDS data
                            </label>
                            <div id="published-specification-hint" class="govuk-hint govuk-radios__hint">
                                Data set referencing data uploaded into FDS
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            
    </div>
</div>

<div class="govuk-button-group">
    <button  class="govuk-button" id="btn" data-module="govuk-button" onclick="check()">
        Continue
    </button>
   
    </form>

    <button id="patternLink" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="btn" onClick="cancel();">
        Cancel
    </button>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


<script>
    function patternChoice() {
      
        patternType = document.querySelector('input[name="data-source-type"]:checked').value
        document.dataSourceTypeForm.action = patternType

    }
   
function cancel()
{
    location.href="../fundingLineStructure-chosen2#past-month";
}

</script>

<!-- <script type="application/json" id="dataSourceType">
    {
        "data-source-type": {
            "presence": {
                "message": "^Select released data or uploaded data or FDS data"
            }
        }

    }
</script> -->

<!-- // function to check if any radio button's are selected -->
<script>
    function check()
    {
    
        if((!document.getElementById('CFSdataset').checked) && (!document.getElementById('CFSdataset-2').checked) && (!document.getElementById('CFSdataset-3').checked))
        {
            event.preventDefault();
            document.getElementById('notification').classList.remove('govuk-visually-hidden')
        }
       
    }
</script>


<div class="govuk-modal-dialogue" id="notSaved" data-module="govuk-modal-dialogue">
    {% include "includes/modal-dialogue.html" %}
</div>

{% endblock %}