{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/start">
                Home
            </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../specifications">
                Specifications
            </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../fundingLineStructure-gag">
                General annual grant
            </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../fundingLineStructure-chosen">
                Data set type
            </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="choose-funding-stream">
                Funding stream and period
            </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="dataset-details">
                Data set details
            </a>
        </li>

    </ol>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Select funding lines and calculations</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list govuk-summary-list__row--no-border">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Funding stream
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['dataset-fundingStream']}}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Funding period
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['dataset-fundingPeriod']}}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Reference specification
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['dataset-fundingStream']}} specification
                </dd>
            </div>
        </dl>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third position-sticky">
     
        <div class="govuk-form-group filterbyContainer">
            <div class="govuk-form-group filterSearch">
                <label
                    class="govuk-heading-s govuk-!-display-inline-block govuk-!-margin-top-2 govuk-!-margin-bottom-2"
                    for="mainContentSearch">Search</label>

                <a href=""
                    class="govuk-link govuk-!-display-inline-block govuk-!-margin-top-2 govuk-!-margin-bottom-2 right-align"
                    onclick="">

                    Clear search</a>

               
                <input class="govuk-input filterSearchInput govuk-!-margin-bottom-2" onkeyup="searchSelected()"
                    id="searchSelected" autocomplete="off" name="searchSelected" type="text">

            </div>
    </div>


            <!-- // Filters -->
         <!-- <div class="filterScroll"> -->
            <div class="govuk-form-group form-height filterbyContainer">
                <div class="selected-filters-background">
                    <div class="govuk-form-group filterSearch">
                        <h2 class="govuk-heading-s govuk-!-display-inline-block govuk-!-margin-top-2 govuk-!-margin-bottom-2"
                            for="filter-by-type">Selected filters</h2>
                        <a href=""
                            class="govuk-link govuk-!-display-inline-block govuk-!-margin-top-2 govuk-!-margin-bottom-2 right-align"
                            onclick="">
                            Clear filters</a>

                        <div id="showHideText">
                            <p class="govuk-body-s">No filters selected</p>
                        </div>

                        <div class="filtersSelected">
                            <div class="filter">
                                <div class="filter__content">
                                    <div class="filter__selected">

                                        

                                        <div class="hidden" id="FilterText">
                                            <h3 class="govuk-hint govuk-body govuk-!-font-size-16 govuk-!-margin-0">
                                                </h3>
                                        </div>
                                        <ul class="filter-tags">
                                            <li id="filterOption1" class="hidden">
                                                <a class="filter__tag" href=""><span
                                                        class="govuk-visually-hidden">Remove this filter</span>
                                                        Show only selected
                                                </a>
                                            </li>
                                           
                                        </ul>
                                        <ul class="filter-tags">
                                            <li id="filterOption2" class="hidden">
                                                <a class="filter__tag" href=""><span
                                                        class="govuk-visually-hidden">Remove this filter</span>
                                                        Show only selected
                                                </a>
                                            </li>
                                           
                                        </ul>

                                       
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-visually-hidden">
                        Options to filter content on the page
                    </legend>
                    <div class="govuk-form-group filterSearch">
                        <div class="filterContainer">
                            <div class="govuk-accordion" data-module="govuk-accordion"
                                id="accordion-with-summary-sections">
                                <div class="govuk-accordion__section ">
                                    <div class="govuk-accordion__section-header">
                                        <h2 class="govuk-accordion__section-heading">
                                            <span
                                                class="govuk-accordion__section-button govuk-body govuk-!-font-size-19"
                                                id="accordion-with-summary-sections-heading-1">
                                                <span class="govuk-visually-hidden">Filter by</span>
                                                Filter Selection
                                            </span>
                                        </h2>
                                        
                                    </div>
                                    <div id="accordion-with-summary-sections-content-1"
                                        class="govuk-accordion__section-content"
                                        aria-labelledby="accordion-with-summary-sections-heading-1">
                                        <fieldset class="govuk-fieldset">
                                            <legend class="govuk-fieldset__legend govuk-visually-hidden">
                                                Select an option to filter by provider type
                                            </legend>
                                           

                                            <div class="govuk-checkboxes govuk-checkboxes--small filterbyCheckbox"
                                                id="filterBySchoolResults">
                                                <div class="govuk-checkboxes__item govuk-!-margin-top-2">
                                                    <input class="govuk-checkboxes__input" id="showHideChange"
                                                        name="filterByAll"
                                                        onclick="showMe('filterOption1')"
                                                        type="checkbox">
                                                    
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    <input class="govuk-checkboxes__input table-filter-jq" id="showHideChangeF2"
                                                        name="filterBySelect"
                                                        onclick="showMeF2('filterOption2')"
                                                        type="checkbox">
                                                    <label class="govuk-label govuk-checkboxes__label"
                                                        for="showHideChangeF2">
                                                        Show only selected
                                                    </label>
                                                </div>
                                                
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <a href="check-data-set" class="govuk-button govuk-!-margin-right-1">
                Continue to summary
            </a>
            <a href="" class="govuk-button  govuk-button--secondary govuk-!-margin-right-1" data-module="govuk-button">
                Cancel
            </a>
        <!-- </div> -->

    </div>
    
    <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table table-vertical-align" id="dataSetItems">
            </caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">
                        Name
                        <br>
                    </th>
                    <th scope="col" class="govuk-table__header">Structure</th>
                    <th scope="col" class="govuk-table__header">ID</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input provider-checked table-input" id="filterCheckbox1"
                                    name="provider-approval" type="checkbox" value="">
                                <label class="govuk-label govuk-checkboxes__label" for="filterCheckbox1">
                                    Area cost factor
                                </label>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell">Funding line</td>
                    <td class="govuk-table__cell">160</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input provider-checked table-input" id="filterCheckbox2"
                                    name="provider-approval" type="checkbox" value="">
                                <label class="govuk-label govuk-checkboxes__label" for="filterCheckbox2">
                                    Area cost allowance
                                </label>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell">Funding line</td>
                    <td class="govuk-table__cell">198</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input provider-checked table-input" id="filterCheckbox3"
                                    name="provider-approval" type="checkbox" value="">
                                <label class="govuk-label govuk-checkboxes__label" for="filterCheckbox3">
                                    Area cost allowance adjustment
                                </label>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell">Funding line</td>
                    <td class="govuk-table__cell">292</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input provider-checked table-input" id="filterCheckbox4"
                                    name="provider-approval" type="checkbox" value="">
                                <label class="govuk-label govuk-checkboxes__label" for="filterCheckbox4">
                                    Programme Funding Without Area Cost Allowance Applied
                                </label>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell">Funding line</td>
                    <td class="govuk-table__cell">290</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input provider-checked table-input" id="filterCheckbox5"
                                    name="provider-approval" type="checkbox" value="">
                                <label class="govuk-label govuk-checkboxes__label" for="filterCheckbox5">
                                    Programme Funding With Area Cost Allowance Applied
                                </label>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell">Funding line</td>
                    <td class="govuk-table__cell">301</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input provider-checked table-input" id="filterCheckbox6"
                                    name="provider-approval" type="checkbox" value="">
                                <label class="govuk-label govuk-checkboxes__label" for="filterCheckbox6">
                                    Funding Basis
                                </label>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell">Calculation</td>
                    <td class="govuk-table__cell">173</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input provider-checked table-input" id="filterCheckbox7"
                                    name="provider-approval" type="checkbox" value="">
                                <label class="govuk-label govuk-checkboxes__label" for="filterCheckbox7">
                                    Phase of education
                                </label>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell">Calculation</td>
                    <td class="govuk-table__cell">213</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input provider-checked table-input" id="filterCheckbox8"
                                    name="provider-approval" type="checkbox" value="">
                                <label class="govuk-label govuk-checkboxes__label" for="filterCheckbox8">
                                    Notional SEN Funding
                                </label>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell">Funding line</td>
                    <td class="govuk-table__cell">362</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input provider-checked table-input" id="filterCheckbox9"
                                    name="provider-approval" type="checkbox" value="">
                                <label class="govuk-label govuk-checkboxes__label" for="filterCheckbox9">
                                    Days open in year
                                </label>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell">Calculation</td>
                    <td class="govuk-table__cell">273</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input provider-checked table-input"
                                    id="filterCheckbox10" name="provider-approval" type="checkbox" value="">
                                <label class="govuk-label govuk-checkboxes__label" for="filterCheckbox10">
                                    Proportion of year open
                                </label>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell">Calculation</td>
                    <td class="govuk-table__cell">166</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input provider-checked table-input"
                                    id="filterCheckbox11" name="provider-approval" type="checkbox" value="">
                                <label class="govuk-label govuk-checkboxes__label" for="filterCheckbox11">
                                    Days in the year
                                </label>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell">Calculation</td>
                    <td class="govuk-table__cell">194</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input provider-checked table-input"
                                    id="filterCheckbox12" name="provider-approval" type="checkbox" value="">
                                <label class="govuk-label govuk-checkboxes__label" for="filterCheckbox12">
                                    Pupil Led Factors SEN
                                </label>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell">Funding line</td>
                    <td class="govuk-table__cell">201</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input provider-checked table-input"
                                    id="filterCheckbox13" name="provider-approval" type="checkbox" value="">
                                <label class="govuk-label govuk-checkboxes__label" for="filterCheckbox13">
                                    Basic Entitlement - Primary SEN Total
                                </label>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell">Calculation</td>
                    <td class="govuk-table__cell">160</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input provider-checked table-input"
                                    id="filterCheckbox14" name="provider-approval" type="checkbox" value="">
                                <label class="govuk-label govuk-checkboxes__label" for="filterCheckbox14">
                                    Primary Basic Entitlement Rate
                                </label>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell">Calculation</td>
                    <td class="govuk-table__cell">119</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input provider-checked table-input"
                                    id="filterCheckbox15" name="provider-approval" type="checkbox" value="">
                                <label class="govuk-label govuk-checkboxes__label" for="filterCheckbox15">
                                    Primary Basic Entitlement Factor
                                </label>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell">Calculation</td>
                    <td class="govuk-table__cell">228</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input provider-checked table-input"
                                    id="filterCheckbox16" name="provider-approval" type="checkbox" value="">
                                <label class="govuk-label govuk-checkboxes__label" for="filterCheckbox16">
                                    Primary Pupil Count SBS
                                </label>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell">Calculation</td>
                    <td class="govuk-table__cell">195</td>
                </tr>

            </tbody>
        </table>
     
        <p class="no-items-selected-jq hide-me">You have zero items selected.</p>
       
    </div>
</div>
<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.js"></script>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->

<!--Includes -->
{% include "components/refresh-funding-modal.html" %}

<!--Includes end -->
<!--test-->
<script>
    // Show me the first filter  

    function showMe(box) {

        var chboxs = document.getElementsByName("filterByAll");
        var vis = "none";
        for (var i = 0; i < chboxs.length; i++) {
            if (chboxs[i].checked) {
                vis = "block";
                break;
            }
        }
        document.getElementById(box).style.display = vis;
    }

    function showMeF2(box) {

        var chboxs = document.getElementsByName("filterBySelect");
        var vis = "none";
        for (var i = 0; i < chboxs.length; i++) {
            if (chboxs[i].checked) {
                vis = "block";
                break;
            }
        }
        document.getElementById(box).style.display = vis;
    }

    
    //Show/hide for provider type 

    // document.getElementById('showHideChange').onchange = function () {
    //     if ($('input[type=checkbox]:checked').length > 0) {
    //         document.getElementById('showHideText').style.display = "none";
    //         document.getElementById('FilterText').style.display = "block";
    //     } else {
    //         document.getElementById('showHideText').style.display = "block";
    //         document.getElementById('FilterText').style.display = "none";
    //     }
    // };

    document.getElementById('showHideChangeF2').onchange = function () {
        if ($('input[type=checkbox]:checked').length > 0) {
            document.getElementById('showHideText').style.display = "none";
            document.getElementById('FilterText').style.display = "block";
        } else {
            document.getElementById('showHideText').style.display = "block";
            document.getElementById('FilterText').style.display = "none";
        }
    };


    // Error radio button

    $("input:checkbox[name='errorSelection']").click(function () {
        $('span.errorChanges').html(this.value);
    })


    function searchSelected() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchSelected");
        filter = input.value.toUpperCase();
        table = document.getElementById("dataSetItems");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>
<style>
    .filterbyCheckbox {
        max-height: none;
    }
</style>

{% endblock %}