{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/start.html">Calculate funding</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="specifications.html">Specifications</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="fundingLineStructure.html">DSG SIT</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">Approve calculations
                </li>
            </ol>
        </div>

        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                    Approve calculations
                </h1>
                <span class="govuk-caption-l govuk-!-margin-bottom-6">View and approve calculations</span>
            </legend>


    </div>
</div>

<div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
        Contents
    </h2>
    <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#template">
                Template calculations
            </a>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#additional">
                Additional calculations
            </a>
        </li>

    </ul>
    <div class="govuk-tabs__panel" id="template">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">Template calculations</h2>
                <div class="govuk-form-group search-container ">
                    <label class="govuk-label" for="event-name">
                        Search for calculation
                    </label>
                    <input class="govuk-input" id="event-name" name="event-name" type="text">
                </div>
            </div>
        </div>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Calculation name</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                    <th scope="col" class="govuk-table__header">Last edited date</th>
                    <th scope="col" class="govuk-table__header">Update</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="editTemplateCalculationv2.html">Provisional
                            Schools Block Funding</br>
                            Excluding Growth</a>
                    </th>
                    <td class="govuk-table__cell"><strong id="calc-status"
                            class="govuk-tag govuk-tag--green govuk-!-margin-top-2 calc-status">Draft
                        </strong></a>
                    </td>
                    <td class="govuk-table__cell">25 March 2020 2:57pm</br>by Nathan TOWNSEND</td>
                    <td class="govuk-table__cell">
                        Approved<span class="govuk-visually-hidden"> name</span>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="editTemplateCalculationv2.html">Programme
                            Funding</a>
                    </th>
                    <td class="govuk-table__cell"><strong id="calc-status"
                            class="govuk-tag govuk-tag--green govuk-!-margin-top-2 calc-status">Draft
                        </strong></a>
                    </td>
                    <td class="govuk-table__cell">24 March 2020 3:17pm</br>by Nathan TOWNSEND</td>
                    <td class="govuk-table__cell">
                        Approved<span class="govuk-visually-hidden"> name</span>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="editTemplateCalculationv2.html">Total Funding
                            Allocation</a>
                    </th>
                    <td class="govuk-table__cell"><strong id="calc-status"
                            class="govuk-tag govuk-tag--green govuk-!-margin-top-2 calc-status">Draft
                        </strong></a>
                    </td>
                    <td class="govuk-table__cell">22 March 2020 12:52pm</br>by Nathan TOWNSEND</td>
                    <td class="govuk-table__cell">
                        Approved<span class="govuk-visually-hidden"> name</span>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="editTemplateCalculationv2.html">Block 1
                            Factor</a>
                    </th>
                    <td class="govuk-table__cell"><strong id="calc-status"
                            class="govuk-tag govuk-tag--green govuk-!-margin-top-2 calc-status">Draft
                        </strong></a>
                    </td>
                    <td class="govuk-table__cell">20 March 2020 8:22am</br>by Nathan TOWNSEND</td>
                    <td class="govuk-table__cell">
                        Approved<span class="govuk-visually-hidden"> name</span>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="editTemplateCalculationv2.html">Block 1 Funding
                            Payment</a>
                    </th>
                    <td class="govuk-table__cell"><strong id="calc-status"
                            class="govuk-tag govuk-tag--green govuk-!-margin-top-2 calc-status">Draft
                        </strong></a>
                    </td>
                    <td class="govuk-table__cell">16 March 2020 9:59am</br>by Nathan TOWNSEND</td>
                    <td class="govuk-table__cell">
                        Approved<span class="govuk-visually-hidden"> name</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="left-align govuk-!-margin-right-6">
            <strong class="govuk-tag govuk-tag--green left-align">
                Approve successful
            </strong>
            </br></br>
            <a href="fundingLineStructure.html" class="govuk-button govuk-!-margin-right-9 govuk-!-margin-bottom-6"
                data-module="govuk-button">
                Continue
            </a>

        </div>

    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="additional">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">Additional calculations</h2>
                <div class="govuk-form-group search-container ">
                    <label class="govuk-label" for="event-name">
                        Search for calculation
                    </label>
                    <input class="govuk-input" id="event-name" name="event-name" type="text">
                </div>
            </div>
        </div>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Calculation name</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                    <th scope="col" class="govuk-table__header">Last edited date</th>
                    <th scope="col" class="govuk-table__header">Update</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="editTemplateCalculationv2.html">Provisional
                            Schools Block Funding</br>
                            Excluding Growth</a>
                    </th>
                    <td class="govuk-table__cell"><strong id="calc-status"
                            class="govuk-tag govuk-tag--green govuk-!-margin-top-2 calc-status">Draft
                        </strong></a>
                    </td>
                    <td class="govuk-table__cell">25 March 2020 2:57pm</br>by Nathan TOWNSEND</td>
                    <td class="govuk-table__cell">
                        Approved<span class="govuk-visually-hidden"> name</span>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="editTemplateCalculationv2.html">Programme
                            Funding</a>
                    </th>
                    <td class="govuk-table__cell"><strong id="calc-status"
                            class="govuk-tag govuk-tag--green govuk-!-margin-top-2 calc-status">Draft
                        </strong></a>
                    </td>
                    <td class="govuk-table__cell">24 March 2020 3:17pm</br>by Nathan TOWNSEND</td>
                    <td class="govuk-table__cell">
                        Approved<span class="govuk-visually-hidden"> name</span>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="editTemplateCalculationv2.html">Total Funding
                            Allocation</a>
                    </th>
                    <td class="govuk-table__cell"><strong id="calc-status"
                            class="govuk-tag govuk-tag--green govuk-!-margin-top-2 calc-status">Draft
                        </strong></a>
                    </td>
                    <td class="govuk-table__cell">22 March 2020 12:52pm</br>by Nathan TOWNSEND</td>
                    <td class="govuk-table__cell">
                        Approved<span class="govuk-visually-hidden"> name</span>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="editTemplateCalculationv2.html">Block 1
                            Factor</a>
                    </th>
                    <td class="govuk-table__cell"><strong id="calc-status"
                            class="govuk-tag govuk-tag--green govuk-!-margin-top-2 calc-status">Draft
                        </strong></a>
                    </td>
                    <td class="govuk-table__cell">20 March 2020 8:22am</br>by Nathan TOWNSEND</td>
                    <td class="govuk-table__cell">
                        Approved<span class="govuk-visually-hidden"> name</span>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="editTemplateCalculationv2.html">Block 1 Funding
                            Payment</a>
                    </th>
                    <td class="govuk-table__cell"><strong id="calc-status"
                            class="govuk-tag govuk-tag--green govuk-!-margin-top-2 calc-status">Draft
                        </strong></a>
                    </td>
                    <td class="govuk-table__cell">16 March 2020 9:59am</br>by Nathan TOWNSEND</td>
                    <td class="govuk-table__cell">
                        Approved<span class="govuk-visually-hidden"> name</span>
                    </td>
                </tr>

            </tbody>
        </table>
        <div class="left-align govuk-!-margin-right-6">
            <strong class="govuk-tag govuk-tag--green left-align">
                Approve successful
            </strong>
            </br></br>
            <a href="fundingLineStructure.html" class="govuk-button govuk-!-margin-right-9 govuk-!-margin-bottom-6"
                data-module="govuk-button">
                Continue
            </a>

        </div>
    </div>
</div>

</div>








{% endblock %}