{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs govuk">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/start">
                Calculate funding
            </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="specifications">
                Specifications
            </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="fundingLineStructure-gag">
                {{ data['spec-name'] }}
            </a>
        </li>
    </ol>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/v1/fundingLineStructure-chosen" method="post" class="form">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <h1 class="govuk-heading-xl">Select data source</h1>
                </legend>




                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h3 class="govuk-heading-m">
                            Choose a data source type
                        </h3>
                    </legend>
                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="CFSdataset" name="data-type" type="radio"
                                value="choosefundingstream-gag.html">
                            <label class="govuk-label govuk-radios__label" for="CFSdataset">
                                Published specifications
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="publishedspecification" name="data-type" type="radio"
                                value="createDataset.html">
                            <label class="govuk-label govuk-radios__label" for="publishedspecification">
                                Data sources</label>
                        </div>
                    </div>
                </fieldset>

                </br></br></br>

                <div class="govuk-button-group">
                    <a href="" onclick="patternChoice()" id="patternLink" class="govuk-button govuk-!-margin-right-1"
                        data-module="govuk-button">
                        Save and continue
                    </a>

                    <a class="govuk-link govuk-!-margin-left-2" href="javascript:void(0);" onclick="check()">
                        Cancel
                    </a>
                </div>

                <!-- <a href="fundingLineStructure-gag.html" class="govuk-button govuk-button--secondary"
                    data-module="govuk-button">
                    Cancel
                </a> -->
        </form>

    </div>
</div>





<script>
    function patternChoice() {
        console.log("buttonclicked")
        var patternType = document.querySelector('input[name="data-type"]:checked').value;
        console.log(patternType)
        document.getElementById('patternLink').href = patternType
    }
</script>

<script>
    function check() {

        //Array with inputs that evaluate to true or false based on input

        const inputs = [
            Boolean(document.getElementById("CFSdataset").value),
        ]

        //starts the counter
        let counter = 0

        //increases counter by 1 for every true item in the array
        for (var i = 0; i <= inputs.length; i++) {
            if (inputs[i] === true) {
                document.getElementById('notSaved').style.display = 'block'
                counter++
            }
        }
        if (counter === 0) {
            history.back()
        }

    }
</script>


<div class="govuk-modal-dialogue" id="notSaved" data-module="govuk-modal-dialogue">
    {% include "includes/modal-dialogue.html" %}
</div>

{% endblock %}