{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs govuk">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/start.html">
                Home
            </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="specifications">
                Specifications
            </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="fundingLineStructure-pna">
                {{ data['spec-name'] }}
            </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="choosespectype-pna">
                Select data source
            </a>
        </li>
    </ol>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-heading-xl">Select the funding stream</h1>
        </legend>

        <h3 class="govuk-heading-m">
            Choose a funding stream for the data set
        </h3>
        <div class="govuk-form-group">
            <label class="govuk-label" for="sort">
                Funding streams
            </label>
            <select class="govuk-select" id="sort" name="sort">
                <option value="draft"></option>
                <option value="draft">16 to 19</option>
                <option value="draft">14 to 16</option>
                <option value="draft">General Annual Grant</option>
                <option>Academy Pupil Number Adjustment</option>

            </select>
        </div>



        </br> </br>

        <div class="govuk-button-group">
            <a href="choosefundinglinecalc-pna.html" class="govuk-button govuk-!-margin-right-1">
                Save and continue
            </a>
            <a class="govuk-link govuk-!-margin-left-2" href="javascript:void(0);" onclick="check()">
                Cancel
            </a>
            </form>

        </div>
    </div>

    <script>
        function patternChoice() {
            console.log("buttonclicked")
            var patternType = document.querySelector('input[name="data-type"]:checked').value;
            console.log(patternType)
            document.getElementById('patternLink').href = patternType
        }
    </script>

    <script>
        function check() {

            //Array with inputs that evaluate to true or false based on input

            const inputs = [
                Boolean(document.getElementById("sort").value),
            ]

            //starts the counter
            let counter = 0

            //increases counter by 1 for every true item in the array
            for (var i = 0; i <= inputs.length; i++) {
                if (inputs[i] === true) {
                    document.getElementById('notSaved').style.display = 'block'
                    counter++
                }
            }
            if (counter === 0) {
                history.back()
            }

        }
    </script>


    <div class="govuk-modal-dialogue" id="notSaved" data-module="govuk-modal-dialogue">
        {% include "includes/modal-dialogue.html" %}
    </div>

    {% endblock %}