{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/start.html">Calculate funding</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="specifications.html">Specifications</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link"
                        href="fundingLineStructure-chosen.html">{{ data['spec-name']}}</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">Create data set</li>
            </ol>
        </div>
    </div>
</div>

<fieldset class="govuk-fieldset">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
                <label class="govuk-label govuk-label--m" for="fundingStream">Search funding lines or calculations
                    <div id="data-set-name-hint" class="govuk-hint">
                        Add funding lines and calculations that you want to be part of the data set.
                    </div>
                    <div class="autocomplete-wrapper">
                        <select name="fundingStream" class="govuk-select" id="funding-stream">
                            <option value="">Select a funding stream</option>
                            <option value="fundingStream: GAG">Area Cost Factor </option>
                            <option value="fundingStream: DSG">Programme Funding Without Area Cost Allowance Applied</option>
                            <option value="fundingStream: PES">Programme Funding With Area Cost Allowance Applied</option>
                            <option value="fundingStream: PNA">Programme Funding Without Area Cost Allowance Applied</option>
                            <option value="fundingStream: PNA">Area Cost Allowance </option>
                            <option value="fundingStream: PNA">Area Cost Allowance Adjustment </option>
                        </select>
                    </div>
                </label>
                <button data-prevent-double-click="true" onclick="addToDataSet()" class="govuk-button govuk-button--secondary"
                    data-module="govuk-button">Add to data set</button>
        </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-top-5">
        <div class="govuk-grid-column-full">
            <table class="govuk-table table-vertical-align" id="dataSetItems">
                <caption class="govuk-table__caption govuk-table__caption--m">Funding lines and calculations</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Name</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Structure</th>
                        <th scope="col" class="govuk-table__header">Status</th>
                        <th scope="col" class="govuk-table__header">Remove row</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    
                </tbody>
            </table>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form action="/v1/fundingLineStructure-chosen" method="post" class="form">
                <button class="govuk-button " data-module="govuk-button" onclick="checkboxChoice()">Save and
                    continue</button>

                <a href="fundingLineStructure-chosen.html" class="govuk-button govuk-button--secondary"
                    data-module="govuk-button">
                    Cancel
                </a>
            </form>

        </div>
    </div>



    <script type="text/javascript" src="/public/javascripts/accessible-autocomplete.js"></script>

    <script>
        function addToDataSet() {
            let name = document.getElementById("funding-stream").value
            let table = document.getElementById("dataSetItems");
            let row = table.insertRow(1);
            row.className = "govuk-table__row"
            var cell1 = row.insertCell(0);
            cell1.className = "govuk-table__header"
            cell1.innerHTML = name
            var cell2 = row.insertCell(1);
            cell2.className = "govuk-table__cell"
            cell2.innerHTML = "Funding line";
            var cell3 = row.insertCell(2);
            cell3.className = "govuk-table__cell"
            cell3.innerHTML = "Draft";
            var cell4 = row.insertCell(3);
            cell4.className = "govuk-table__cell"
            cell4.innerHTML = "<a class='govuk-link' href='#'' id='deleteRow'>Remove</a>";
        }

        var selectEl = document.querySelector('#funding-stream')
        accessibleAutocomplete.enhanceSelectElement({
            autoselect: true,
            confirmOnBlur: true,
            defaultValue: "",
            minLength: 2,
            selectElement: selectEl
        })

        var queryStringParameters = window.location.search
        var previouslySubmitted = queryStringParameters.length > 0
        if (previouslySubmitted) {
            var submittedEl = document.querySelector('.submitted')
            submittedEl.classList.remove('submitted--hidden')
            var params = new URLSearchParams(document.location.search.split('?')[1])
            document.querySelector('.submitted__last-location').innerHTML = params.get('funding-stream')
        }
    </script>







    {% endblock %}