{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Required knowledge and skills</span>
        <h1 class="govuk-heading-xl">Calculate funding service</h1>
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">You must have skills in different coding languages, Visual Basic (VB) and Gherkin.</p>
        <p class="govuk-body">You must know the general principles on how the Education and Skills Funding Agency
            allocates funding to providers. This includes schools, academies, apprenticeships and other educational and
            training establishments.</p>
        <p class="govuk-body">If you have any queries, please contact your line manager.</p>
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">Specifications</h3>
        <p class="govuk-body">Specifications contain the required calculations for funding. This includes the required
            calculations, providers in scope and outputs needed.</p>
        <p class="govuk-body">A specification is used for a set funding period and one funding streams.</p>
        <p class="govuk-body">The template calculation links will automatically appear as links for you to populate with
            the calculation information. These will be displayed to providers on their funding statement. Funding
            calculations will also be displayed on funding statements.</p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">Calculations and QA tests</h3>
        <p class="govuk-body">You must have a schema set-up in CFS for your specification and have the required data
            source files uploaded and mapped to work for the calculations. You will use coding language, VB, to create
            or edit template calculations and additional calculations.</p>
        <p class="govuk-body">You will use the coding language, Gherkin, to create QA tests.</p>
        <p class="govuk-body">Calculate funding uses ‘Intellisense’ which will help you input functions and links to
            datasets. This means that you can choose the core provider datasets when creating or editing your
            specification</p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">Data source files and datasets</h3>
        <p class="govuk-body">You should only upload a data source file if you are confident that the data it contains,
            and the data schema used are correct and relevant.</p>
        <p class="govuk-body">You should only map a data source file to a dataset for a specification if you are
            confident that the data schema and data source file version are correct.</p>
        <p class="govuk-body">If you require a specific set of provider data, you can <a target="_blank" href="https://dfe.service-now.com"
                class="govuk-link">raise a request from the DfE helpdesk</a> and it will appear as an option in ‘Core
            provider data’ option when creating or editing a Specification.</p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">Approving and Releasing funding</h3>
        <p class="govuk-body">Only if you have the authority to do so you can approve:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>sppecifications</li>
            <li>calculations</li>
            <li>funding</li>
        </ul>
        <p class="govuk-body">You may also have the required authority in order to release this funding.</p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">Confirmation</h3>
        <p class="govuk-body">By proceeding you confirm that you:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>have the required skills, knowledge and experience to use the Calculate funding service</li>
            <li>will only approve or publish items if you have the authority to do so</li>
        </ul>
        <p class="govuk-body">You won't see this screen again unless you navigate here from the link on the homepage.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="/start" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
            Accept and continue
        </a>
        <a href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Cancel
        </a>
    </div>
</div>


{% endblock %}