{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/start.html">Calculate funding</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="specifications.html">Specifications</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Create specification</li>
      </ol>
    </div>

    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading">
          Create specification
        </h1>
      </legend>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-line-1">
          Specification name
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="two-thirds" name="two-thirds" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          Funding streams
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="draft">Dedicated schools grant</option>
          <option value="draft">PE and sport premium grant</option>
        </select>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          Funding period
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="draft">Financial year 2020 to 2021</option>
        </select>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          Core provider data
        </label>
        <span id="account-number-hint" class="govuk-hint">
          Select a funding stream and funding period before choosing the provider data
        </span>
        <input class="govuk-input govuk-!-width-two-thirds" id="two-thirds" name="two-thirds" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          Template version
        </label>
        <span id="account-number-hint" class="govuk-hint">
          Select a funding stream and funding period before choosing a template version
        </span>
        <input class="govuk-input govuk-!-width-two-thirds" id="two-thirds" name="two-thirds" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="more-detail">
          Can you provide more detail?
        </label>
        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="8"
          aria-describedby="more-detail-hint"></textarea>
      </div>
    </fieldset>
    <a href="createSpecification-successful.html" class="govuk-button govuk-!-margin-right-1"
      data-module="govuk-button">
      Save and continue
    </a>

    <a href="specifications" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Cancel
    </a>
  </div>
</div>

{% endblock %}