{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/start">
        Calculate funding
      </a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="specifications">
        Specifications
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="fundingLineStructure-chosen">
        {{ data['spec-name'] }}
      </a>
    </li>

  </ol>
  
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/v1/fundingLineStructure" method="post" novalidate data-validate='my-form-validation'>
      <fieldset class="govuk-fieldset">
        <h1 class="govuk-heading-xl">
          Create additional calculation
        </h1>

        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
          <div class="govuk-form-group">
            <label class="govuk-label" for="address-line-1">
              Calculation name
            </label>
            <input class="govuk-input" id="calculation-name" name="additionalCalc-name"
              type="text" aria-label="Calculation name">
          </div>
          <p id="calculation-source-code-name" class="govuk-body">Source code name: <em>block1Percent</em></p>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                  Why is my source code name different to my calculation name
                </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">The source code name is how we save your calculation name. It must be unique. Special characters are removed or replaced with words:</p>
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
              <li>&lt; is replaced with 'LessThan'</li>
              <li>&gt; is replaced with 'GreaterThan'</li>
              <li>&percnt; is replaced with 'Percent'</li>
              <li>&pound; is replaced with 'Pound'</li>
              <li>&equals; is replaced with 'Equals'</li>
              <li>&plus; is replaced with 'Plus'</li>
            </ul>
            <p class="govuk-body">We remove all other special characters. This may mean your calculation name is not unique. If this happens, we will ask you to change the calculation name.</p
              </div>
          </details>

          <div class="govuk-form-group govuk-!-margin-top-5">
            <label class="govuk-label" for="sort">
              Value type
            </label>
            <select class="govuk-select" id="value-type" name="value-type" aria-label="Value type">
              <option></option>
              <option value="Percentage">Percentage</option>
              <option value="Number">Number</option>
              <option value="Currency">Currency</option>
            </select>
          </div>

          <div class="govuk-form-group govuk-!-margin-top-5">
            <label class="govuk-label" for="more-detail">
              Calculation script 
            </label>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="20"
              aria-label="Calculation script">Return 0</textarea>
          </div>

          {% include "includes/full-screen.html" %}

          <div class="govuk-grid-row govuk-!-margin-top-5">
            <div class="govuk-grid-column-two-thirds">
              <h2 class="govuk-heading-s" for="more-detail">
                UKPRN
                <span id="event-name-hint" class="govuk-hint">
                  Optional: Enter a UKPRN to view calculation results for this provider
                </span>
              </h2>
              <input class="govuk-input govuk-input--width-10 govuk-!-margin-bottom-5" id="width-5" name="width-5" type="text"
                aria-label="enter-UKPRN">
              <br>
              <button data-prevent-double-click="true" onclick="buildOuput()" class="govuk-button"
                data-module="govuk-button">
                Build calculation
              </button>
            </div>
          </div>

          <div class="govuk-inset-text" id="buildResult" style="display: none;">
            <h3 class="govuk-heading-s">Build output</h3>
            <p class="govuk-body">Code compiled successfully </p>
            <p class="govuk-body">Provider: <strong>Paddington Academy </strong>
            </p>
            <p class="govuk-body">Provider results: <strong>3.5%</strong>
            </p>

          </div>

          <div class="govuk-grid-row govuk-!-margin-top-9">
            <div class="govuk-grid-column-two-thirds">
              <button class="govuk-button govuk-!-margin-right-1" onclick="createCalc()" data-module="govuk-button">
                Save and continue
              </button>

              <a href="fundingLineStructure.html" class="govuk-button govuk-button--secondary"
                data-module="govuk-button">
                Cancel
              </a>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <script>
    function buildOuput() {
      document
        .getElementById('buildResult')
        .style
        .display = "block"
    }

    function createCalc(dt) {
      var Timeoptions = {
        hour: '2-digit',
        minute: '2-digit'
      };
      var time = new Date().toLocaleTimeString('en-GB', Timeoptions)
      var ampm = time >= 12
        ? 'pm'
        : 'am';
      var date = new Date()
      var dateOptions = {
        year: 'numeric',
        month: 'long',
        day: 'numeric'
      }
      var dateFormat = date.toLocaleDateString('en-GB', dateOptions)

      var valueType = document
        .getElementById('value-type')
        .value
      var calcName = document
        .getElementById('calculation-name')
        .value

        sessionStorage
        .setItem('calcCreated', 'true')
      sessionStorage.setItem('calcName', calcName)
      sessionStorage.setItem('valueType', valueType)
      sessionStorage.setItem('status', 'Draft')
      sessionStorage.setItem('date', dateFormat + ' ' + time + ampm)
    }
  </script>

  <script type="application/json" id="my-form-validation">
    {
      "additionalCalc-name": {
        "presence": {
          "message": "^Enter an additional calculation name"
        }
      },

      "value-type": {
        "presence": {
          "message": "^Select a value type"
        }
      },

      "more-detail": {
        "presence": {
          "message": "^Enter calculation script"
        }
      }

    }
  </script>
  

{% endblock %}