{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/start.html">Calculate funding</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="specifications.html">Specifications</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="fundingLineStructure-chosen.html">{{ data['spec-name'] }}</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Create additional calculation</li>
      </ol>
    </div>
    <form action="/v1/fundingLineStructure" method="post" class="form">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Create additional calculation
          </h1>
        </legend>


        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
          <div class="govuk-form-group">
            <label class="govuk-label" for="address-line-1">
              Calculation name
            </label>
            <input class="govuk-input govuk-js-character-count" id="address-line-1" name="additionalCalc-name"
              type="text">
          </div>

          <div class="govuk-form-group govuk-!-margin-top-5">
            <label class="govuk-label" for="sort">
              Value type
            </label>
            <select class="govuk-select" id="value-type" name="value-type">
              <option></option>
              <option value="Percentage">Percentage</option>
              <option value="Number">Number</option>
              <option value="Currency">Currency</option>
            </select>
          </div>

          <div class="govuk-form-group govuk-!-margin-top-5">
            <label class="govuk-label" for="more-detail">
              Calculation script
            </label>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="20"
              aria-describedby="more-detail-hint">
Return 0
        </textarea>
          </div>

          <a data-prevent-double-click="true" onclick="buildOuput()" class="govuk-button" data-module="govuk-button">
            Build calculation
          </a>


          <div class="govuk-inset-text" id="buildResult" style="display: none;">
            <h4 class="govuk-heading-s">Build output</h4>
            <p class="govuk-body">Code compiled successfully </p>

          </div>

          <div class="govuk-grid-row govuk-!-margin-top-9">
            <div class="govuk-grid-column-two-thirds">
              <button class="govuk-button govuk-!-margin-right-1" onclick="createCalc()" data-module="govuk-button">
                Save and continue
              </button>

              <a href="fundingLineStructure.html" class="govuk-button govuk-button--secondary"
                data-module="govuk-button">
                Cancel
              </a>
            </div>
          </div>
      </fieldset>
    </form>
  </div>
</div>

<script>

  function buildOuput() {
    document.getElementById('buildResult').style.display = "block"
  }

  function createCalc() {
    var Timeoptions = { hour: '2-digit', minute: '2-digit' };
    var time = new Date().toLocaleTimeString('en-US', Timeoptions)

    var date = new Date()
    var dateOptions = { year: 'numeric', month: 'long', day: 'numeric' }
    var dateFormat = date.toLocaleDateString('en-GB', dateOptions)

    sessionStorage.setItem('calcCreated', 'true')
    sessionStorage.setItem('status', 'Draft')
    sessionStorage.setItem('date', dateFormat + ' ' + time)
  }

</script>

{% endblock %}