{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Are you sure you want to delete {{ data['additionalCalc-name'] }}?
      </h1>
    </legend>

    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          No
        </label>
      </div>
    </div>
         <div class="govuk-button-group">
        <button class="govuk-button govuk-!-margin-top-5" onclick="sessionStorage.setItem('calcCreated', 'false'); goBack2()" 
        data-module="govuk-button">
        Continue
        </button>
        <a class="govuk-link" href="javascript:void(0);" onclick="check()">
          Cancel</a>
        </div>
  </fieldset>
</div>

<script>

  window.onload = function additionalCalc() {
    var dateTime = sessionStorage.getItem("date");
    document.getElementById('editedDate').innerHTML = dateTime;
  }

</script>

<script>
  function check() {

      //Array with inputs that evaluate to true or false based on input

      const inputs = [
          Boolean(document.getElementById("changed-name").value),
      ]

      //starts the counter
      let counter = 0

      //increases counter by 1 for every true item in the array
      for (var i = 0; i <= inputs.length; i++) {
          if (inputs[i] === true) {
              document.getElementById('notSaved').style.display = 'block'
              counter++
          }
      }
      if (counter === 0) {
          history.back()
      }

  }
</script>

<div class="govuk-modal-dialogue" id="notSaved" data-module="govuk-modal-dialogue">
  {% include "includes/modal-dialogue.html" %}
</div>

{% endblock %}