{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/start">
        Calculate funding
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="specifications">
        Specifications
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a
        class="govuk-breadcrumbs__link"
        href="fundingLineStructure"
      >
        DSG SIT
      </a>
    </li>

  </ol>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-row govuk-!-margin-bottom-5" id="saveMessage" style="display: none;">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Calculation saved
        </h1>
        <div class="govuk-panel__body" id="saveTime">
          </strong>
        </div>
      </div>
    </div>

    <form action="" onsubmit="return saveCalc(this);">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h2 class="govuk-heading-l">{{ data['additionalCalc-name'] }}</h2>
        </legend>

        <div class="govuk-grid-row govuk-!-margin-bottom-2">
          <div class="govuk-grid-column-full">

            <dl class="govuk-summary-list govuk-summary-list--no-border">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Calculation name
                </dt>
                <dd class="govuk-summary-list__value">
                  <input class="govuk-input govuk-!-width-two-thirds" value="{{ data['additionalCalc-name'] }}"
                    id="additional-calculation-name" name="additionalCalc-name" type="text">
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Calculation status
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong class="govuk-tag govuk-tag--green govuk-!-margin-top-2">
                    DRAFT
                  </strong>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Value type
                </dt>
                <dd class="govuk-summary-list__value">

                  <div class="govuk-form-group">
                    <select class="govuk-select" id="sort" name="sort" aria-label="value type">
                      <option value="published">{{ data['value-type'] }}</option>
                      <option value="updated" selected>Percentage</option>
                      <option value="views">Number</option>

                    </select>
                  </div>

                </dd>
              </div>
            </dl>

          </div>
        </div>

        <div class="govuk-form-group">
          <h3 class="govuk-heading-s" for="more-detail">
            Calculation script
          </h3>
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="20"
            aria-label="calculation script">
Return 0

        </textarea>

         <div class="right-align maths-icon govuk-!-margin-top-4">
         {% include "includes/full-screen.html" %}
         </div>

          <h4 class="govuk-heading-s" for="more-detail">
            UKPRN

            <span id="event-name-hint" class="govuk-hint">
              Optional: Enter a UKPRN to view calculation results for this provider
            </span></h4>
          <input class="govuk-input govuk-input--width-10" id="width-5" name="width-5" type="text"
            aria-label="enter UKPRN">

        </div>
        <button data-prevent-double-click="true" onclick="buildOuput()" class="govuk-button" data-module="govuk-button">
          Build calculation
        </button>
        <p class="govuk-body"><a href="view-results/view-specification-results/calculation-providers">View calculation
            results</a></p>

        <div class="govuk-inset-text" id="buildResult" style="display: none;">
          <h5 class="govuk-heading-s">Build output</h5>
          <p class="govuk-body">Code compiled successfully </p>
          <p class="govuk-body">Provider: <strong>Abbeygate Sixth Form College
            </strong></p>
          <p class="govuk-body">Provider result: <strong>£10,836</strong></p>

        </div>


        <div class="govuk-grid-row govuk-!-margin-top-9">
          <div class="govuk-grid-column-full">
            <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
              Save
            </button>

    </form>
    <button class="govuk-button govuk-!-margin-right-1 btn-approve" id="btn-approve" data-module="govuk-button">
      Approve
    </button>
    <a href="fundingLineStructure.html" class="govuk-button govuk-!-margin-right-1 govuk-button--secondary"
      data-module="govuk-button">
      Cancel
    </a>
    <a class="govuk-button govuk-button--warning" href="delete-additional-calculation" data-module="govuk-button">
      Delete calculation
    </a>
  </div>
</div>

<p class="govuk-body" id="lastSaved">Last saved 25 March 2020 2:57pm</p>
<a href="calculation-version-history.html">
  <p class="govuk-body">View calculation history</p>
</a>
</div>
</div>

<script>
  function buildOuput() {
    document.getElementById('buildResult').style.display = "block"
  }

  window.onload = function additionalCalc() {
    var status = sessionStorage.getItem("status");
    var dateTime = sessionStorage.getItem("date");
    document.getElementById('calc-status').innerHTML = status;
    document.getElementById('editedDate').innerHTML = "Last saved " + dateTime;
  }

  function saveCalc() {
    document.getElementById('saveMessage').style.display = 'block';
    window.scrollTo(0, 0);
    var Timeoptions = {
      hour: '2-digit',
      minute: '2-digit'
    };
    var time = new Date().toLocaleTimeString('en-GB', Timeoptions)
    var ampm = time >= 12 ? 'pm' : 'am';
    var date = new Date()
    var dateOptions = {
      year: 'numeric',
      month: 'long',
      day: 'numeric'
    }
    var dateFormat = date.toLocaleDateString('en-GB', dateOptions)
    document.getElementById('saveTime').innerHTML = dateFormat + ' ' + time + ampm
    document.getElementById('lastSaved').innerHTML = 'Last saved ' + dateFormat + ' ' + time + ampm
  }
</script> {% endblock %}