{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.js"></script>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/start.html">Calculate funding</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="specifications.html">Specifications</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="fundingLineStructure.html">DSG SIT</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Edit specification</li>
      </ol>
    </div>

    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading">
          Edit specification
        </h1>
      </legend>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-line-1">
          Specification name
        </label>
        <input class="govuk-input" id="address-line-1" name="address-line-1" type="text">
      </div>

      <span class="govuk-caption-m">Funding stream</span>
      <h3 class="govuk-heading-m">Dedicated schools grant</h3>

      <span class="govuk-caption-m">Funding period</span>
      <h3 class="govuk-heading-m govuk-!-margin-bottom-6">Financial year 2020 to 2021</h3>



      <form action="form-single.html" method="get">
        <label class="govuk-label" for="last-location">Core provider data</label>
        <div class="autocomplete-wrapper">
          <select id="multilineSelect" name="last-location" class="govuk-select" id="last-location">
            <option value=""></option>
            <option>PSG 2019-09-01</option>
            <option disabled>
              <p class="govuk-body" style="color: white;">Target date: 1 October 2019. Version 1. October providers</p>
            </option>
            <option disabled>
              <p class="govuk-body"></p>
            </option>
            <option>PSG 2019-09-01-2</option>
            <option disabled>
              <p class="govuk-body">Target date: 1 October 2019. Version 2. October providers, corrected two providers
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            </option>
            <option disabled>
              <p class="govuk-body"></p>
            </option>
            <option value="territory:AE-AZ">PSG-2019-12-15</option>
            <option disabled>
              <p class="govuk-body">Target date: 15 December 2019. Version 1. January variations</p>
            </option>
            <option disabled>
              <p class="govuk-body"></p>
            </option>
            <option value="territory:AE-AZ">PSG-2020-04-07</option>
            <option disabled>
              <p class="govuk-body">Target date: 7 April 2020. Version 1. April variations</p>
            </option>
          </select>
        </div>
      </form>
      </br> </br>

      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          Template version
        </label>
        <span id="account-number-hint" class="govuk-hint">
          Select a funding stream and funding period before choosing a template version
        </span>
        <input class="govuk-input govuk-!-width-two-thirds" id="two-thirds" name="two-thirds" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="more-detail">
          Can you provide more detail?
        </label>
        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="8"
          aria-describedby="more-detail-hint"></textarea>
      </div>
    </fieldset>

    <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
      Save and continue
    </button>

    <a href="fundingLineStructure.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Cancel
    </a>
  </div>
</div>





<style>
  option:disabled {
    color: white !important;
  }
</style>


{% endblock %}