{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/start">
        Calculate funding
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="specifications">
        Specifications
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="fundingLineStructure-pna.html">{{ data['spec-name'] }}
      </a>
    </li>

  </ol>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/v1/fundingLineStructure-chosen" method="post" class="form">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Edit specification
          </h1>
        </legend>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-1">
            Specification name
          </label>
          <input class="govuk-input" id="address-line-1" name="address-line-1" type="text"
            value="{{ data['spec-name'] }}">
        </div>

        <span class="govuk-caption-m">Funding stream</span>
        <h3 class="govuk-heading-m">Pupil Number Adjustment</h3>

        <span class="govuk-caption-m">Funding period</span>
        <h3 class="govuk-heading-m">Academies and Schools Academic Year 2019 to 2020</h3>

        <div class="govuk-form-group">
          <label class="govuk-label" for="sort">
            Core provider data
          </label>
          <span id="account-number-hint" class="govuk-hint">
            Select a funding stream and funding period before choosing the provider data
          </span>
          <select class="govuk-select" id="coreProviderData" name="sort" onchange="getProviderData()">
            <option></option>
            <option name="core-provider-data" value="284,821,882">21 August 2019 - Initial providers</option>
            <option name="core-provider-data" id="providerDataChange" value="0">1 September 2019 - Amended
            </option>
          </select>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="sort">
            Template version
          </label>
          <span id="account-number-hint" class="govuk-hint">
            Select a funding stream and funding period before choosing a template version
          </span>
          <select class="govuk-select" id="sort" name="sort">
            <option value="draft"></option>
            <option value="draft">0.1</option>
            <option value="draft">0.2</option>
            <option value="draft">0.3</option>
          </select>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="more-detail">
            Can you provide more detail?
          </label>
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="8"
            aria-describedby="more-detail-hint"></textarea>
        </div>
      </fieldset>

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>

        <a class="govuk-link" href="javascript:void(0);" onclick="check()">
          Cancel
        </a>
      </div>

    </form>

  </div>
</div>

<script>
  function getProviderData() {
    var coreProviderData = document.getElementById("coreProviderData").value;
    console.log(coreProviderData)
    sessionStorage.setItem('provider data changed', coreProviderData);

  }
</script>

<script>
  function check() {

    //Array with inputs that evaluate to true or false based on input

    const inputs = [
      Boolean(document.getElementById("coreProviderData").value),
    ]

    //starts the counter
    let counter = 0

    //increases counter by 1 for every true item in the array
    for (var i = 0; i <= inputs.length; i++) {
      if (inputs[i] === true) {
        document.getElementById('notSaved').style.display = 'block'
        counter++
      }
    }
    if (counter === 0) {
      history.back()
    }

  }
</script>


<div class="govuk-modal-dialogue" id="notSaved" data-module="govuk-modal-dialogue">
  {% include "includes/modal-dialogue.html" %}
</div>

{% endblock %}