{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/start.html">Calculate funding</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="specifications.html">Specifications</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Specification name</span>
    <h2 class="govuk-heading-l">DSG SIT</h2>
    <span class="govuk-caption-m">Funding period</span>
    <h3 class="govuk-heading-m">Financial year 2020 - 2021</h3>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-m">Funding streams</span>
    <h3 class="govuk-heading-m">Dedicated schools grant</h3>
  </div>
  <div class="govuk-grid-column-one-third">
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="editSpecification">Edit specification</a>
      </li>
      <li>
        <a class="govuk-link" href="createAdditionalCalculation">Create additional calculation</a>
      </li>
      <li>
        <a class="govuk-link" href="../v1/future-data-flow/createnewdataset.html">Create new data set relationship</a>
      </li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <details class="govuk-details govuk-!-margin-bottom-5" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What is DSG SIT?
        </span>
      </summary>
      <div class="govuk-details__text">
        Section to contain details.
      </div>
    </details>

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#past-day">
            Funding line structure
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#past-week">
            Additional calculations
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#past-month">
            Data sets
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#release-timetable">
            Release timetable
          </a>
        </li>
      </ul>
      <section class="govuk-tabs__panel" id="past-day">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Funding line structure</h2>
            <div class="govuk-form-group search-container">
              <label class="govuk-label" for="event-name">
                Search by calculation
              </label>
              <input class="govuk-input" id="event-name" name="event-name" type="text">
            </div>
          </div>


          <div class="govuk-grid-column-one-third ">
            <strong class="govuk-tag right-align ">
              Approved
            </strong>
          </div>
        </div>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Structure</th>
              <th scope="col" class="govuk-table__header">Name</th>
              <th scope="col" class="govuk-table__header">Calculation type</th>
              <th scope="col" class="govuk-table__header">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">

          </tbody>
        </table>
        <nav class="govuk-!-margin-top-9" role="navigation" aria-label="Pagination">
          <div class="pagination__summary">Showing 101 - 150 of 246 results</div>
          <ul class="pagination">
            <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Previous page"><span
                  aria-hidden="true" role="presentation">&laquo;</span> Previous</a></li>
            <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 1">1</a></li>
            <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 2">2</a></li>
            <li class="pagination__item"><a class="pagination__link current" href="#0" aria-current="true"
                aria-label="Page 3, current page">3</a></li>
            <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 4">4</a></li>
            <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 5">5</a></li>
            <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Next page">Next <span
                  aria-hidden="true" role="presentation">&raquo;</span></a></li>
          </ul>
        </nav>
      </section>




      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Additional calculations</h2>
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group search-container">
              <input class="govuk-input input-search" id="event-name" name="event-name" spellcheck="false" type="text">
              <button class="govuk-button" type="submit" class="gem-c-search__submit">Search</button>
            </div>
          </div>
          <div class="govuk-grid-column-one-third">
          </div>
        </div>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Additional calculation name</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header">Value type</th>
              <th scope="col" class="govuk-table__header">Last edited date</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">

          </tbody>
        </table>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            No additional calculations available. <a href="createAdditionalCalculation">Create a calculation</a>
          </strong>
        </div>
        <nav class="govuk-!-margin-top-9" role="navigation" aria-label="Pagination">
          <div class="pagination__summary">Showing 101 - 150 of 246 results</div>
          <ul class="pagination">
            <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Previous page"><span
                  aria-hidden="true" role="presentation">&laquo;</span> Previous</a></li>
            <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 1">1</a></li>
            <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 2">2</a></li>
            <li class="pagination__item"><a class="pagination__link current" href="#0" aria-current="true"
                aria-label="Page 3, current page">3</a></li>
            <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 4">4</a></li>
            <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 5">5</a></li>
            <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Next page">Next <span
                  aria-hidden="true" role="presentation">&raquo;</span></a></li>
          </ul>
        </nav>
      </section>





      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Data sets</h2>
          </div>
          <div class="govuk-grid-column-one-third">
          </div>
        </div>
        <table class="govuk-table">
          <caption class="govuk-table__caption">Data sets and schemas</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Data set</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Data schema</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <p>APT Funding floor baseline data set</p>
                <div class="govuk-!-margin-top-2">
                  <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Data set description
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue diam sit amet dui posuere,
                      id rutrum sem feugiat. Phasellus condimentum hendrerit nunc, sed lacinia risus efficitur
                      hendrerit. Mauris sed.
                    </div>
                  </details>
                </div>
              </th>
              <td class="govuk-table__cell">APT 1718 funding floor baseline data set</td>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <p>APT adjusted factors</p>
                <div class="govuk-!-margin-top-2">
                  <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Data set description
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue diam sit amet dui posuere,
                      id rutrum sem feugiat. Phasellus condimentum hendrerit nunc, sed lacinia risus efficitur
                      hendrerit. Mauris sed.
                    </div>
                  </details>
                </div>
              </th>
              <td class="govuk-table__cell">APT adjusted factors</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="release-timetable">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Release timetable</h2>
          </div>
          <div class="govuk-grid-column-one-third ">
            <strong class="govuk-tag right-align ">
              Approved
            </strong>
          </div>
        </div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h3 class="govuk-heading-m">
                Release date of funding to Navison?
              </h3>
            </legend>
            <span id="passport-issued-hint" class="govuk-hint">
              Set the date and time that the statement will be published externally for this funding stream. <br>For
              example, 12 11 2019
            </span>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="event-name">
                      Release date
                    </label>
                    <input class="govuk-input" id="event-name" name="event-name" type="date">
                  </div>
                </div>
              </div>
            </div>
            <fieldset class="govuk-fieldset govuk-!-margin-top-5" role="group" aria-describedby="passport-issued-hint">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                Time
              </label>
              <span id="statementRelease-time" class="govuk-hint">
                For example, 10:00AM
              </span>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Hour
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day"
                      name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Minute
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      AM/PM
                    </label>
                    <select class="govuk-select" id="sort" name="sort">
                      <option value="AM">AM</option>
                      <option value="PM" selected>PM</option>
                    </select>
                  </div>
                </div>
              </div>
            </fieldset>
        </div>

        <div class="govuk-form-group govuk-!-margin-top-9">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h3 class="govuk-heading-m">
                Release date of statement to providers?
              </h3>
            </legend>
            <span id="passport-issued-hint" class="govuk-hint">
              Set the date and time that the statement will be published externall for this funding stream. <br>For
              example, 12 11 2019
            </span>
            <div class="govuk-date-input" id="statement-releasedate">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="event-name">
                    Release date
                  </label>
                  <input class="govuk-input" id="event-name" name="event-name" type="date">
                </div>
              </div>
            </div>

            <div class="govuk-form-group govuk-!-margin-top-5">
              <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                  Time
                </label>
                <span id="statementRelease-time" class="govuk-hint">
                  For example, 10:00AM
                </span>
                <div class="govuk-date-input" id="passport-issued">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                        Hour
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day"
                        name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                        Minute
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                          id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*"
                          inputmode="numeric">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                        AM/PM
                      </label>
                      <select class="govuk-select" id="sort" name="sort">
                        <option value="AM">AM</option>
                        <option value="PM" selected>PM</option>
                      </select>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </fieldset>
        </div>

        <div class="govuk-grid-row govuk-!-margin-top-9">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Point of variation</h2>
            <p class="govuk-body">Set the installment from which a variation should take effect.</p>
          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Funding line 1
                </dt>
                <dd class="govuk-summary-list__value">
                  April 2020 <br>
                  Installment 3
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="variation/installment-variation.html">
                    Change<span class="govuk-visually-hidden"> funding line 1</span>
                  </a>
                </dd>
              </div>
            </dl>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Funding line 2
                </dt>
                <dd class="govuk-summary-list__value">
                  April 2020 <br>
                  Installment 3
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="variation/installment-variation.html">
                    Change<span class="govuk-visually-hidden"> funding line 1</span>
                  </a>
                </dd>
              </div>
            </dl>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Funding line 3
                </dt>
                <dd class="govuk-summary-list__value">
                  April 2020 <br>
                  Installment 3
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="variation/installment-variation.html">
                    Change<span class="govuk-visually-hidden"> funding line 1</span>
                  </a>
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

{% endblock%}