{% extends "layout.html" %}
{% set active_page = "start.html" %}


{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/start">
                Home
            </a>
        </li>

    </ol>
</div>

{% endblock %}


{% block content %}


<div class="govuk-grid-row  govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-full ">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Specifications</h1>
        <span class="govuk-caption-l">Create and manage the specifications used to calculate funding.</span>
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <a href="createSpecification" class="govuk-button govuk-button--primary" data-module="govuk-button">
            Create a new specification
        </a>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third position-sticky">
        <div class="filterScroll">
            <div class="govuk-form-group filterbyContainer">
                <fieldset class="govuk-fieldset">
                    <div class="govuk-form-group filterSearch">
                        <label
                            class="govuk-heading-s govuk-!-display-inline-block govuk-!-margin-top-2 govuk-!-margin-bottom-2"
                            for="mainContentSearch">Search</label>

                        <!-- //Clear search  -->

                        <a href="#"
                            class="govuk-link govuk-!-display-inline-block govuk-!-margin-top-2 govuk-!-margin-bottom-2 right-align"
                            onclick="
                        document.getElementById('showDSGSIT').style.display = 'table-row',
                        document.getElementById('show1619').style.display = 'table-row',
                        document.getElementById('showGAG').style.display = 'table-row',
                        document.getElementById('mainContentSearch').value = ''
                        ">
                            Clear search</a>


                        <input class="govuk-input filterSearchInput govuk-!-margin-bottom-2" id="mainContentSearch"
                            autocomplete="off" name="searchBox" type="text">
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group filterbyContainer">
                <fieldset class="govuk-fieldset">
                    <div class="selected-filters-background">
                        <div class="govuk-form-group filterSearch">
                            <h2 class="govuk-heading-s govuk-!-display-inline-block govuk-!-margin-top-2 govuk-!-margin-bottom-2"
                                for="filter-by-type">Selected filters</h2>
                            <a href=""
                                class="govuk-link govuk-!-display-inline-block govuk-!-margin-top-2 govuk-!-margin-bottom-2 right-align"
                                onclick="
                            $('input:checkbox').
                            
                            removeAttr('checked'); 
                            
                            toggleMe(), 
                            
                            countChecked();
                            
                            ">
                                Clear filters</a>

                            <div id="showHideText">
                                <p class="govuk-body-s">No filters selected</p>
                            </div>

                            <div class="filtersSelected">
                                <div class="filter">
                                    <div class="filter__content">
                                        <div class="filter__selected">

                                            <!-- // Funding Stream Tags -->

                                            <div class="hidden" id="fundingStreamText">
                                                <h3 class="govuk-hint govuk-body govuk-!-font-size-16 govuk-!-margin-0">
                                                    Funding stream</h3>
                                            </div>
                                            <ul class="filter-tags">
                                                <li id="filterFundingStreamOption1" class="hidden">
                                                    <a class="filter__tag" href=""><span
                                                            class="govuk-visually-hidden">Remove this filter</span> PE
                                                        and
                                                        sports grant (1)</a>
                                                </li>
                                                <li id="filterFundingStreamOption2" class="hidden">
                                                    <a class="filter__tag" href=""><span
                                                            class="govuk-visually-hidden">Remove this filter</span>
                                                        16
                                                        to 19 (1)</a>
                                                </li>
                                                <li id="filterFundingStreamOption3" class="hidden">
                                                    <a class="filter__tag" href=""><span
                                                            class="govuk-visually-hidden">Remove this filter</span>
                                                        General annual grant (1)</a>
                                                </li>
                                            </ul>

                                            <!-- // Funding Period Tags -->

                                            <div class="hidden" id="fundingPeriodText">
                                                <h3 class="govuk-hint govuk-body govuk-!-font-size-16 govuk-!-margin-0">
                                                    Funding period</h3>
                                            </div>
                                            <ul class="filter-tags">
                                                <li id="filterFundingStreamOption4" class="hidden">
                                                    <a class="filter__tag" href=""><span
                                                            class="govuk-visually-hidden">Remove this
                                                            filter</span>Financial year 2020 to 2021 (1)</a>
                                                </li>
                                                <li id="filterFundingStreamOption5" class="hidden">
                                                    <a class="filter__tag" href=""><span
                                                            class="govuk-visually-hidden">Remove this
                                                            filter</span>Academic year 2019 to 2020 (1)</a>
                                                </li>
                                                <li id="filterFundingStreamOption6" class="hidden">
                                                    <a class="filter__tag" href=""><span
                                                            class="govuk-visually-hidden">Remove this
                                                            filter</span>Academies and schools academic (1)</a>
                                                </li>
                                            </ul>

                                            <!-- // Status Tags -->

                                            <div class="hidden" id="statusText">
                                                <h3 class="govuk-hint govuk-body govuk-!-font-size-16 govuk-!-margin-0">
                                                    Status</h3>
                                            </div>
                                            <ul class="filter-tags">
                                                <li id="filterFundingStreamOption7" class="hidden">
                                                    <a class="filter__tag" href="#"><span
                                                            class="govuk-visually-hidden">Remove this
                                                            filter</span>Approved (4)</a>
                                                </li>
                                                <li id="filterFundingStreamOption8" class="hidden">
                                                    <a class="filter__tag" href=""><span
                                                            class="govuk-visually-hidden">Remove this
                                                            filter</span>Released (2)</a>
                                                </li>
                                                <li id="filterFundingStreamOption9" class="hidden">
                                                    <a class="filter__tag" href=""><span
                                                            class="govuk-visually-hidden">Remove this
                                                            filter</span>Updated (4)</a>
                                                </li>
                                                <li id="filterFundingStreamOption10" class="hidden">
                                                    <a class="filter__tag" href=""><span
                                                            class="govuk-visually-hidden">Remove this
                                                            filter</span>Error (6)</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="govuk-fieldset">
                    <div class="govuk-form-group filterSearch">
                        <div class="filterContainer">
                            <div class="govuk-accordion" data-module="govuk-accordion"
                                id="accordion-with-summary-sections">
                                <div class="govuk-accordion__section ">
                                    <div class="govuk-accordion__section-header">
                                        <h2 class="govuk-accordion__section-heading">
                                            <span
                                                class="govuk-accordion__section-button govuk-body govuk-!-font-size-19"
                                                id="accordion-with-summary-sections-heading-1">
                                                <span class="govuk-visually-hidden">Filter by</span>
                                                Funding stream
                                            </span>
                                        </h2>
                                        <div class="govuk-accordion__section-summary govuk-body govuk-body-s"
                                            id="accordion-with-summary-sections-summary-1">
                                            <span id="y">0</span> selected
                                        </div>
                                    </div>
                                    <div id="accordion-with-summary-sections-content-1"
                                        class="govuk-accordion__section-content"
                                        aria-labelledby="accordion-with-summary-sections-heading-1">
                                        <fieldset class="govuk-fieldset">
                                            <div class="govuk-form-group filterSearch">
                                                <label class="govuk-label filterLabel" for="searchFundingStream">
                                                    Search for funding stream
                                                </label>
                                                <input class="govuk-input filterSearchInput govuk-!-margin-bottom-2"
                                                    id="searchFundingStream" autocomplete="off" name="searchBox"
                                                    type="text">
                                            </div>

                                            <div class="govuk-checkboxes govuk-checkboxes--small filterbyCheckbox"
                                                id="filterBySchoolResults">
                                                <div class="govuk-checkboxes__item govuk-!-margin-top-2">
                                                    <input class="govuk-checkboxes__input" id="showHideChange"
                                                        name="filterBySchoolResultsFilter1"
                                                        onclick="showMe('filterFundingStreamOption1'), updateStreamCount()"
                                                        type="checkbox">
                                                    <label class="govuk-label govuk-checkboxes__label"
                                                        for="showHideChange">
                                                        PE and sports grant <span>(1)</span>
                                                    </label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    <input class="govuk-checkboxes__input" id="showHideChangeF2"
                                                        name="filterBySchoolResultsFilter2"
                                                        onclick="showMeF2('filterFundingStreamOption2'), updateStreamCount()"
                                                        type="checkbox">
                                                    <label class="govuk-label govuk-checkboxes__label"
                                                        for="showHideChangeF2">
                                                        16 to 19 <span>(1)</span>
                                                    </label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    <input class="govuk-checkboxes__input" id="showHideChangeF3"
                                                        onclick="showMeF3('filterFundingStreamOption3'), updateStreamCount()"
                                                        name="filterBySchoolResultsFilter3" type="checkbox">
                                                    <label class="govuk-label govuk-checkboxes__label"
                                                        for="showHideChangeF3">
                                                        General annual grant <span>(1)</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="govuk-accordion__section">
                                    <div class="govuk-accordion__section-header">
                                        <h2 class="govuk-accordion__section-heading">
                                            <span
                                                class="govuk-accordion__section-button govuk-body govuk-!-font-size-19"
                                                id="accordion-with-summary-sections-heading-1">
                                                <span class="govuk-visually-hidden">Filter by</span>
                                                Funding period
                                            </span>
                                        </h2>
                                        <div class="govuk-accordion__section-summary govuk-body govuk-body-s"
                                            id="accordion-with-summary-sections-summary-1">
                                            <span id="periodCount">0</span> selected
                                        </div>
                                    </div>
                                    <div id="accordion-with-summary-sections-content-1"
                                        class="govuk-accordion__section-content"
                                        aria-labelledby="accordion-with-summary-sections-heading-1">
                                        <fieldset class="govuk-fieldset">
                                            <div class="govuk-form-group filterSearch">
                                                <label class="govuk-label filterLabel" for="searchFundingPeriod">
                                                    Search for funding period
                                                </label>
                                                <input class="govuk-input filterSearchInput govuk-!-margin-bottom-2"
                                                    id="searchFundingPeriod" autocomplete="off"
                                                    name="searchFundingPeriod" type="text">
                                            </div>
                                            <div class="govuk-checkboxes govuk-checkboxes--small filterbyCheckbox"
                                                id="filterBySchoolResults">
                                                <div class="govuk-checkboxes__item govuk-!-margin-top-2">
                                                    <input class="govuk-checkboxes__input" id="showHideChangeF4"
                                                        name="filterByFinancialYear2020"
                                                        onclick="showMeF4('filterFundingStreamOption4'), updatePeriodCount()"
                                                        type="checkbox" value="hmrc">
                                                    <label class="govuk-label govuk-checkboxes__label"
                                                        for="showHideChangeF4">
                                                        Financial year 2020 to 2021 <span>(1)</span>
                                                    </label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    <input class="govuk-checkboxes__input" id="showHideChangeF5"
                                                        name="filterByAcademicYear2019"
                                                        onclick="showMeF5('filterFundingStreamOption5'), updatePeriodCount()"
                                                        type="checkbox" value="hmrc">
                                                    <label class="govuk-label govuk-checkboxes__label"
                                                        for="showHideChangeF5">
                                                        Academic year 2019 to 2020 <span>(1)</span>
                                                    </label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    <input class="govuk-checkboxes__input" id="showHideChangeF6"
                                                        name="filterByAcademies"
                                                        onclick="showMeF6('filterFundingStreamOption6'), updatePeriodCount()"
                                                        type="checkbox" value="hmrc">
                                                    <label class="govuk-label govuk-checkboxes__label"
                                                        for="showHideChangeF6">
                                                        Academies and schools academic <span>(1)</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="govuk-accordion__section ">
                                    <div class="govuk-accordion__section-header">
                                        <h2 class="govuk-accordion__section-heading">
                                            <span
                                                class="govuk-accordion__section-button govuk-body govuk-!-font-size-19"
                                                id="accordion-with-summary-sections-heading-1">
                                                <span class="govuk-visually-hidden">Filter by</span>
                                                Status
                                            </span>
                                        </h2>
                                        <div class="govuk-accordion__section-summary govuk-body govuk-body-s"
                                            id="accordion-with-summary-sections-summary-1">
                                            <span id="statusCount">0</span> selected
                                        </div>
                                    </div>
                                    <div id="accordion-with-summary-sections-content-1"
                                        class="govuk-accordion__section-content"
                                        aria-labelledby="accordion-with-summary-sections-heading-1">
                                        <fieldset class="govuk-fieldset">
                                            <div class="govuk-checkboxes govuk-checkboxes--small filterbyCheckbox"
                                                id="filterBySchoolResults">
                                                <div class="govuk-checkboxes__item govuk-!-margin-top-2">
                                                    <input class="govuk-checkboxes__input" id="showHideChangeF7"
                                                        name="filterByApproved"
                                                        onclick="showMeF7('filterFundingStreamOption7'), updateStatusCount()"
                                                        type="checkbox" value="hmrc">
                                                    <label class="govuk-label govuk-checkboxes__label"
                                                        for="showHideChangeF7">
                                                        Approved <span>(4)</span>
                                                    </label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    <input class="govuk-checkboxes__input" id="showHideChangeF8"
                                                        name="filterByReleased"
                                                        onclick="showMeF8('filterFundingStreamOption8'), updateStatusCount()"
                                                        type="checkbox" value="hmrc">
                                                    <label class="govuk-label govuk-checkboxes__label"
                                                        for="showHideChangeF8">
                                                        Released <span>(2)</span>
                                                    </label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    <input class="govuk-checkboxes__input" id="showHideChangeF9"
                                                        name="filterByUpdated"
                                                        onclick="showMeF9('filterFundingStreamOption9'), updateStatusCount()"
                                                        type="checkbox" value="hmrc">
                                                    <label class="govuk-label govuk-checkboxes__label"
                                                        for="showHideChangeF9">
                                                        Updated <span>(4)</span>
                                                    </label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    <input class="govuk-checkboxes__input" id="showHideChangeF10"
                                                        name="filterByError"
                                                        onclick="showMeF10('filterFundingStreamOption10'), updateStatusCount()"
                                                        type="checkbox" value="hmrc">
                                                    <label class="govuk-label govuk-checkboxes__label"
                                                        for="showHideChangeF10">
                                                        Error <span>(6)</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">Specification</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">Chosen for funding</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">Last edited date</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">
                        <span class="govuk-visually-hidden">
                            Specification
                        </span>
                        Status
                    </th>
                </tr>
            </thead>
            <tbody class="govuk-table__body" id="mainContentResults">
                <tr class="govuk-table__row" id="newSpecSource">
                    <th scope="row" class="govuk-table__header">
                        <a id="fundingStreamLink" href="fundingLineStructure-chosen.html">{{ data['spec-name'] }}</a>
                    </th>
                    <td class="govuk-table__cell">8 Sept 2020 10:54am</td>
                    <td class="govuk-table__cell">Draft</td>
                </tr>
                <tr class="govuk-table__row" id="showDSGSIT">
                    <th scope="row" class="govuk-table__header"><a href="fundingLineStructure">DSG SIT</a></th>
                    <td class="govuk-table__cell"><span class="govuk-visually-hidden">
                            Not chosen for funding
                        </span>
                    </td>
                    <td class="govuk-table__cell">11 Nov 2019 10:54am</td>
                    <td class="govuk-table__cell">Draft</td>
                </tr>
                <tr class="govuk-table__row" id="show1619">
                    <th scope="row" class="govuk-table__header"><a href="fundingLineStructure-chosen.html">16 to 19</a>
                    </th>
                    <td class="govuk-table__cell"><strong class="govuk-tag">YES
                            <span class="govuk-visually-hidden">
                                chosen for funding
                            </span>
                        </strong>
                    </td>
                    <td class="govuk-table__cell">28 Jul 2020 10:54am</td>
                    <td class="govuk-table__cell">Approved</td>
                </tr>
                
                <tr class="govuk-table__row" id="show1619">
                    <th scope="row" class="govuk-table__header"><a href="fundingLineStructure-chosen.html">16 to 19</a>
                    </th>
                    <td class="govuk-table__cell"><strong class="govuk-tag">YES
                            <span class="govuk-visually-hidden">
                                chosen for funding
                            </span>
                        </strong>
                    </td>
                    <td class="govuk-table__cell">28 Jul 2020 10:54am</td>
                    <td class="govuk-table__cell">Approved</td>
                </tr>
                <tr class="govuk-table__row" id="show1619">
                    <th scope="row" class="govuk-table__header"><a href="fundingLineStructure-chosen1.html">16 to 19 Mainstream 2022 to 2023</a>
                    </th>
                    <td class="govuk-table__cell">
                            <span class="govuk-visually-hidden"> 
                                chosen for funding
                            </span>
                        </strong>
                    </td>
                    <td class="govuk-table__cell">24 March 2023 10:54am</td>
                    <td class="govuk-table__cell">Draft</td>
                </tr>
                <tr class="govuk-table__row" id="show1619">
                    <th scope="row" class="govuk-table__header"><a href="fundingLineStructure-chosen1.html">16 to 19 Mainstream 2023 to 2024</a>
                    </th>
                    <td class="govuk-table__cell">
                            <span class="govuk-visually-hidden"> 
                                chosen for funding
                            </span>
                        </strong>
                    </td>
                    <td class="govuk-table__cell">24 March 2024 10:54am</td>
                    <td class="govuk-table__cell">Draft</td>
                </tr>
                <!-- <tr class="govuk-table__row" id="show1619">
                    <th scope="row" class="govuk-table__header"><a href="fundingLineStructure-chosen-variation.html">16 to 19 Mainstream1 2022 to 2023</a>
                    </th>
                    <td class="govuk-table__cell">
                            <span class="govuk-visually-hidden"> 
                                chosen for funding
                            </span>
                        </strong>
                    </td>
                    <td class="govuk-table__cell">24 March 2023 10:54am</td>
                    <td class="govuk-table__cell">Draft</td>
                </tr> -->
                <tr class="govuk-table__row" id="show1619">
                    <th scope="row" class="govuk-table__header"><a href="./datasets/dataset/fundingLineStructure-chosen.html">16 to 19</a>
                    </th>
                    <td class="govuk-table__cell"><strong class="govuk-tag">YES
                            <span class="govuk-visually-hidden">
                                chosen for funding
                            </span>
                        </strong>
                    </td>
                    <td class="govuk-table__cell">28 Jul 2023 10:54am</td>
                    <td class="govuk-table__cell">Approved</td>
                </tr>
                <tr class="govuk-table__row" id="showGAG">
                    <th scope="row" class="govuk-table__header"><a href="fundingLineStructure-gag-chosen.html">Academies General Annual Grant 2022 to 2023</a>
                    </th>
                    <td class="govuk-table__cell"><strong class="govuk-tag">YES
                            <span class="govuk-visually-hidden">
                                chosen for funding
                            </span>
                        </strong>
                    </td>
                    <td class="govuk-table__cell">23 Nov 2022 12:30PM</td>
                    <td class="govuk-table__cell">Approved</td>
                </tr>
                <tr class="govuk-table__row" id="showGAG">
                    <th scope="row" class="govuk-table__header"><a href="fundingLineStructure-report.html">16 to 19</a>
                    </th>
                    <td class="govuk-table__cell">
                    </td>
                    <td class="govuk-table__cell">23 Nov 2023 12:30PM</td>
                    <td class="govuk-table__cell">Draft</td>
                </tr>
                <tr class="govuk-table__row" id="showGAG">
                    <th scope="row" class="govuk-table__header"><a href="fundingLineStructure-gag">General annual
                            grant</a>
                    </th>
                    <td class="govuk-table__cell"><span class="govuk-visually-hidden">
                            Not chosen for funding
                        </span></td>
                    <td class="govuk-table__cell">14 Mar 2021 10:54am</td>
                    <td class="govuk-table__cell">Approved</td>
                </tr>
                <tr class="govuk-table__row" id="showGAG">
                    <th scope="row" class="govuk-table__header"><a href="fundingLineStructure-dada-chosen.html">GAG_2223</a>
                    </th>
                    <td class="govuk-table__cell"><strong class="govuk-tag">YES
                            <span class="govuk-visually-hidden">
                                chosen for funding
                            </span>
                        </strong>
                    </td>
                    <td class="govuk-table__cell">23 Nov 2022 12:30PM</td>
                    <td class="govuk-table__cell">Approved</td>
                </tr>
                
            </tbody>
        </table>
        <nav class="govuk-!-margin-top-9" role="navigation" aria-label="Pagination">
            <div class="pagination__summary">Showing 101 - 150 of 246 results</div>
            <ul class="pagination">
                <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Previous page"><span
                            aria-hidden="true" role="presentation">&laquo;</span> Previous</a></li>
                <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 1">1</a></li>
                <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 2">2</a></li>
                <li class="pagination__item"><a class="pagination__link current" href="#0" aria-current="true"
                        aria-label="Page 3, current page">3</a></li>
                <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 4">4</a></li>
                <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 5">5</a></li>
                <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Next page">Next <span
                            aria-hidden="true" role="presentation">&raquo;</span></a></li>
            </ul>
        </nav>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script>
        window.onload = function () {
            let newDataSource = sessionStorage.getItem('new spec')
            let tr = document.getElementById('newSpecSource')
            console.log(newDataSource)
            if (newDataSource === 'true') {
                tr.style.display = " ";
            } else {
                tr.style.display = "none";
            }
            let fundingStream = sessionStorage.getItem('funding stream')
            document.getElementById('fundingStreamLink').href = fundingStream
        }

        // Show me the first filter  

        function showMe(box) {

            var chboxs = document.getElementsByName("filterBySchoolResultsFilter1");
            var vis = "none";
            for (var i = 0; i < chboxs.length; i++) {
                if (chboxs[i].checked) {
                    vis = "block";
                    break;
                }
            }
            document.getElementById(box).style.display = vis;
        }

        // Show me the second filter 


        function showMeF2(box) {

            var chboxs = document.getElementsByName("filterBySchoolResultsFilter2");
            var vis = "none";
            for (var i = 0; i < chboxs.length; i++) {
                if (chboxs[i].checked) {
                    vis = "block";
                    break;
                }
            }
            document.getElementById(box).style.display = vis;
        }

        // Show me the third filter 

        function showMeF3(box) {

            var chboxs = document.getElementsByName("filterBySchoolResultsFilter3");
            var vis = "none";
            for (var i = 0; i < chboxs.length; i++) {
                if (chboxs[i].checked) {
                    vis = "block";
                    break;
                }
            }
            document.getElementById(box).style.display = vis;
        }

        // Show me funding stream 

        function showMeF4(box) {

            var chboxs = document.getElementsByName("filterByFinancialYear2020");
            var vis = "none";
            for (var i = 0; i < chboxs.length; i++) {
                if (chboxs[i].checked) {
                    vis = "block";
                    break;
                }
            }
            document.getElementById(box).style.display = vis;
        }

        function showMeF5(box) {

            var chboxs = document.getElementsByName("filterByAcademicYear2019");
            var vis = "none";
            for (var i = 0; i < chboxs.length; i++) {
                if (chboxs[i].checked) {
                    vis = "block";
                    break;
                }
            }
            document.getElementById(box).style.display = vis;
        }

        function showMeF6(box) {

            var chboxs = document.getElementsByName("filterByAcademies");
            var vis = "none";
            for (var i = 0; i < chboxs.length; i++) {
                if (chboxs[i].checked) {
                    vis = "block";
                    break;
                }
            }
            document.getElementById(box).style.display = vis;
        }

        // Filter by Status 

        function showMeF7(box) {

            var chboxs = document.getElementsByName("filterByApproved");
            var vis = "none";
            for (var i = 0; i < chboxs.length; i++) {
                if (chboxs[i].checked) {
                    vis = "block";
                    break;
                }
            }
            document.getElementById(box).style.display = vis;
        }

        function showMeF8(box) {

            var chboxs = document.getElementsByName("filterByReleased");
            var vis = "none";
            for (var i = 0; i < chboxs.length; i++) {
                if (chboxs[i].checked) {
                    vis = "block";
                    break;
                }
            }
            document.getElementById(box).style.display = vis;
        }

        function showMeF9(box) {

            var chboxs = document.getElementsByName("filterByUpdated");
            var vis = "none";
            for (var i = 0; i < chboxs.length; i++) {
                if (chboxs[i].checked) {
                    vis = "block";
                    break;
                }
            }
            document.getElementById(box).style.display = vis;
        }

        function showMeF10(box) {

            var chboxs = document.getElementsByName("filterByError");
            var vis = "none";
            for (var i = 0; i < chboxs.length; i++) {
                if (chboxs[i].checked) {
                    vis = "block";
                    break;
                }
            }
            document.getElementById(box).style.display = vis;
        }


        function toggleMe() {
            var x = document.getElementsByClassName("filter__content");

            var i;
            for (i = 0; i < x.length - 1; i++) {
                x[i].classList.toggle("hidden")
            }
        }

        // Counter for checkboxes in funding stream

        var updateStreamCount = function () {
            var x = $(".govuk-checkboxes__input:checked").length;
            document.getElementById("y").innerHTML = x;
        };

        // Counter for checkboxes in funding period 

        var updatePeriodCount = function () {
            var x = $(".govuk-checkboxes__input:checked").length;
            document.getElementById("periodCount").innerHTML = x;
        };

        // Counter for checkboxes in status

        var updateStatusCount = function () {
            var x = $(".govuk-checkboxes__input:checked").length;
            document.getElementById("statusCount").innerHTML = x;
        };

        //Funding Stream 

        document.getElementById('showHideChange').onchange = function () {
            if ($('input[type=checkbox]:checked').length > 0) {
                document.getElementById('showHideText').style.display = "none";
                document.getElementById('fundingStreamText').style.display = "block";
            } else {
                document.getElementById('showHideText').style.display = "block";
                document.getElementById('fundingStreamText').style.display = "none";
            }

        };
        document.getElementById('showHideChangeF2').onchange = function () {
            if ($('input[type=checkbox]:checked').length > 0) {
                document.getElementById('showHideText').style.display = "none";
                document.getElementById('fundingStreamText').style.display = "block";
            } else {
                document.getElementById('showHideText').style.display = "block";
                document.getElementById('fundingStreamText').style.display = "none";
            }
        };
        document.getElementById('showHideChangeF3').onchange = function () {
            if ($('input[type=checkbox]:checked').length > 0) {
                document.getElementById('showHideText').style.display = "none";
                document.getElementById('fundingStreamText').style.display = "block";
            } else {
                document.getElementById('showHideText').style.display = "block";
                document.getElementById('fundingStreamText').style.display = "none";
            }
        };

        //Funding Period 

        document.getElementById('showHideChangeF4').onchange = function () {
            if ($('input[type=checkbox]:checked').length > 0) {
                document.getElementById('showHideText').style.display = "none";
                document.getElementById('fundingPeriodText').style.display = "block";
            } else {
                document.getElementById('showHideText').style.display = "block";
                document.getElementById('fundingPeriodText').style.display = "none";
            }
        };

        document.getElementById('showHideChangeF5').onchange = function () {
            if ($('input[type=checkbox]:checked').length > 0) {
                document.getElementById('showHideText').style.display = "none";
                document.getElementById('fundingPeriodText').style.display = "block";
            } else {
                document.getElementById('showHideText').style.display = "block";
                document.getElementById('fundingPeriodText').style.display = "none";
            }
        };

        document.getElementById('showHideChangeF6').onchange = function () {
            if ($('input[type=checkbox]:checked').length > 0) {
                document.getElementById('showHideText').style.display = "none";
                document.getElementById('fundingPeriodText').style.display = "block";
            } else {
                document.getElementById('showHideText').style.display = "block";
                document.getElementById('fundingPeriodText').style.display = "none";
            }
        };

        //Status 

        document.getElementById('showHideChangeF7').onchange = function () {
            if ($('input[type=checkbox]:checked').length > 0) {
                document.getElementById('showHideText').style.display = "none";
                document.getElementById('statusText').style.display = "block";
            } else {
                document.getElementById('showHideText').style.display = "block";
                document.getElementById('statusText').style.display = "none";
            }
        };

        document.getElementById('showHideChangeF8').onchange = function () {
            if ($('input[type=checkbox]:checked').length > 0) {
                document.getElementById('showHideText').style.display = "none";
                document.getElementById('statusText').style.display = "block";
            } else {
                document.getElementById('showHideText').style.display = "block";
                document.getElementById('statusText').style.display = "none";
            }
        };

        document.getElementById('showHideChangeF9').onchange = function () {
            if ($('input[type=checkbox]:checked').length > 0) {
                document.getElementById('showHideText').style.display = "none";
                document.getElementById('statusText').style.display = "block";
            } else {
                document.getElementById('showHideText').style.display = "block";
                document.getElementById('statusText').style.display = "none";
            }
        };

        document.getElementById('showHideChangeF10').onchange = function () {
            if ($('input[type=checkbox]:checked').length > 0) {
                document.getElementById('showHideText').style.display = "none";
                document.getElementById('statusText').style.display = "block";
            } else {
                document.getElementById('showHideText').style.display = "block";
                document.getElementById('statusText').style.display = "none";
            }
        };
    </script>

    {% endblock %}