{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<div class="govuk-grid-row  govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-full ">
        <div class="govuk-breadcrumbs govuk-!-margin-bottom-5">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/start.html">Calculate funding</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">Specifications</li>
            </ol>
        </div>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Specifications</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <a href="createSpecification" class="govuk-button govuk-button--primary" data-module="govuk-button">
            Create specification
        </a>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-s">Showing 1-2 of 2 specifications</p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group filterbyContainer">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m filterbyHeading">
                    <h4 class="govuk-heading-s"> Search</h4>
                </legend>
                <div class="govuk-form-group filterSearch">
                    <label class="govuk-label filterLabel" for="filter-by-type">
                        Search
                    </label>
                    <input class="govuk-input filterSearchInput govuk-!-margin-bottom-2" id="mainContentSearch"
                        autocomplete="off" name="search" type="text">
                </div>
            </fieldset>
        </div>

        <div class="govuk-form-group filterbyContainer">
            <fieldset class="govuk-fieldset">
                <button
                    class="govuk-fieldset__legend govuk-fieldset__legend--m filterbyHeading filter-expand govuk-button">
                    <h4 class="govuk-heading-s">Filter by funding stream <span><i class="material-icons right-align">
                                keyboard_arrow_down</i></span>
                    </h4>
                    <p class="govuk-body-s govuk-!-margin-bottom-0">0 Selected</p>
                </button>
                <div id="filter-content" class="filter-content">
                    <div class="govuk-form-group filterSearch">
                        <label class="govuk-label filterLabel" for="filter-by-type">
                            Search
                        </label>
                        <input class="govuk-input filterSearchInput" id="myInput" autocomplete="off" name="search"
                            type="text">
                    </div>
                    <div class="govuk-checkboxes govuk-checkboxes--small filterbyCheckbox" id="filterBySchoolResults">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-1" name="organisation"
                                type="checkbox" value="hmrc">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                PE and sports grant <span>(1)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-2" name="organisation"
                                type="checkbox" value="employment-tribunal" disabled>
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                                Genera annual grant <span>(0)</span>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="govuk-form-group filterbyContainer">
            <fieldset class="govuk-fieldset">
                <button
                    class="govuk-fieldset__legend govuk-fieldset__legend--m filterbyHeading filter-expand govuk-button">
                    <h4 class="govuk-heading-s">Filter by funding period<span><i class="material-icons right-align">
                                keyboard_arrow_down</i></span>
                    </h4>
                    <p class="govuk-body-s govuk-!-margin-bottom-0">0 Selected</p>
                </button>
                <div id="filter-content" class="filter-content">
                    <div class="govuk-form-group filterSearch">
                        <label class="govuk-label filterLabel" for="filter-by-type">
                            Search
                        </label>
                        <input class="govuk-input filterSearchInput" id="myInput" autocomplete="off" name="search"
                            type="text">
                    </div>
                    <div class="govuk-checkboxes govuk-checkboxes--small filterbyCheckbox" id="filterBySchoolResults">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-1" name="organisation"
                                type="checkbox" value="hmrc">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                Financial year 2020 to 2021 <span>(1)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-2" name="organisation"
                                type="checkbox" value="employment-tribunal" disabled>
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                                Academic year 2019 to 2020 <span>(0)</span>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="govuk-form-group filterbyContainer">
            <fieldset class="govuk-fieldset">
                <button
                    class="govuk-fieldset__legend govuk-fieldset__legend--m filterbyHeading filter-expand govuk-button">
                    <h4 class="govuk-heading-s">Filter by status <span><i class="material-icons right-align">
                                keyboard_arrow_down</i></span>
                    </h4>
                    <p class="govuk-body-s govuk-!-margin-bottom-0">0 Selected</p>
                </button>
                <div id="filter-content" class="filter-content">
                    <div class="govuk-checkboxes govuk-checkboxes--small filterbyCheckbox">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-approved" name="filter-by-approved"
                                autocomplete="off" type="checkbox" value="approved">
                            <label class="govuk-label govuk-checkboxes__label" for="approved">
                                Approved <span>(4)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-released" name="filter-by-released"
                                autocomplete="off" type="checkbox" value="released">
                            <label class="govuk-label govuk-checkboxes__label" for="released">
                                Released <span>(2)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-updated" name="filter-by-updated"
                                autocomplete="off" type="checkbox" value="updated">
                            <label class="govuk-label govuk-checkboxes__label" for="updated">
                                Updated <span>(4)</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter-by-error" name="filter-by-error"
                                autocomplete="off" type="checkbox" value="error" disabled>
                            <label class="govuk-label govuk-checkboxes__label" for="error">
                                Error <span>(6)</span>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <a href="#" class="govuk-link right-align" onclick="$('input:checkbox').removeAttr('checked');">
            Clear filters</a>
    </div>

    <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">Specification</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">Last edited data</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">Specification status</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body" id="mainContentResults">
                <tr class="govuk-table__row" id="newSpecSource">
                    <th scope="row" class="govuk-table__header"><a
                            href="fundingLineStructure-chosen.html">{{ data['spec-name'] }}</a></th>
                    <td class="govuk-table__cell">8 September 2020 10:54am</td>
                    <td class="govuk-table__cell">Draft</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="fundingLineStructure">DSG SIT</a></th>
                    <td class="govuk-table__cell">11 November 2019 10:54am</td>
                    <td class="govuk-table__cell">Draft</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="fundingLineStructure-chosen.html">GFT PE and
                            Sport Premium</a><strong class="govuk-tag govuk-!-margin-top-2">Chosen for funding</strong>
                    </th>
                    <td class="govuk-table__cell">28 July 2020 10:54am</td>
                    <td class="govuk-table__cell">Approved</td>
                </tr>
            </tbody>
        </table>
        <nav class="govuk-!-margin-top-9" role="navigation" aria-label="Pagination">
            <div class="pagination__summary">Showing 101 - 150 of 246 results</div>
            <ul class="pagination">
                <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Previous page"><span
                            aria-hidden="true" role="presentation">&laquo;</span> Previous</a></li>
                <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 1">1</a></li>
                <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 2">2</a></li>
                <li class="pagination__item"><a class="pagination__link current" href="#0" aria-current="true"
                        aria-label="Page 3, current page">3</a></li>
                <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 4">4</a></li>
                <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 5">5</a></li>
                <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Next page">Next <span
                            aria-hidden="true" role="presentation">&raquo;</span></a></li>
            </ul>
        </nav>
    </div>


    <script>
        window.onload = function () {
            let newDataSource = sessionStorage.getItem('new spec')
            let tr = document.getElementById('newSpecSource')
            console.log(newDataSource)
            if (newDataSource === 'true') {
                tr.style.display = " ";
            } else {
                tr.style.display = "none";
            }
        }

    </script>

    {% endblock %}