{% extends "layout.html" %}

{% block pageTitle %} 
GOV.UK Prototype Kit 
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/start">
        Home
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="../templatebuilder/templatelisting-basic.html">
        Templates
      </a>
    </li>

  </ol>
  
</div>

{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
            data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a href="">You must select a funding stream to continue</a>
                        </li>
                        <li>
                            <a href="">You must select a funding period to continue</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Create a new template</h1>
    <span class="govuk-caption-l govuk-!-margin-bottom-7">Build a new funding policy template</span>

    <div class="govuk-form-group govuk-form-group--error">

        <label class="govuk-label" for="sort">
        Select a funding stream
    </label>
        <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> You must select a funding stream to continue
    </span>
        <select class="govuk-select" id="sort" name="sort">
            <option value="draft">General annual grant</option>
            <option value="draft">Dedicated schools grant</option>
            <option value="draft">PE and sport premium grant</option>
        </select>
    </div>

    <div class="govuk-form-group govuk-form-group--error">
        <label class="govuk-label" for="sort">
        Select a funding period
    </label>
        <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> You must select a funding period to continue
    </span>
        <select class="govuk-select" id="sort" name="sort">
            <option value="draft">Academic year 2020 to 2021</option>
            <option value="draft">Financial year 2020 to 2021</option>
        </select>
    </div>

    <div class="govuk-form-group">

        <label class="govuk-label" for="more-detail">
        Template description
    </label>
        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="8"
        aria-describedby="more-detail-hint"></textarea>
    </div>
</fieldset>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="createnewtemplate-build" class="govuk-button govuk-button--primary button-createSpecification"
            data-module="govuk-button">
            Create template
        </a>
        <a href="templatelisting.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Back
        </a>
    </div>
</div>

{% endblock %}