{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{%endblock %}

{% block content %}




<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="sidebar-content">
            <h2 class="govuk-heading-l">Edit calculation</h2>
            <fieldset class="govuk-fieldset">
                <div class="govuk-form-group govuk-form-group--error">
                    <div class="govuk-form-group "><label class="govuk-label" for="calc-name">Name</label>
                        <span id="event-name-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden ">Error:</span>This calculation name is already in
                            use.<input class="govuk-input govuk-!-margin-top-2" id="calc-name" name="calc-name"
                                type="text" value="Primary Funding"></div>

                </div>
                <div class="govuk-form-group "><label class="govuk-label" for="calc-name">Calculation
                        ID</label>
                    <input class="govuk-input" id="calc-name" name="calc-name" type="text" value="Calc187684"></div>
                <div class="govuk-form-group"><label class="govuk-label" for="calc-type">Type</label><select
                        class="govuk-select" id="calc-type" name="calc-type">
                        <option value="Cash">Cash</option>
                        <option value="Enum">Enum</option>
                        <option value="Rate">Rate</option>
                        <option value="PupilNumber">Pupil Number</option>
                        <option value="Number">Number</option>
                        <option value="Weighting">Weighting</option>
                        <option value="Boolean">Boolean</option>
                    </select></div>
        </div>



        <div class="govuk-form-group"><label class="govuk-label" for="calc-formula-text">Formula
                Text</label><input class="govuk-input govuk-!-width-two-thirds" id="calc-formula-text"
                name="calc-formula-text" type="text" value="Enter formula text"></div>
        <div class="govuk-form-group"><label class="govuk-label" for="calc-value-format">Value
                Format</label><span id="calculation-name-hint" class="govuk-hint">The way the value should
                show</span><select class="govuk-select" id="calc-value-format" name="calc-value-format">
                <option value="Currency">Currency</option>
            </select></div>
        <div class="govuk-form-group"><label class="govuk-label" for="calc-aggregation-type">Aggregation
                Type</label><select class="govuk-select" id="calc-aggregation-type" name="calc-aggregation-type">
                <option value="None">None</option>
                <option value="Average">Average</option>
                <option value="Sum">Sum</option>
                <option value="GroupRate">GroupRate</option>
                <option value="PercentageChangeBetweenAandB">PercentageChangeBetweenAandB</option>
            </select></div><button class="govuk-button" id="save-button" data-module="govuk-button">Save and
            continue</button>
        <div class="govuk-warning-text"><span class="govuk-warning-text__icon" aria-hidden="true">!</span><strong
                class="govuk-warning-text__text"><span class="govuk-warning-text__assistive">Warning</span>Be careful.
                This will delete all child nodes.</strong></div>
        <div class="govuk-form-group"><button class="govuk-button govuk-button--warning">Delete
                calculation</button>
        </div>
        </fieldset>
    </div>
</div>
</div>

{% endblock %}