{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/start">
        Calculate funding
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="view-funding.html">
        Select specification
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../funding-results.html">
        Funding approval results
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="provider-funding-overview-gag.html">
        Provider funding overview
      </a>
    </li>

  </ol>
  
</div>

{% endblock %}

{% block content %}

<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
    data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
    </h2>
    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
            <li>
                <a href="#totalPercentage">Total must be equal to 100%</a>
            </li>
            <li>
                <a href="#totalAllocation">Total allocation greater than balance available</a>
            </li>
        </ul>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Edit profile for funding line name</h1>
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Barnet London Borough Council</h3>
        <p class="govuk-body-s"><span>UKPRN: </span>123456</p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Total allocation</span>
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">£2,600,000</h2>
        <span class="govuk-caption-m">Instalments paid value</span>
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">£1,000,000</h2>
        <span class="govuk-caption-m">Balance available for profiling</span>
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">£1,600,000</h2>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <table class="govuk-table govuk-!-margin-top-7">
            <caption class="govuk-table__caption">Profiling instalments</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Instalment month</th>
                    <th scope="col" class="govuk-table__header">Payment status</th>
                    <th scope="col" class="govuk-table__header">Instalment number</th>
                    <th scope="col" class="govuk-table__header">Per cent</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Value</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">8 September 2020</th>
                    <td class="govuk-table__cell"><strong class="govuk-tag">Paid</strong></td>
                    <td class="govuk-table__cell">1</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£250,000</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">8 October 2020</th>
                    <td class="govuk-table__cell"><strong class="govuk-tag">Paid</strong></td>
                    <td class="govuk-table__cell">2</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£250,000</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">8 November 2020</th>
                    <td class="govuk-table__cell"><strong class="govuk-tag">Paid</strong></td>
                    <td class="govuk-table__cell">3</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£250,000</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">9 December 2020 </th>
                    <td class="govuk-table__cell"><strong class="govuk-tag">Paid</strong></td>
                    <td class="govuk-table__cell">4</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£250,000</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">12 January 2021</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">5</td>
                    <td class="govuk-table__cell">
                        <div class="govuk-form-group">
                            <div class="govuk-input__wrapper">
                                <input
                                    aria-label="Enter the total percetage for January. Enter 0 if this does not apply"
                                    class="input-suffix govuk-input govuk-input--width-5" id="input-4"
                                    onblur=" sumPercentage()" name="installmentPercentage" type="text" value="10"
                                    aria-describedby="percent">
                                <div class="govuk-input__suffix" aria-hidden="true">%</div>
                            </div>

                        </div>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric ">

                        <div class="govuk-form-group right-align">
                            <div class="govuk-input__wrapper">
                                <div class="govuk-input__prefix right-align" aria-hidden="true">£</div>
                                <input aria-label="Enter the total amount for February. Enter 0 if this does not apply"
                                    class="govuk-input input-prefix govuk-input--width-5" id="input-3"
                                    onblur="sumTotal()" name="installmentValue" type="text" aria-describedby="currency"
                                    autocomplete="off" value="320,000">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">11 February 2021</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">6</td>
                    <td class="govuk-table__cell">
                        <div class="govuk-form-group">
                            <div class="govuk-input__wrapper"> <input
                                    aria-label="Enter the total percetage for January. Enter 0 if this does not apply"
                                    class="input-suffix govuk-input govuk-input--width-5" id="input-4 value="
                                    onblur="sumPercentage()" name="installmentPercentage" type="text value=" value="10"
                                    aria-describedby="percent">
                                <div class="govuk-input__suffix" aria-hidden="true">%</div>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric ">

                        <div class="govuk-form-group right-align">
                            <div class="govuk-input__wrapper">
                                <div class="govuk-input__prefix right-align" aria-hidden="true">£</div>
                                <input aria-label="Enter the total amount for February. Enter 0 if this does not apply"
                                    class="govuk-input input-prefix govuk-input--width-5" id="input-3"
                                    onblur="sumTotal()" name="installmentValue" type="text" aria-describedby="currency"
                                    autocomplete="off" value="320,000">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">6 March 2021</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">7</td>
                    <td class="govuk-table__cell">
                        <div class="govuk-form-group">
                            <div class="govuk-input__wrapper"> <input
                                    aria-label="Enter the total percetage for January. Enter 0 if this does not apply"
                                    class="input-suffix govuk-input govuk-input--width-5" id="input-4 value="
                                    onblur="sumPercentage()" name="installmentPercentage" type="text value=" value="20"
                                    aria-describedby="percent">
                                <div class="govuk-input__suffix" aria-hidden="true">%</div>
                            </div>
                            <a class="govuk-!-margin-top-2 govuk-link" href="">Flat profile</a>
                        </div>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric ">

                        <div class="govuk-form-group right-align">
                            <div class="govuk-input__wrapper">
                                <div class="govuk-input__prefix right-align" aria-hidden="true">£</div>
                                <input aria-label="Enter the total amount for February. Enter 0 if this does not apply"
                                    class="govuk-input input-prefix govuk-input--width-5" id="input-3"
                                    onblur="sumTotal()" name="installmentValue" type="text" aria-describedby="currency"
                                    autocomplete="off" value="160,000">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">8 April 2021</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">8</td>
                    <td class="govuk-table__cell">
                        <div class="govuk-form-group">
                            <div class="govuk-input__wrapper"> <input
                                    aria-label="Enter the total percetage for January. Enter 0 if this does not apply"
                                    class="input-suffix govuk-input govuk-input--width-5" id="input-4 value="
                                    onblur="sumPercentage()" name="installmentPercentage" type="text value=" value="20"
                                    aria-describedby="percent">
                                <div class="govuk-input__suffix" aria-hidden="true">%</div>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric ">

                        <div class="govuk-form-group right-align">
                            <div class="govuk-input__wrapper">
                                <div class="govuk-input__prefix right-align" aria-hidden="true">£</div>
                                <input aria-label="Enter the total amount for February. Enter 0 if this does not apply"
                                    class="govuk-input input-prefix govuk-input--width-5" id="input-3"
                                    onblur="sumTotal()" name="installmentValue" type="text" aria-describedby="currency"
                                    autocomplete="off" value="160,000">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">8 May 2021</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">9</td>
                    <td class="govuk-table__cell">
                        <div class="govuk-form-group">
                            <div class="govuk-input__wrapper"> <input
                                    aria-label="Enter the total percetage for January. Enter 0 if this does not apply"
                                    class="input-suffix govuk-input govuk-input--width-5" id="input-4 value="
                                    onblur="sumPercentage()" name="installmentPercentage" type="text value=" value="20"
                                    aria-describedby="percent">
                                <div class="govuk-input__suffix" aria-hidden="true">%</div>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric ">

                        <div class="govuk-form-group right-align">
                            <div class="govuk-input__wrapper">
                                <div class="govuk-input__prefix right-align" aria-hidden="true">£</div>
                                <input aria-label="Enter the total amount for February. Enter 0 if this does not apply"
                                    class="govuk-input input-prefix govuk-input--width-5" id="input-3"
                                    onblur="sumTotal()" name="installmentValue" type="text" aria-describedby="currency"
                                    autocomplete="off" value="160,000">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">8 June 2021</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">10</td>
                    <td class="govuk-table__cell">
                        <div class="govuk-form-group">
                            <div class="govuk-input__wrapper"> <input
                                    aria-label="Enter the total percetage for January. Enter 0 if this does not apply"
                                    class="input-suffix govuk-input govuk-input--width-5" id="input-4 value="
                                    onblur="sumPercentage()" name="installmentPercentage" type="text value=" value="10"
                                    aria-describedby="percent">
                                <div class="govuk-input__suffix" aria-hidden="true">%</div>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric ">

                        <div class="govuk-form-group right-align">
                            <div class="govuk-input__wrapper">
                                <div class="govuk-input__prefix right-align" aria-hidden="true">£</div>
                                <input aria-label="Enter the total amount for February. Enter 0 if this does not apply"
                                    class="govuk-input input-prefix govuk-input--width-5" id="input-3"
                                    onblur="sumTotal()" name="installmentValue" type="text" aria-describedby="currency"
                                    autocomplete="off" value="160,000">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">8 July 2021</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">11</td>
                    <td class="govuk-table__cell">
                        <div class="govuk-form-group">
                            <div class="govuk-input__wrapper"> <input
                                    aria-label="Enter the total percetage for January. Enter 0 if this does not apply"
                                    class="input-suffix govuk-input govuk-input--width-5" id="input-4 value="
                                    onblur="sumPercentage()" name="installmentPercentage" type="text value=" value="5"
                                    aria-describedby="percent">
                                <div class="govuk-input__suffix" aria-hidden="true">%</div>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric ">

                        <div class="govuk-form-group right-align">
                            <div class="govuk-input__wrapper">
                                <div class="govuk-input__prefix right-align" aria-hidden="true">£</div>
                                <input aria-label="Enter the total amount for February. Enter 0 if this does not apply"
                                    class="govuk-input input-prefix govuk-input--width-5" id="input-3"
                                    onblur="sumTotal()" name="installmentValue" type="text" aria-describedby="currency"
                                    autocomplete="off" value="160,000">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">8 Aug 2021</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">12</td>
                    <td class="govuk-table__cell">
                        <div class="govuk-form-group">
                            <div class="govuk-input__wrapper"> <input
                                    aria-label="Enter the total percetage for January. Enter 0 if this does not apply"
                                    class="input-suffix govuk-input govuk-input--width-5" id="input-4 value="
                                    onblur="sumPercentage()" name="installmentPercentage" type="text value=" value="5"
                                    aria-describedby="percent">
                                <div class="govuk-input__suffix" aria-hidden="true">%</div>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric ">

                        <div class="govuk-form-group right-align">
                            <div class="govuk-input__wrapper">
                                <div class="govuk-input__prefix right-align" aria-hidden="true">£</div>
                                <input aria-label="Enter the total amount for February. Enter 0 if this does not apply"
                                    class="govuk-input input-prefix govuk-input--width-5" id="input-3"
                                    onblur="sumTotal()" name="installmentValue" type="text" aria-describedby="currency"
                                    autocomplete="off" value="160,000">
                            </div>
                        </div>
                    </td>
                </tr>

                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">To be carried forward</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <div class="govuk-form-group">
                            <span id="currency" class="prefix" aria-label="Enter amount in pounds">£</span>
                            <input aria-label="Enter the total amount for August. Enter 0 if this does not apply"
                                class="input-prefix govuk-input " id="carryover" onblur="sumTotal()" name="carryover"
                                type="text" aria-describedby="currency" autocomplete="off" value="7,000">
                        </div>
                    </td>

                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Total allocation</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <span id="event-name-error" class="govuk-error-message" id="totalPercentage">
                            <span class="govuk-visually-hidden">Error:</span>Total must be equal to 100%
                        </span>
                        <span class="govuk-!-margin-right-2 govuk-form-group--error"
                            id="profilePercentage"></span><strong>120%</strong>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric" id="totalAllocation">
                        <span id="event-name-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>Total allocation greater than balance
                            available
                        </span>
                        <strong>£1,700,000</strong><span class="govuk-!-margin-left-2" id="profileTotal"></span>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

<a class="govuk-button govuk-!-margin-right-1" href="javascript:history.back()">
    Apply profile
</a>

<a class="govuk-button govuk-button--secondary" href="javascript:history.back()">
    Cancel
</a>

</div>
</div>

<script>

    // Sum values

    function sumTotal() {
        var arr = document.getElementsByName('installmentValue');
        var total = 0;
        for (var i = 0; i < arr.length; i++) {
            if (parseInt(arr[i].value))
                total += parseInt(arr[i].value);
            console.log(total)
            // Show total value in 'total profile value'
            document.getElementById("profileTotal").innerHTML = total
        }
    }

    // Sum percentages

    function sumPercentage() {
        var arr = document.getElementsByName('installmentPercentage');
        var total = 0;
        for (var i = 0; i < arr.length; i++) {
            if (parseInt(arr[i].value))
                total += parseInt(arr[i].value);
            console.log(total)
            // Show total value in 'total profile value'
            document.getElementById("profilePercentage").innerHTML = total
        }
    }
</script>

{% endblock %}