{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}

{% from "govuk/components/accordion/macro.njk"        import govukAccordion %}
{% from "govuk/components/back-link/macro.njk"        import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"      import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"           import govukButton %}
{% from "govuk/components/character-count/macro.njk"  import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk"       import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk"       import govukDateInput %}
{% from "govuk/components/details/macro.njk"          import govukDetails %}
{% from "govuk/components/error-message/macro.njk"    import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk"    import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"         import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"      import govukFileUpload %}
{% from "govuk/components/input/macro.njk"            import govukInput %}
{% from "govuk/components/inset-text/macro.njk"       import govukInsetText %}
{% from "govuk/components/panel/macro.njk"            import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"     import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"           import govukRadios %}
{% from "govuk/components/select/macro.njk"           import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"        import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk"     import govukSummaryList %}
{% from "govuk/components/table/macro.njk"            import govukTable %}
{% from "govuk/components/tabs/macro.njk"             import govukTabs %}
{% from "govuk/components/tag/macro.njk"              import govukTag %}
{% from "govuk/components/textarea/macro.njk"         import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"     import govukWarningText %}

{% block head %}
{% include "includes/head.html" %}
{% endblock %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{{ govukHeader({
    homepageUrl: "/start",
    containerClasses: "govuk-width-container",
    serviceName: "Calculate funding service (Development)", 
    serviceUrl: "/start",
    navigation: [
      {
        href: "/start",
        text: "Home",
        active: true
      },
      {
        href: "/v1/specifications.html",
        text: "Specifications"
      },
      {
        href: "/v1/datasets/manageData.html",
        text: "Manage data"
      },

      {
        href: "/v1/view-results/viewResults.html",
        text: "View results"
      },
      {
        href: "/v1/funding-approvals/view-funding.html",
        text: "Funding approvals"
      },
      {
        href: "/v1/templatebuilder/templatelisting-basic",
        text: "Templates"
      }
    ]
  }) 
}}
{% endblock %}

{% block beforeContent %}
<div role="complementary">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="account-details right-align govuk-!-margin-bottom-2">
        <div class="account-features">
          <span class="govuk-body-s govuk-!-margin-right-2"><a class="govuk-link"
              href="admin/my-roles-and-permissions">Admin</a></span>
          <span class="govuk-body-s govuk-!-margin-right-2"><a class="govuk-link"
              href="admin/my-roles-and-permissions">My roles and permissions</a></span>
          <span class="govuk-body-s"><a class="govuk-link" href="">Sign out</a></span>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--visible">

{{ govukPhaseBanner({
  containerClasses: "govuk-width-container",
  tag: {
    text: "beta",
    classes: "phase-banner"
  },
  html: 'This is a new service – your <a class="govuk-link" href="https://forms.office.com/Pages/ResponsePage.aspx?id=yXfS-grGoU2187O4s0qC-YJWVbwgF21Alt5-BoBqL_RUNjYxSlJVTFhWR0wwTkgyRzc2RVdDN0VEMC4u">feedback</a> will help us to improve it.'

  })
}}

{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% if useAutoStoreData %}
{% block footer %}
{{ govukFooter({
      meta: {
        items: [
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ]
      }
    }) }}
{% endblock %}
{% endif %}

{% block bodyEnd %}
{% block scripts %}
{% include "includes/scripts.html" %}
{% block pageScripts %}{% endblock %}
{% endblock %}
<!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}