{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-bottom-9">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Calculate funding</h1>
            <span class="govuk-caption-xl">Calculate funding, quality assure the results or approve funding</span>
        </div>
    </div>
</div>

<!-- Top row start -->
<div class="govuk-grid-row govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m"><a href="/v1/specifications">Specifications</a></h3>
        <p class="govuk-body">Create and manage the specifications used to calculate funding.</p>
    </div>
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m"><a href="/v1/datasets/manageData">Manage data</a></h3>
        <p class="govuk-body">Manage data source files or map them to data sets for specification.</p>
    </div>
    <!-- <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m"><a href="/v1/qualityAssurance/quality-assurance">Quality assurance tests</a></h3>
        <p class="govuk-body">View reports and design tests to check calculations and data.</p>
    </div> -->
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-m"><a href="/v1/view-results/viewResults.html">View results</a></h3>
            <p class="govuk-body">View results for providers, calculations and quality assurance tests.</p>
        </div>
    </div>
    <!-- Top row end -->


    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m"><a href="/v1/funding-management">Funding management</a></h3>
        <p class="govuk-body">Approve funding for providers and view how it's been calculated</p>
    </div>

    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m"><a href="./v1/templatebuilder/templatelisting.html">Templates</a></h3>
        <p class="govuk-body">Template builder</p>
    </div>


    <!-- <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m"><a href="">govuk-heading-m</a></h3>
        <p class="govuk-body">govuk-body</p>
    </div> -->
</div>

{% endblock %}